<div id="dashboard-companies" class="page-layout simple right-sidebar" fxLayout="row" style="margin-left: 10px;">

    <!-- CENTER -->
    <div class="center vertical-management" fusePerfectScrollbar>
        <!-- <div class="mat__box mat__box2 mt-20 mr-28">
            <div class="">
                <a routerLink="/apps/home-dashboard/version3" style="text-decoration: none;">
                    <img width="20px" height="20px" src="../../../../../assets/sp1.svg">&nbsp;&nbsp;Dashboard </a>
                <a routerLink="/apps/vertical-management/vertical"
                    style="text-decoration: none;">&nbsp;&nbsp;/&nbsp;&nbsp;Vertical</a>
                <a routerLink="/apps/vertical-management/management/{{vertical_id}}"
                    style="text-decoration: none;">&nbsp;&nbsp;/&nbsp;&nbsp;
                    {{name}}</a>
            </div>
            <div class="row" fxLayoutAlign="space-between center" style="float: right !important;">
                <button style="margin-top: -22px;" mat-raised-button (click)="addTopic()">
                    <mat-icon>add_circle_outline</mat-icon>Add more
                </button>
            </div>
        </div> -->


        <div class="mat__box mat__box2" style="flex-direction: row;
        box-sizing: border-box;
       height: 100px;
        place-content: center space-between;
        align-items: center;    background-color: #039be5 !important;
        color: white !important;">
            <div class="row" fxLayoutAlign="space-between center">
                <div class="" style="color: white;margin-top:40px">
                    <a routerLink="/apps/home-dashboard/version3" style="text-decoration: none; color: white;">
                        <img style="margin-left: 10px;" width="20px" height="20px"
                            src="../../../../../assets/sp1.svg">&nbsp;&nbsp;Dashboard </a>
                    <a routerLink="/apps/vertical-management/vertical"
                        style="text-decoration: none;color: white">&nbsp;&nbsp;/&nbsp;&nbsp;Vertical</a>
                    <a routerLink="/apps/vertical-management/management/{{vertical_id}}"
                        style="text-decoration: none;color: white">&nbsp;&nbsp;/&nbsp;&nbsp;
                        {{name}}</a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-right" style="margin-top: 40px;
            margin-right: 40px;
        ">
                    <button style="margin-top: -22px;" mat-raised-button (click)="addTopic()">
                        <mat-icon>add_circle_outline</mat-icon>Add more
                    </button>
                </div>
            </div>
        </div>






        <!-- START SECOND ROW --> 
        <!-- START DIV -->


        <div class="mat__box">
            <div>
                <h2 class="margin0">
                    <mat-icon (click)="buttontoggle()" style="cursor: pointer;">{{buttonName}}</mat-icon>{{name}}
                    Vertical
                </h2>
                <span class="fill-remaining-space"></span>
            </div>

            <ng-container *ngIf="show">
                <div class="row bg_mat mt-10">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-8" fxLayoutGap="25px">
                        <mat-form-field appearance="outline" fxFlex="50">
                            <mat-label required>Title</mat-label>
                            <input matInput placeholder="Search title name"
                                (keyup)="Search($event.target.value,'title')">
                        </mat-form-field>
                        <!-- </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-8"> -->
                        <mat-form-field appearance="outline" fxFlex="50">
                            <mat-label>Description</mat-label>
                            <input matInput placeholder="Search description"
                                (keyup)="Search($event.target.value,'description')">
                        </mat-form-field>
                    </div>
                </div>


                <!-- </div> -->
                <!-- END DIV -->
                <!-- END SECOND ROW -->


                <div class="row" style="margin-top: 50px">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <mat-table class="mat-table" [dataSource]="dataSource">

                            <!-- Weight Column -->
                            <ng-container matColumnDef="s_no">
                                <mat-header-cell *matHeaderCellDef>S No

                                </mat-header-cell>
                                <mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="cat_name">
                                <mat-header-cell *matHeaderCellDef>Title
                                    <span class="pointer">
                                        <i (click)="updateSortingOrderVerical('cat_name','ASC')"
                                            [class]='(this.sort_column=="cat_name" && this.sort_order=="ASC") ? "sort_column_active material-icons" : "sort_column material-icons"'>
                                            arrow_upward
                                        </i>
                                        <i (click)="updateSortingOrderVerical('cat_name','DESC')"
                                            [class]='(this.sort_column=="cat_name" && this.sort_order=="DESC") ? "sort_column_active material-icons" : "sort_column material-icons"'>
                                            arrow_downward
                                        </i>
                                    </span>
                                </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.cat_name}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="image">
                                <mat-header-cell *matHeaderCellDef>Image
                                </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <mat-icon matTooltip="click to see image" style="cursor: pointer;"
                                        (click)="viewEye(element.image)">remove_red_eye</mat-icon>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="totalVideos">
                                <mat-header-cell *matHeaderCellDef>Videos</mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.totalVideos}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="totalQuizzes">
                                <mat-header-cell *matHeaderCellDef> Quizzes</mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.totalQuizzes}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="totalQuestions">
                                <mat-header-cell *matHeaderCellDef> Questions </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.totalQuestions}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="course_type">
                                <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <div *ngIf="element.course_type == 1">Regular</div>
                                    <div *ngIf="element.course_type == 2">Bonus</div>
                                </mat-cell>
                            </ng-container>

                            <!-- <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
                                <mat-cell *matCellDef="let row"> <span *ngIf="row.status == 1" (click)="status(row.id,0)">
                                  <mat-slide-toggle [checked]="true"></mat-slide-toggle>
                                </span>
                                <span *ngIf="row.status == 0 || row.status == 3" (click)="status(row.id,1)"> <mat-slide-toggle [checked]="false"></mat-slide-toggle></span>
                                </mat-cell> -->

                            <ng-container matColumnDef="status">
                                <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <ui-switch [checked]="element.status == 'Active' ? true : false"
                                        (change)="onChange($event,element.id)"></ui-switch>
                                </mat-cell>
                            </ng-container>

                            <!-- Symbol Column -->





                            <ng-container matColumnDef="action">
                                <mat-header-cell style="  padding-right:  100px;" *matHeaderCellDef> Action
                                </mat-header-cell>

                                <mat-cell style="padding-right:  100px; " *matCellDef="let element"
                                    class="action-input">

                                    <span fxFlex="1 0 auto" fxLayoutAlign="start" style="margin-top: 18px;
                                     ">
                                        <mat-form-field appearance="outline" style="width: 30%;    margin-right: 10px;">
                                            <select matNativeControl (change)="change($event.target.value,element)"
                                                class="new_cls_select_manage">
                                                <option value="" selected="" style="display: none; ">Go To
                                                </option>

                                                <option value="video">videos</option>
                                                <option value="quize">quizzes</option>
                                            </select>
                                        </mat-form-field>
                                        
                                        <button mat-raised-button style="padding: 0px;    background: #039be5 !important;
                                            color: #ffffff !important;
                                            height: 33px;
                                            margin-top: 5px;" [matMenuTriggerFor]="belowMenu">Actions</button>

                                        <mat-menu #belowMenu="matMenu" yPosition="below">
                                            <button mat-menu-item matTooltip="Edit"
                                                (click)="openDialog(element)">Edit</button>

                                            <button mat-menu-item matTooltip="Delete"
                                                (click)="confirmDialog(element)">delete</button>
                                        </mat-menu>
                                    </span>
                                </mat-cell>
                            </ng-container>













                            <ng-container matColumnDef="created">
                                <mat-header-cell style="     padding-right: 19px;
                                    margin-left: -20px;" *matHeaderCellDef> Created date
                                    <span class="pointer">
                                        <i (click)="updateSortingOrderVerical('created','ASC')"
                                            [class]='(this.sort_column=="created" && this.sort_order=="ASC") ? "sort_column_active material-icons" : "sort_column material-icons"'>
                                            arrow_upward
                                        </i>
                                        <i (click)="updateSortingOrderVerical('created','DESC')"
                                            [class]='(this.sort_column=="created" && this.sort_order=="DESC") ? "sort_column_active material-icons" : "sort_column material-icons"'>
                                            arrow_downward
                                        </i>
                                    </span></mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.created}} </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
                        </mat-table>
                        <mat-paginator *ngIf="allItems > 0" #paginator [length]="allItems" [pageIndex]="currentPage"
                            [pageSize]="pageSize" [pageSizeOptions]="[10, 25, 50,100]" showFirstLastButtons
                            (page)="handlePage($event)"></mat-paginator>
                        <div *ngIf="data == '' " style="text-align: center;margin-top: 20px; margin-bottom:20px;">No
                            data available in table</div>
                            <mat-card *ngIf="showloader==true"
                            style="display: flex; justify-content: center; align-items: center">
                            <mat-progress-spinner mode="indeterminate">
                            </mat-progress-spinner>
                          </mat-card>

                        <!--    <div>
                                <div class="container">

                                    <div class="text-center">
                                     

                                        <ul *ngIf="pager.pages && pager.pages.length" class="pagination inline_list">
                                            <li [ngClass]="{disabled:pager.currentPage === 1}">
                                                <a (click)="setPage(1)">First</a>
                                            </li>
                                            <li [ngClass]="{disabled:pager.currentPage === 1}">
                                                <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                                            </li>
                                            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                                                <a (click)="setPage(page)">{{page}}</a>
                                            </li>
                                            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                                <a (click)="setPage(pager.currentPage + 1)">Next</a>
                                            </li>
                                            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                                <a (click)="setPage(pager.totalPages)">Last</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                   
                                <div class="row">
                                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div>Showing {{start}} to {{end}} of {{allItems}} entries</div>
                                 </div>
                                </div>
                                  


                            </div> -->


                    </div>

                </div>

            </ng-container>
        </div>

    </div>
</div>

<!--         <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 mb-12">
                  <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Show Entries</mat-label>
                     <mat-select matNativeControl  (change)="changelimit($event.target.value)">
                        <mat-option value="10">10</mat-option>
                        <mat-option value="25">25</mat-option>
                        <mat-option value="50">50</mat-option>
                        <mat-option value="100">100</mat-option>
                      </mat-select>
                  </mat-form-field>
                </div>
            </div>  -->

<!-- <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
                <div fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto"> -->
<!-- CONTENT -->