.disable
{
  cursor: not-allowed;background-color: #eee;opacity: 1;
}

.pointer{
  cursor: pointer;
}
.sort_column {
  font-weight: 600;
  font-size: 11px !important;
  cursor: pointer;
  // visibility: hidden;
  color: #999;
}
// .table_custom th:hover .sort_column{
//   visibility: visible
// }

.sort_column_active {
  font-weight: 600;
  font-size: 11px !important;
  cursor: pointer;
  color: #999;

  // color: #1a73e8;
}


.speedometer_icon a:before{font-family: FontAwesome;
  content: "\f0e4";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  position: absolute;
  left: -8px;
  top: -1px;}

  .report_top_hover:hover{color:#0677ad !important;}
  .report_top_hover a:hover{color:#0677ad !important;}
