table {
  width: 100%;
}

.p10{
	padding : 10px;
}
.style{
	cursor:pointer;
}

.inline_list{list-style-type: none;}
    .inline_list li{display: inline-block;}
    .inline_list li a{    position: relative;
    float: left;padding: 6px 12px; margin-left: -1px; line-height: 1.42857143; color: #337ab7; text-decoration: none; background-color: #fff; border: 1px solid #ddd;} 

                a {
    cursor: pointer;
}


    .pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
 .pagination ul {
     list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
 }
  ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  li {
    color: #fff;
    display: flex;
    a {
      background-color: #444B6E;
      padding: 5px 10px;

    }
  }
}

:host {

    .content {

        form {
            width: 100%;
            max-width: 800px !important;
        }

        .form-errors-model {
            flex: 1;

            code {
                background: none !important;
            }
        }

        .horizontal-stepper-wrapper,
        .vertical-stepper-wrapper {
            max-width: 800px;
        }
    }
}


/*New Css start*/
.action_btn{background: #1D4A69 !important; color: #fff !important;}
.x_panel { position: relative; margin-bottom: 10px; padding: 38px 17px; display: inline-block; background: #fff; border: 1px solid #E6E9ED; -webkit-column-break-inside: avoid; -moz-column-break-inside: avoid; column-break-inside: avoid; opacity: 1; transition: all .2s ease; }
.export_btn
{border:none;background-color: #039be5 !important ;color: white !important;border-radius:2px;cursor:pointer!important;white-space:nowrap;}
// .mb-8 {
//     margin-bottom: 8px !important;
//     height: 50px !important;
// }
.company_heading {    padding-bottom: 10px;
  width: 220px; color: #fff; background-color: #3195C2; border: 1px solid #3195c2 !important; text-align: center; padding-top: 7px; border-radius: 4px 4px 0 0; font-size: 20px; }
.table{border: 1px solid #e0e0e0;box-shadow: 0 0 6px rgba(32,176,242,0.25);}

.pointer{
    cursor: pointer;
  }
  .sort_column {
    font-weight: 600;
    font-size: 11px !important;
    cursor: pointer;
    // visibility: hidden;
    color: #999;
  }
  // .table_custom th:hover .sort_column{
  //   visibility: visible
  // }
  
  .sort_column_active {
    font-weight: 600;
    font-size: 11px !important;
    cursor: pointer;
    color: #999;
  
    // color: #1a73e8;
  }

  .mat-header-cell {
    font-size: 12px !important;
    font-weight: 600 !important;
    // padding-left: 15px !important;
}

.speedometer_icon a:before{font-family: FontAwesome;
  content: "\f0e4";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  position: absolute;
  left: -8px;
  top: -1px;}

  .report_top_hover:hover{color:#0677ad !important;}
  .report_top_hover a:hover{color:#0677ad !important;}
