
/*=====blog page=======*/
.blog_banner .banner_content h5{color: #fff;}
.blog_banner .banner_content .blog_name{margin: 0 0 5px 0;}
.blog_banner .banner_content h1{margin-bottom: 0} 
.blogs_listing .blog_list_item{background-color: #fff;border-radius: 12px;overflow: hidden;border: 1px solid #ECECEC;box-shadow: rgba(0, 0, 0, 0.08) 0 5px 16px;margin-bottom: 30px;}
.blogs_listing .blog_list_item .content_con{padding: 25px;}
.blogs_listing .blog_list_item .content_con p{margin-bottom: 0;font-size: 14px;line-height: 19px;}
.blogs_listing .blog_list_item .content_con span{display: inline-block;margin-bottom: 5px;padding-right: 10px;}
.blogs_listing .blog_list_item .content_con span:first-child{padding-right: 0;}
.blogs_listing .blog_list_item .content_con .desc{display: block;display: -webkit-box;max-width: 100%;height: 97px;-webkit-line-clamp: 5;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;}
.blogs_listing .blog_list_item .content_con h4{display: block;display: -webkit-box;max-width: 100%;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;text-align: left;}
.blog_list_item .blog_item_preview{width: 100%;object-fit: cover;height: 288px;background-color: #000;}
.pagination_con .pagination_element{display: inline-flex;width: 40px;height: 40px;justify-content: center;align-items: center;margin-right: 10px;}
.active_pagination.pagination_element{background: #9fba3a;color: #fff;border-radius: 100%;}
.active_pagination.pagination_element a{color: #fff;}
.pagination_button{display: inline-block;margin-right: 10px;}
.editors_pick_section{background-color: #F7F7F7;}
.editors_pick_slider .swiper-slide,.editors_pick_slider .swiper-slide .inner_con{position: relative;border-radius: 12px;overflow: hidden;}
.editors_pick_slider .swiper-slide .content{position: absolute;position: absolute;bottom: 0;width: 100%;padding:20px 30px;text-align:left;z-index: 2}
.editors_pick_slider .swiper-slide .content h6{color: #fff;}
.editors_pick_slider .swiper-slide .content p span{color: #fff;}
.editors_pick_slider .swiper-slide .image_con{width: 100%;position: relative;border-radius: 12px;overflow: hidden;z-index: 1;}
.editors_pick_slider .swiper-slide .image_con:after{position: absolute;z-index: 2;content: "";top: 0;left: 0;right: 0;bottom: 0;border-radius: 12px;background-color: rgba(9, 9, 68, 0.5);}
.editors_pick_slider{padding: 0 30px;position: relative;padding-bottom: 50px;}
.editors_pick_slider:before{content: "";z-index: 2;width: 30px;top: 0;bottom: 0;background-color: #f7f7f7;left: 0;display: block;position: absolute;}
.editors_pick_slider:after{content: "";z-index: 2;width: 30px;top: 0;bottom: 0;background-color: #f7f7f7;right: 0;display: block;position: absolute;}
.editors_pick_slider .image_con .slide_item{width: 100%;object-fit: cover;height: 530px;position: relative;z-index: 1}

.stay_touch_section{position: relative;background-color: #fff;background-image: url(../../../assets/images/stay_in_touch.png);-webkit-background-size: cover;background-size: cover;}
.stay_touch_section h1{color: #fff;}
/* .stay_touch_section h6{color: #fff;margin-bottom: 15px;} */
.form_con{display: flex;justify-content: center;align-items: center;}
.form_con .form-control{background: #fff;border: 1px solid #e0e0e0;border-radius: 4px;padding: 14.5px 30px;width: 100%;margin-right: -5px;}

.blog_detail_banner{justify-content: center;align-items: center;display: flex;}
.blog_banner .outer,.blog_detail_banner .outer{width: 100%;}
.blog_detail_banner .banner_content .col-md-12{display: flex;justify-content: center;align-items: center;}
.blog_detail_banner .banner_content .author_image{width: 200px;height: 200px;object-fit: cover;background: #fff;padding: 5px;z-index: 1;}
.author_con{position: relative;}
.blog_detail_banner .banner_content .blog_name{padding-left: 30px;}
.author_con:before {position: absolute;content: "";top: -20px;left: -20px;height: 100%;width: 100%;border: 10px solid #9fba3a;display: inline-block;z-index: -1;}

.blog_details_section .author_other_info span{color:inherit;font-size: inherit;}
.blog_details_section h1{margin: 30px 0;}
.like_share_con{display: block;padding: 30px 0;border-bottom: 1px solid #efefef; }
.like_share_con li{display: inline-block;margin-right: 20px;}
.like_share_con li:last-child{margin-right: 0;}
.like_share_con li a span{background-color:#F7F7F7;border:1px solid #ECECEC;padding: 16px 20px;border-radius: 7px;color: #3E3E3F;font-size: 16px;padding-left: 30px;transition: all ease 0.3s;}
.like_share_con li a{display: flex;align-items: center;}
.like_share_con li a i{width: 38px;height: 38px;display: inline-flex;justify-content: center;align-items: center;color: #fff;background-color: #9FBA3A;border-radius: 7px;margin-right: -19px;z-index: 1;position: relative;transition: all ease 0.3s;}
.like_share_con li a i.fa-facebook-f{background-color: #3A559F;}
.like_share_con li a i.fa-twitter{background-color: #50ABF1;}
.like_share_con li a i.fa-pinterest{background-color: #BD081C;}
.like_share_con li a i.fa-linkedin-in{background-color: #0274B3;}
.like_share_con li a:hover i{margin-right: -12px;}
.like_share_con li a:hover span{box-shadow: 0 3px 9px rgba(0, 0, 0, 0.12);background-color: #ffff;}
.blog_post_button_container{padding: 30px 0;border-bottom: 1px solid #efefef;}
.sec_left{display: flex;}
.comment_container_inner{background-color: #fff;border-radius: 10px;border:1px solid #E6E6E6;display: flex;justify-content: space-between;align-items: center;padding: 35px;margin-top: 20px;box-shadow: 0 3px 10px rgba(0, 0, 0, 0.07);}
.comment_container_inner .user_image{width: 95px;height: 95px;object-fit: cover;border-radius: 200px;border: 1px solid #efefef;margin-right: 25px;display: inline-block;}
.comment_container_inner .image_con{width: 112px;}
.comment_container_inner .detail_sec{display: inline-block;padding-right: 50px;width: calc(100% - 115px)}
.comment_container_inner form{width: 100%;}
.comment_container_inner .detail_sec .user_name{color: #9FBA3A;display: inline-block;margin-right: 20px;}
.comment_container_inner .detail_sec .date{color: #3E3E3F;}
.comment_container_inner .detail_sec p{display: block;display: -webkit-box;max-width: 100%;max-height: 75px;-webkit-line-clamp: 4;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;margin: 10px 0;}
.comment_container_inner .form-group{margin-bottom: 20px;}
.comment_container_inner .form-group .form-control{border: 1px solid #e0e0e0;border-radius: 4px;padding: 15px 20px;width: 100%;}
.comment_container_inner label{color: #727376;margin-bottom: 5px;display: block;}
.comment_container_inner .from_header{display: flex;justify-content: space-between;margin-bottom: 30px;}

.related_post_section .editors_pick_slider:before,.related_post_section .editors_pick_slider:after{background-color:#fff;}
.related_post_section .editors_pick_slider .blog_list_item{margin-bottom: 0;}
/*=====blog page=======*/

/* 
.owl-carousel-holder{
    width:100%;
    float: left;
} */


.carousel-section{
    width: 100%;
    /* height: 400px; */
    /* float: left;
    margin-top: 60px; */
}

.slider-image-section{
    width: 100%;
    /* height:480px; */
    /* float: left; */
}

/* //slider */

.slider-image-section .owl-stage-outer, .slider-image-section .owl-stage, .slider-image-section .owl-item, .slider-image-section .owl-item .item, .slider-image-section .owl-item .item img{
    height: 200px;
}

.owl-nav{
    position: absolute;
    top: 50%;
    width: 100%;
}

.owl-nav button {
    position: absolute;
    outline: none;
}

.owl-prev{
    left: 20px;
}

/* .owl-prev.disabled span{
    color: black;
} */
.owl-prev span{
    color: black;
}

.owl-next{
    right: 20px;
}

/* .owl-next.disabled span{
    color: black;
} */
.owl-next span{
    color: black;
}
.owl-nav button span{
    line-height: 0px;
    color: black;
    font-size: 60px;
    font-weight: bold;
}

.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    height: 554px;
}
