.example-viewport {
  height: 200px;
  width: 200px;
  border: 1px solid black;
}
 
// html,
// body {
//     display: block;
//     flex: 1 0 auto;
//     width: 100%;
//     height: 100%;
//     max-height: 100%;
//     min-height: 100%;
//     margin: 0;
//     padding: 0;
//     overflow: hidden;
// }


.example-dt {
  height: 30px;
  font-weight: bold;
}

.example-dd {
  height: 30px;
}

.mat-list{max-height:155px;overflow-y: auto;}


table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  // width: 25%;
}

#container {
  min-width: 310px;
  max-width: 800px;
  height: 400px;
  margin: 0 auto
}

         a {
    cursor: pointer;
}


    .pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
 .pagination ul {
     list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
 }

  ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  li {
    color: #fff;
    display: flex;
    a {
      background-color: #444B6E;
      padding: 5px 10px;
    }
  }
}

.example-card {
  max-width: 500px;
}

 li.disabled {
  pointer-events: none;
    opacity: 0.6;
}
.tabbing_container .tabs {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  color: #323759;
  font-size: 16px;
  /* border-bottom: 2px solid #f1f1f3; */
  margin-bottom: 0;


  // padding: 6px 15px;
  //   cursor: pointer;
  //   border-radius: 6px;
  //   background-color: #ffffff;
  //   border: 1px solid #e6e7ee;
  //   padding-right: 0;
  //   width: calc(12% - 10px);
  //   display: block !important;
  //   cursor: pointer;
  //   margin: 12px;
}
.pointer{
  
  cursor: pointer;
}
.sort_column { 
  font-weight: 600;
  font-size: 11px !important;
  cursor: pointer;
  // visibility: hidden;
  color: #999;
  margin-right: -5px;
}
// .table_custom th:hover .sort_column{
//   visibility: visible
// }

//apply client and user table sort
.sort{
  font-weight: 600;
  font-size: 11px !important;
  cursor: pointer;
  // visibility: hidden;
  color: #999;
  margin-left: -7px;
}

.user_sort_011{
  font-weight: 600;
  font-size: 11px !important;
  cursor: pointer;
  // visibility: hidden;
  color: #999;
  margin-left: -5px;
}

.sort_column_active {
  font-weight: 600;
  font-size: 11px !important;
  cursor: pointer;
  color: #999;

  // color: #1a73e8;
}
.sort_user{
  
}
.survey_graph ul{justify-content: center;}
.survey_graph ul li { list-style: none;position: relative;padding: 0 0 0 20px}

.survey_graph ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  width: 10px;
  height: 10px;
  background-color:#1976a1 ;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  // stroke:#ff6600;
}
.comparison_graph ul{justify-content: center;}
.comparison_graph ul li { list-style: none;position: relative;padding: 0 0 0 20px}
li.average_label:after
 {content: "";width: 16px; position: absolute; 
   height: 3px; 
    // background: #ff6600; 
     border-radius: 4px;  left: -3px;  top: 8px;}

  .comparison_graph ul li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 5px;
    width: 10px;
    height: 10px;
    background-color: #ff6600;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    stroke:#ff6600;
  }
  
  .black_status  {color: rgb(92, 92, 97);}
  .blue_status {color: #1976a1;}
  .green_status {color: rgb(144, 237, 125);}
  .orange_status{color:rgb(255, 188, 117);}



// .sort_column_active {
//   font-weight: 600;
//   font-size: 14px !important;
//   cursor: pointer;
//   color: #999;

//   // color: #1a73e8;
// }
// .sort_column {
//   font-weight: 600;
//   font-size: 14px !important;
//   cursor: pointer;
//   // visibility: hidden;
//   // color: #999;
//   color: #1a73e8;
// }

.users{
  width: 100%;

}
.tabbing_container .tabs li {
  padding: 6px 15px;
  cursor: pointer;
  border-radius: 6px;
  background-color: #ffffff;
  /* box-shadow: 0 0 6px rgba(32, 176, 242, 0.2); */
  border: 1px solid #e6e7ee;
  padding-right: 0;
  width: calc(17% - 15px);
  display: block !important;
  cursor: pointer;
}
.tabbing_container .tabs li p {
  margin: 0;
  color: #323759;
  display: inline-block;
  line-height: 36px;
  vertical-align: middle;
  /* width: 70px; */
  // color: rgba(0, 0, 0, 0.87);
}
.tabbing_container .tabs li span {
    margin-left: 5px;
    background-color: #3195c2;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(32, 176, 242, 0.40);
    font-size: 14px;
    padding: 8px 15px;
    color: #fff;
    float: right;
    margin-right: -10px;
    max-width: 120px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    min-width: 56px;
}

.mt_cls{
  height:54px !important;

}

// .md-drppicker.drops-down-left.ltr.shown.double.show-ranges 
.daterange{
  top: auto;
  left: -500px !important;
  right: auto;
}




/*New Css start*/
.main_box { background-color: #fff; border: 1px solid #efefef; border-radius: 15px; box-shadow: 0 0 6px rgba(32, 176, 242, 0.25); }
.main_box .table_heading{padding-left: 20px; padding-right:20px; }
.pr-4 {
    padding-right: 4px !important;
    max-width: 100% !important;
    color: #323759;
    font-weight: 600;
    margin: 0;
    font-size: 21px;
    display: inline-block;
    padding-right: 10px;
    margin: auto;
}
.pr-4 .color_value{color: #039be5;}
.select2-search__field{
    width: 100%;
    // min-height: 50px;
    border: 1px solid #e6e7ee;
    border-radius: 10px;
    color: unset;
}
.select2-search__field:hover{background: #3195c2;}
// .graph_section{width: 100%;}
.graph_section .highcharts-container{width:100%;height:300px;}

.reload { background-color: #3195c2; border-radius: 10px; box-shadow: 0 0 10px rgba(32, 176, 242, 0.40); font-size: 18px; padding: 12px; color: #fff; display: inline-block; vertical-align: middle; width: 242px; height: 41px; text-align: center; margin-top: 5px; }
.reload .mat-icon{margin-left:9px;margin-top:6px;}
.industries_datatable_search {padding:2px 0px;}
.graph_dive { background-color: #fff;
  border: 1px solid #efefef; border-radius: 15px;
  box-shadow: 0 0 6px rgba(32, 176, 242, 0.25);margin-top: 30px;
   padding: 20px 15px; height: 435px;}
.graph_dive .total-us p{display:inline-block;
  font-size:17px;color:#323759;margin:0;margin-right:10px;line-height:24px;
  margin-bottom:5px;font-weight:600;}
.graph_dive .total-us p span{color: #039be5;}
.input_date { background-color: #fff; width: 215px; outline: none; background-size: 18px; display: inline-block; color: #989bac; text-align: left; cursor: pointer; margin-top: 0px; }
.total_user_dd { height: 35px !important; background-color: #fff; width: 220px; outline: none; border: 1px solid #e6e7ee; padding: 6px 15px; border-radius: 4px; color: #989bac; margin-right: 9px; margin-top: 4px; }

#data_export_btn {
  float: right;
  background-color: #3195c2;
  font-size: 14px;
  padding: 12px;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  width: auto;
  height: 34px;
  text-align: center;
  border: none;
  line-height: 11px;
  border-radius: 5px;
  margin-left: 8px;
  margin-top: 3px;
}

.right_sec {
  width: calc(100% - 410px);
}
.md-drppicker.double{width: 630px !important;}

// td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
//   padding: 28px;
//   border-bottom-width: 1px;
//   border-bottom-style: solid;
// }

.tabbing_container .tabs li.active{
  position: relative;
}

.e-list-parent.e-ul {display: block;}
.e-list-parent.e-ul .e-list-item{color: #000;}
.e-calendar .e-content td.e-selected span.e-day, .e-bigger.e-small .e-calendar .e-content td.e-selected span.e-day{background-color: #039be5 !important;}
.e-calendar td.e-selected span.e-day{background-color: #039be5 !important;}
.e-list-parent.e-ul .e-list-item.e-active{color: #039be5;}
.tabbing_container .tabs li.active::before {
  content: "";
  width: 90px;
  height: 4px;
  position: absolute;
  bottom: 0;
  background-color: #2f96c3;
  display: inline-block;
  left: 0;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: all ease 0.3s;
}

#container {
  visibility: hidden;
}

#loader {
color: #008cff;
height: 40px;
width: 30%;
position: absolute;
top: 45%;
left: 45%;
}

#element {
  display: block;
  height: 350px;
}

#wrapper {
  width: 250px;
  margin: 0 auto;
}
.customCSS .e-calendar .e-content .e-selected span.e-day, /* csslint allow: adjoining-classes*/
.customCSS .e-calendar .e-content .e-selected span.e-day:hover, /* csslint allow: adjoining-classes*/
.customCSS .e-calendar .e-content .e-today.e-selected:hover span.e-day, /* csslint allow: adjoining-classes*/
.customCSS .e-calendar .e-content .e-today.e-selected span.e-day, /* csslint allow: adjoining-classes*/
.customCSS .e-calendar .e-content .e-selected:hover span.e-day /* csslint allow: adjoining-classes*/
{
background-color: #35b86b;
}
.customCSS .e-calendar .e-content .e-today span.e-day, /* csslint allow: adjoining-classes*/
.customCSS .e-calendar .e-content .e-focused-date.e-today span.e-day { /* csslint allow: adjoining-classes*/
border: 1px solid #35b86b;
color: #ff3337;

}
.customCSS .e-calendar .e-content .e-weekend span { /* csslint allow: adjoining-classes*/
color: #ff3337;
}
.customCSS.e-date-range-wrapper .e-input-group-icon.e-icons.e-active, /* csslint allow: adjoining-classes*/
.customCSS .e-btn.e-flat, /* csslint allow: adjoining-classes*/
.customCSS .e-btn.e-flat:hover { /* csslint allow: adjoining-classes*/
color: #35b86b;
}