.container{
    // margin-left: 20px;
}

    .row {
        margin-right: 20px;
        margin-left:  20px;
    
}
.second_row{
    margin-bottom: 20px;
    background-color: rgba(49,149,194,0.8);
    border-radius: 3px!important;
    width: 300px;
    /* margin-left: 20px; */
    padding: 0 0 2px 14px;
}

.md-drppicker.double {
    width: 533px !important;
}

.example-button-row.hover-button-loginpage:hover{background-color:#0677ad !important;}
 
.example-button-row button,
.example-button-row a {
  margin-right: 8px;
  background-color:  rgba(49, 149, 194, 0.8)
//   #039be5;
}   
.third_row{
    // border: 1px solid black ;
    padding: 22px;
    opacity: 1;
    background: #fff;
}


.calendar.right.ng-star-inserted {
    margin-left: -18px !important;
}
.report_div .h2 h2{color: #ffffff;padding: 10px 0 0;margin: 15px 0 0;}
.more_info{color: #ffffff;text-decoration: none;}
.download_btn{background-color: #039be5 !important;color: #fff !important;}

.hover-button-loginpage:hover{background-color:#0677ad !important;}

.speedometer_icon a:before{font-family: FontAwesome;
    content: "\f0e4";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    position: absolute;
    left: -8px;
    top: -1px;}

    .report_top_hover:hover{color:#0677ad !important;}
    .report_top_hover a:hover{color:#0677ad !important;}



