<div id="dashboard-companies" class="page-layout simple right-sidebar" fxLayout="row" style="margin-left: 10px;">
  <!-- CENTER -->
  <div class="center" fusePerfectScrollbar>
    <!-- <div class="row first_row">
      <div class="">
        <h1>&nbsp;&nbsp;&nbsp;Downloads</h1>
      </div>
      <div class="" style="text-decoration: none;">
        <a routerLink="/apps/home-dashboard/version3" style="text-decoration: none;"> <img width="20px" height="20px" src="../../../../../assets/sp1.svg">&nbsp;&nbsp;Dashboard </a>
        <a routerLink="/apps/download-management/download" style="text-decoration: none;">&nbsp;&nbsp;/&nbsp;&nbsp;Downloads</a>
      </div>
    </div> -->

    <!-- <div class="" style="flex-direction: row;
    box-sizing: border-box;
   height: 100px;
    place-content: center space-between;
    align-items: center;  background-color: #039be5 !important;
    color: white !important;"> -->
  <div class="row" fxLayoutAlign="space-between center">
    <div class="" style="color: white;margin-top:40px">
      <a routerLink="/apps/home-dashboard/version3" style="text-decoration: none;color: white;">
        <img style="margin-left: 10px;" width="20px" height="20px"
          src="../../../../../assets/sp1.svg">&nbsp;&nbsp;Dashboard </a>
      <a routerLink="/apps/download-management/download"
        style="text-decoration: none;color: white">&nbsp;&nbsp;/&nbsp;&nbsp;Downloads</a>

    </div>
    <!-- <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-right" style="margin-top: 28px;;
        margin-right: 40px;
    ">
         <button mat-raised-button (click)="addCompany()">
            <mat-icon>add_circle_outline</mat-icon>Add Company
          </button>
    </div> -->
  </div>
<!-- </div> -->






    <div class="mat__box mt-20 mr-28" style="background-color: white;">
      <div class="h2 mb-8">
        <mat-icon (click)="buttontoggle1()" style="cursor: pointer;">{{buttonName1}}</mat-icon>
        Uploaded Files
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <ng-container *ngIf="show1">

            <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 mb-12 mt-10">
                <mat-form-field appearance="outline" fxFlex="32" style="margin-top: 15px;">
                  <mat-label>Show Entries</mat-label>
                  <select matNativeControl (change)="changelimit($event.target.value)">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select>
                </mat-form-field>
                <!-- END OF MAT-FORM-FIELD-WRAPPER PB-0 MT-0 MB-0 -->
              </div>
              <!-- END OF COL-LG-4 COL-MD-4 COL-SM-12 COL-XS-12 -->
            </div>
            <!-- END OF ROW -->
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <table mat-table [dataSource]="dataSource" class="table">
                  <!-- Name Column -->
                  <ng-container matColumnDef="s_no">
                    <th mat-header-cell *matHeaderCellDef> S.no </th>
                    <td class="style" mat-cell *matCellDef="let element;"> {{element.id}} </td>
                  </ng-container>

                  <!-- Weight Column -->
                  <ng-container matColumnDef="file_name">
                    <th mat-header-cell *matHeaderCellDef> File Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.file_path}} </td>
                  </ng-container>

                  <!-- Symbol Column -->
                  <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Action </th>
                    <td mat-cell *matCellDef="let element"> <button mat-raised-button color="accent" type="submit"
                        class="button" (click)="delete(element)"> Delete </button> </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <!-- <mat-paginator *ngIf="allItems > 0" #paginator [length]="allItems" [pageIndex]="currentPage"
                    [pageSize]="pageSize" [pageSizeOptions]="[10, 25, 50,100]" showFirstLastButtons
                    (page)="handlePage4($event)"></mat-paginator> -->
              </div>
              <!-- END OF COL-LG-4 COL-MD-4 COL-SM-12 COL-XS-12 -->
              <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" style="margin-top: 10px; margin-bottom: 10px;" *ngIf="data == '' ">No data
                  available in table</div>
                  <mat-card *ngIf="showloader==true"
                  style="display: flex; justify-content: center; align-items: center">
                  <mat-progress-spinner mode="indeterminate">
                  </mat-progress-spinner>
                </mat-card> -->
            </div>
            <!-- END OF ROW -->
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <p fxFlex="50" class="pr-4">Showing {{start}} to {{end}} of {{allItems}} entries</p>
              </div>
              <!-- END OF COL-LG-6 COL-MD-6 COL-SM-12 COL-XS-12 -->
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-right">
                <ul *ngIf="pager.pages && pager.pages.length" class="pagination inline_list">
                  <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(1)">First</a>
                  </li>
                  <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                  </li>
                  <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                    <a (click)="setPage(page)">{{page}}</a>
                  </li>
                  <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.currentPage + 1)">Next</a>
                  </li>
                  <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.totalPages)">Last</a>
                  </li>
                </ul>
              </div>
              <!-- END OF COL-LG-6 COL-MD-6 COL-SM-12 COL-XS-12 -->
            </div>
            <!-- END OF ROW -->
          </ng-container>
        </div>
      </div>
    </div>

    <div class="mat__box mt-20 mr-28" style="    background-color: white;">
      <div class="h2 mb-8">
        <mat-icon (click)="buttontoggle()" style="cursor: pointer;">{{buttonName}}</mat-icon>
        Upload file(s)
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <ng-container *ngIf="show">
            <div class="row">

              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <p><strong>NOTE :</strong> The file name will appear as title for downloads.</p>
                <form [formGroup]="downloadForm" action="https://www.enrichedacademy.com/admins/uploadFile" method="post"
                  enctype="multipart/form-data" class="dropzone dz-clickable mt-20" id="fileUpload">
                  <div class="dz-default dz-message" style="border: 1px solid #e0e0e0;
                  height: 200px;
                  width: 100%;
                  opacity: 1;
                  display: block;">
                      <span>Drop files here to upload</span>
                       <input type="file" name="image" (change)="onFileChanged($event)" >   
                      <div class="info" *ngIf="filePreview">  
                       <img [src]="sanitize(filePreview)" width="150" height="150"/>   
                       </div>  
                    <!-- <input type="file" id="uploadPicture" class="hidden-input" accept="application/pdf"
                      (change)="selectFile($event.target.files[0])"> -->
                  </div>
                </form>
                <!-- END OF DROPZONE DZ-CLICKABLE MT-20 -->
              </div>
              <!-- END OF COL-LG-12 COL-MD-12 COL-SM-12 COL-XS-12 -->
            </div>
            <!-- END OF ROW -->
            <div class="row mt-20">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                  <button mat-raised-button color="accent" type="submit" class="button" routerLink="/apps/home-dashboard/version3">Cancel</button>
                  <button mat-raised-button color="accent" type="submit" class="button"
                    style="margin-left: 10px;" routerLink="/apps/download-management/download" (click)="reset()">Reset</button>
                </div>
              </div>
              <!-- END OF COL-LG-12 COL-MD-12 COL-SM-12 COL-XS-12 -->
            </div>
            <!-- END OF ROW -->
          </ng-container>

        </div>
        <!-- END OF COL-LG-12 COL-MD-12 COL-SM-12 COL-XS-12 -->
      </div>
      <!-- END OF ROW -->
    </div>
    <!-- END OF MAT__BOX MT-20 MR-28 -->



  </div>
</div>


<style type="text/css">
  .inline_list {
    list-style-type: none;
  }

  .inline_list li {
    display: inline-block;
  }

  .inline_list li a {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
  }
</style>