<div id="forms" class="page-layout simple fullwidth" fxLayout="column">
    <mat-toolbar class="mb-24 mat-accent">
        <mat-toolbar-row>
            <span style="color: white;"> {{res_data.first_name}} Edit Form</span>
            <span class="example-spacer"></span>
            <button mat-icon-button (click)="onClose()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
            <!-- <mat-icon (click)="onClose()" tabIndex="-1" class="example-icon" aria-hidden="false"
                aria-label="Example delete icon">clear</mat-icon> -->
        </mat-toolbar-row>
    </mat-toolbar>

    <!-- <div class="h1">
            {{res_data.first_name}} Edit Form
        </div> -->

    <!-- CONTENT -->
    <div class="content p-0">



        <div class="mb-24 mt-15" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">

            <!-- REACTIVE FORM EXAMPLE -->

            <form class="p-24 mr-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto"
                name="form" [formGroup]="form" (ngSubmit)="updateForm()">

                <div fxLayout="row " fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                        <mat-label>Company name</mat-label>
                        <input matInput formControlName="company_name" required>
                        <mat-error *ngIf="hasError('company_name', 'required')"> Company Name is required! </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                        <mat-label>Username</mat-label>
                        <input matInput formControlName="user_name" required>
                        <mat-error *ngIf="hasError('user_name', 'required')">Username is required!</mat-error>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                        <mat-label>First name</mat-label>
                        <input matInput formControlName="first_name" required>
                        <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                        <mat-error *ngIf="hasError('first_name', 'required')"> First Name is required! </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                        <mat-label>Last name</mat-label>
                        <input matInput formControlName="last_name" required>
                        <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                        <mat-error *ngIf="hasError('last_name', 'required')">Last Name is required!</mat-error>
                    </mat-form-field>

                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">


                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" required>
                        <mat-error>Email is required!</mat-error>
                        <mat-error>Enter valid is email!</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                        <mat-label>Phone</mat-label>
                        <input matInput formControlName="phone" required>
                        <mat-error *ngIf="hasError('phone', 'required')">Phone is required!</mat-error>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                        <mat-label>Change password</mat-label>
                        <input matInput formControlName="password">
                        <mat-hint>If you would like to change the password type a new one. Otherwise leave this blank.
                        </mat-hint>
                    </mat-form-field>

                    <!-- <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                        <mat-label>Select Client verticalwww *</mat-label>
                        <select matNativeControl formControlName="client_vertical"
                            (change)="getState($event.target.value)">
                            <option selected="" value="">
                                Please select Client verticalwww
                            </option>
                            <option *ngFor="let data of country" value="{{data.id}}">
                                {{data.name}}
                            </option>

                        </select>
                        <mat-error *ngIf="hasError('country', 'required')">Country is required!</mat-error>
                    </mat-form-field> -->
                </div>


                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" style="margin-top: 25px;">
                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                        <mat-label>Country</mat-label>
                        <select matNativeControl formControlName="country" (change)="getcountry($event.target.value)">
                            <option selected="" value="">
                                Please select country
                            </option>
                            <option *ngFor="let data of country" value="{{data.id}}">
                                {{data.name}}
                            </option>

                        </select>
                        <mat-error *ngIf="hasError('country', 'required')">Country is required!</mat-error>
                    </mat-form-field>

                   
                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                        <mat-label>State</mat-label>
                        <select matNativeControl formControlName="state_name" (change)="submitState($event.target.value)">
                            <option selected="" value="">
                                Please select state
                            </option>
                            <option *ngFor="let data of states" value="{{data.id}}">
                                {{data.state_name}}
                            </option>

                        </select>
                        <mat-error *ngIf="hasError('state_name', 'required')">state is required!</mat-error>
                    </mat-form-field>

                    <!-- <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                        <mat-select  formControlName="state" placeholder="select State" (change)="submitState($event.target.value)">
                          <mat-option *ngFor="let data of states" value="{{data.id}}">
                            {{data.state_name}}
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="hasError('state', 'required')">State is required!</mat-error>
                      </mat-form-field> -->


                </div>

                <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                        <mat-label>City</mat-label>
                        <input matInput formControlName="city" required>
                        <mat-error *ngIf="hasError('city', 'required')">City is required!</mat-error>
                    </mat-form-field>



                    <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                        <mat-label>Industry*</mat-label>
                        <mat-select  placeholder={{state_name}}   formControlName="industry">
                          <mat-option  *ngFor="let data of industry" value="{{data.id}}">
                            {{data.name}}
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="hasError('industry', 'required')">Industry is required!</mat-error>

                      </mat-form-field>



                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <!-- <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                        <mat-label>Restrict Add User</mat-label>
                        <input matInput formControlName="res_add_user" required>
                        <mat-error *ngIf="hasError('res_add_user', 'required')">Restrict Add User is required!
                        </mat-error>
                    </mat-form-field> -->
                    <!-- <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                        <mat-label>Default Client Vertical</mat-label>
                        <input matInput formControlName="defoult_vertical" required>
                        <mat-error *ngIf="hasError('defoult_vertical', 'required')">Default Client Vertical is required!
                        </mat-error>
                    </mat-form-field> -->
                </div>

                <h3>Restrict Add User</h3>  
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" style="margin-top: 0px;">
                    <mat-checkbox [checked]= "myModel" formControlName="add_user_restrict">Restrict To Add User</mat-checkbox>

                </div>


                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" style="margin-top:27px;">

                    <button mat-raised-button style="background-color: #039be5;color: white;" type="submit" class="button">Update
                    </button>
                    <button mat-raised-button mat-button mat-dialog-close style="color: white;background-color   : #039be5"
                        class="button cancel">Cancel</button>
                </div>


            </form>


        </div>

    </div>
</div>


 <!-- <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                        <mat-label>State</mat-label>
                        <mat-select  placeholder={{state_name}} formControlName="state">
                            <option selected="" value="">
                                Please select state
                            </option>
                            <option *ngFor="let data of states" value="{{data.id}}">
                                {{data.state_name}}
                            </option>

                        </mat-select>
                        <mat-error *ngIf="hasError('state', 'required')">State is required!</mat-error>
                    </mat-form-field> -->
                    <!-- <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                        <mat-label>Industry *</mat-label>
                        <mat-select  formControlName="industry">
                            <option selected="" value="">
                                Please select industry
                            </option>
                            <option *ngFor="let data of industry" value="{{data.id}}">
                                {{data.name}}
                            </option>

                        </mat-select>
                        <mat-error *ngIf="hasError('industry', 'required')">Industry is required!</mat-error>
                    </mat-form-field> -->
