<div id="forgot-password" fxLayout="column" style="flex-direction: column;
box-sizing: border-box;
display: flex;
width: 100%;
background: url(bg_login.jpg) no-repeat;
background-size: cover;">

    <div id="forgot-password-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="forgot-password-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo">
                <img src="https://staging.enrichedacademy.com//img/wp-img/enriched_logo1.png">
                <!-- <img src="assets/images/logos/fuse.svg"> -->
            </div>

            <div class="title">RECOVER YOUR PASSWORD</div>
            <!-- <form name="forgotPasswordForm" [formGroup]="forgotPasswordForm" (ngSubmit)="updatePassword()"> -->
            <!--  -->
            <form name="forgotPasswordForm" [formGroup]="forgotPasswordForm" (ngSubmit)="updatePassword()" novalidate>

                <span style="color: red;" *ngIf="msgShow==1">We could not find an account with that information. Please
                    try searching again, or simply contact us at support@enrichedacademy.com and we’ll be happy to
                    help!</span>
                <mat-form-field appearance="outline" style="margin-top: 10px;">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email">
                    <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                    <mat-error *ngIf="forgotPasswordForm.get('email').hasError('required')">
                        Email is required
                    </mat-error>
                    <mat-error *ngIf="forgotPasswordForm.get('email').hasError('email')">
                        Please enter email or username
                    </mat-error>
                </mat-form-field>
                <!-- [disabled]="forgotPasswordForm.invalid" -->
                <button mat-raised-button class="submit-button hover-button-loginpage" color="accent"
                    aria-label="Continue">
                    <!-- (click)="updatePassword()" -->
                    Continue
                </button>
                <div *ngIf="msgShow==1">
                    <div *ngIf="showloader==true || bottomMsg== true"
                        style="display: flex; justify-content: center; align-items: center ;">
                       
                      
                        <mat-progress-spinner style=" position: absolute; width: 40px !important; height: 40px !important"  mode="indeterminate">
                              
                            </mat-progress-spinner>

                            <div class="msg">
                                    <p>You will soon be redirected to the videos.
                                        If you are not redirected in a
                                        few secondsreload your brouser by clicking on reload icon
                                       <span> <mat-icon>refresh</mat-icon> </span>in your brouser.</p>
                                    </div>
                    </div>
                </div>
            </form>
            <div class="Lost_password">
                <span class="a" style="color: #888;" [routerLink]="'/apps/admin/login'"> Back to Login
                </span>
            </div>
            <!-- google -->
            <div class="back_home" style="margin-top: 20px;">
                <span class="a" style="color: #888;"> Back to Home</span>
            </div>
            <!-- facebook -->
            <div mat-raised-button class="" style="margin-top: 20px;">
                <span style="color: #888;">©2020 All Rights Reserved.</span>

            </div>


            <!-- <div class="login" fxLayout="row" fxLayoutAlign="center center">
                <a class="link" [routerLink]="'/apps/admin/login'" style="text-decoration: none;">Go back to login</a>
            </div> -->
            <!-- [routerLink]="'/apps/admin/login'" -->
        </div>

    </div>

</div>