<div id="login" fxLayout="column">

    <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="login-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo">
                <img src="https://staging.enrichedacademy.com//img/wp-img/enriched_logo1.png">
            </div>

            <!-- <div class="title">LOGIN TO YOUR ACCOUNT</div> -->

            <form name="loginForm" [formGroup]="loginForm" (ngSubmit)="Login()" novalidate>

                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" required>
                    <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                    <mat-error *ngIf="loginForm.get('email').hasError('required')">
                        Email is required
                    </mat-error>
                    <mat-error
                        *ngIf="!loginForm.get('email').hasError('required') &&
                                loginForm.get('email').hasError('pattern')">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" style="margin-top: 10px;">
                    <mat-label>Password</mat-label>
                    <input matInput  [type]="show ? 'text' : 'password'" (keypress)="eventHandler($event.keyCode)"
                     formControlName="password" id="number" #filterName required>
                     <mat-icon matSuffix class="secondary-text" (click)="toggleShow()" style="cursor: pointer;">vpn_key</mat-icon>
                     <!-- <span *ngIf="spaceKeyPress==1"><h5 style="color: red;"> {{msg}}</h5></span> -->
                    <mat-error *ngIf="loginForm.get('password').hasError('required')">
                        Password is required
                    </mat-error>

                  
                </mat-form-field>

                <div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column"
                     fxLayoutAlign="space-between center">
                  
                    </div>

                    <button  mat-raised-button color="accent" class="submit-button hover-button-loginpage" aria-label="LOG IN">
                    Log in
                </button>
                
            </form>
            
          
            
            <div class="Lost_password">
                <span class="a" style="color: #888;" (click)="goback()"> Lost your password?
                </span>
            </div>
            <div class="back_home" style="margin-top: 20px;">
               <span class="a" style="color: #888;"> Back to Home</span>
            </div>
            <div mat-raised-button class="" style="margin-top: 20px;">
                    <span  style="color: #888;">©2020 Enriched Academy All Rights Reserved. </span>
                </div>

                
                
            </div>
            
    </div>
    
</div>
<!-- [type]="_pwdType"  pattern="[a-zA-Z0-9]"-->
  <!-- .login_content a, .login_content p {
                color: #888;
            } [routerLink]="apps/admin/forgot"-->
  <!-- <mat-error
                    *ngIf="!loginForm.get('password').hasError('required') &&
                            loginForm.get('password').hasError('pattern')">
                    space not allow
                </mat-error> -->
                 <!--  <mat-checkbox class="remember-me" aria-label="Remember Me">
                        Remember Me
                    </mat-checkbox> -->
                    <!-- /pages/auth/forgot-password -->
                    <!-- <a class="forgot-password" [routerLink]="'/apps/admin/forgot'">
                        Forgot Password?
                    </a> -->
                    <!-- <a class="forgot-password" style="text-decoration: none;" [routerLink]="'/pages/auth/forgot-password'">
                        Forgot Password?
                    </a> -->