<!--about-us-->
    <section class="banner_section">
        <div class="image_container">
    
          <div class="carousel-section">
            <owl-carousel [options]="myCarouselOptions" [items]="images">
              <div class="item" *ngFor="let image of myCarouselImages;let i = index">
                <div>
                  <img src={{image}} />
                </div>
              </div>
            </owl-carousel>
          </div>
        </div>
      </section>
    <!-- banner_section-->
    <!-- <section class="banner_section homepage_banner animatedParent"> 
       
        <div class="swiper-container banner_slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="row banner_content">
                      <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 text-left left_secn animated slower delay-250 fadeInUp">
                        <h1>We make financial freedom accessible to everyone.</h1>
                      </div>
                      <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 text-left right_secn animated slower delay-250 fadeInUp">
                        <ul class="feature_listing">
                          <li><i class="fa-fw fa-user fas"></i>90,000+ Users</li>
                          <li><i class="fa-fw fa-video fas"></i>60+ Video Lessons</li>
                          <li><i class="fa-fw fa-list-ul fas"></i>150+ Quizes & Tests</li>
                          <li><i class="fa-fw fa-eye fas"></i>500,000+ Course VIews</li>
                        </ul>
                      </div>
                    </div>
                    <div class="image_container">
                        <img class="banner_image" src="assets/webroot/img/home_new/banner.png">
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="row banner_content">
                      <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 text-left left_secn animated slower delay-250 fadeInUp">
                        <h1>Because students and their teachers deserve financial education.</h1>
                      </div>
                      <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 text-left right_secn animated slower delay-250 fadeInUp">
                        <ul class="feature_listing">
                          <li><i class="fa-fw fa-user fas"></i>90,000+ Users</li>
                          <li><i class="fa-fw fa-video fas"></i>60+ Video Lessons</li>
                          <li><i class="fa-fw fa-list-ul fas"></i>150+ Quizes & Tests</li>
                          <li><i class="fa-fw fa-eye fas"></i>500,000+ Course VIews</li>
                        </ul>
                      </div>
                    </div>
                    <div class="image_container">
                        <img class="banner_image" src="assets/webroot/img/home_new/schools_and_boards.jpg">
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="row banner_content">
                      <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 text-left left_secn animated slower delay-250 fadeInUp">
                        <h1>Because governments deserve support helping Canadians with financial literacy.</h1>
                      </div>
                      <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 text-left right_secn animated slower delay-250 fadeInUp">
                        <ul class="feature_listing">
                          <li><i class="fa-fw fa-user fas"></i>90,000+ Users</li>
                          <li><i class="fa-fw fa-video fas"></i>60+ Video Lessons</li>
                          <li><i class="fa-fw fa-list-ul fas"></i>150+ Quizes & Tests</li>
                          <li><i class="fa-fw fa-eye fas"></i>500,000+ Course VIews</li>
                        </ul>
                      </div>
                    </div>
                    <div class="image_container">
                        <img class="banner_image" src="assets/webroot/img/home_new/banner_04_govermentn.jpg">
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="row banner_content">
                      <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 text-left left_secn animated slower delay-250 fadeInUp">
                        <h1>Because post-secondary students deserve help tackling student debt.</h1>
                      </div>
                      <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 text-left right_secn animated slower delay-250 fadeInUp">
                        <ul class="feature_listing">
                          <li><i class="fa-fw fa-user fas"></i>90,000+ Users</li>
                          <li><i class="fa-fw fa-video fas"></i>60+ Video Lessons</li>
                          <li><i class="fa-fw fa-list-ul fas"></i>150+ Quizes & Tests</li>
                          <li><i class="fa-fw fa-eye fas"></i>500,000+ Course VIews</li>
                        </ul>
                      </div>
                    </div>
                    <div class="image_container">
                        <img class="banner_image" src="assets/webroot/img/home_new/banner_career_college.jpg">
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="row banner_content">
                      <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 text-left left_secn animated slower delay-250 fadeInUp">
                        <h1>Because parents deserve to raise a financially secure family.</h1>
                      </div>
                      <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 text-left right_secn animated slower delay-250 fadeInUp">
                        <ul class="feature_listing">
                          <li><i class="fa-fw fa-user fas"></i>90,000+ Users</li>
                          <li><i class="fa-fw fa-video fas"></i>60+ Video Lessons</li>
                          <li><i class="fa-fw fa-list-ul fas"></i>150+ Quizes & Tests</li>
                          <li><i class="fa-fw fa-eye fas"></i>500,000+ Course VIews</li>
                        </ul>
                      </div>
                    </div>
                    <div class="image_container">
                        <img class="banner_image" src="assets/webroot/img/home_new/banner_06_family.jpg">
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="row banner_content">
                      <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 text-left left_secn animated slower delay-250 fadeInUp">
                        <h1>Because we all deserve financial awareness.</h1>
                      </div>
                      <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 text-left right_secn animated slower delay-250 fadeInUp">
                        <ul class="feature_listing">
                          <li><i class="fa-fw fa-user fas"></i>90,000+ Users</li>
                          <li><i class="fa-fw fa-video fas"></i>60+ Video Lessons</li>
                          <li><i class="fa-fw fa-list-ul fas"></i>150+ Quizes & Tests</li>
                          <li><i class="fa-fw fa-eye fas"></i>500,000+ Course VIews</li>
                        </ul>
                      </div>
                    </div>
                    <div class="image_container">
                        <img class="banner_image" src="assets/webroot/img/home_new/banner_05_corporation.jpg">
                    </div>
                </div>

            </div>
            <div class="swiper-button-next"><img src="assets/webroot/img/home_new/right_arrow_slider.png"></div>
          <div class="swiper-button-prev"><img src="assets/webroot/img/home_new/left_arrow_slider.png"></div>
    
        </div>
      <div class="outer">
      </div>
    </section>
 -->





    <section class="banner_bottom_section animatedParent">
        <div class="outer">
            <div class="row align-center">
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-left animated fadeInUp slower delay-250">
                <div class="flex-box">
                  <div class="flex-item item_120">
                    <img src="assets/webroot/img/home_new/shield.png">
                  </div>
                  <div class="flex-item item_full">
                    <span>Trusted by</span>
                    <h5>90,000+ Users</h5>
                  </div>
                </div>
              </div>
              <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 text-right animated fadeInUp slower delay-250">
                <div class="flex-box justify-right align-center">
                    <div class="flex-item pr-20">
                        <h6>Join a free online MasterClass Now!</h6>
                    </div>
                    <div class="flex-item">
                        <a class="green_button button_large" href="https://enrichedacademytraining.com" target="_blank"><span>Try For Free</span></a>
                    </div>
              </div>
            </div>
        </div>
        </div>
    </section>
    <!-- banner_section -->
   
    <section class="our_services section animatedParent">
      <div class="outer">
        <div class="row align-center">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center heading_div ">
                <h2>Financial education for everyone -<br>however you learn</h2>
                <p>Helping Canadians develop smart financial awareness  in many different ways.</p>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
              <div class="services_icon-list">
                <ul>
                  <li class="">
                      <div class="icon_box">
                        <img src="assets/webroot/img/home_new/online.png">
                        <p>Online Portal</p>
                      </div>
                  </li>
                  <li class="">
                      <div class="icon_box">
                        <img src="assets/webroot/img/home_new/application.png">
                        <p>Apps</p>
                      </div>
                  </li>
                  <li class="">
                      <div class="icon_box">
                        <img src="assets/webroot/img/home_new/webinar.png">
                        <p>Webinars</p>
                      </div>
                  </li>
                  <li class="">
                      <div class="icon_box">
                        <img src="assets/webroot/img/home_new/event-live.png" style="width: 32%;">
                        <p>Live Events</p>
                      </div>
                  </li>
                  <li class="">
                      <div class="icon_box">
                        <img src="assets/webroot/img/home_new/coaching-icon.png">
                        <p>Coaching</p>
                      </div>
                  </li>
                </ul>
              </div>
            </div>
        </div>
      </div>
    </section> 
    <section class="featured_section section animatedParent">
      <div class="outer">
        <div class="row align-center">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center heading_div animated fadeInLeft slower delay-250">
              <h2>As Featured On</h2>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 animated fadeInRight slow">
                <div class="seen_image">
                  <img src="assets/webroot/img/home_new/cbc1.png">
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 animated fadeInRight slow">
                <div class="seen_image">
                  <img src="assets/webroot/img/home_new/sun-news1.png">
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 animated fadeInRight slow">
                <div class="seen_image">
                  <img src="assets/webroot/img/home_new/globe-and-mail.png">
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 animated fadeInRight slow">
                <div class="seen_image">
                  <img src="assets/webroot/img/home_new/global-tv1.png">
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 animated fadeInRight slow">
                <div class="seen_image">
                  <img src="assets/webroot/img/home_new/global-national.png">
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 animated fadeInRight slow">
                <div class="seen_image">
                  <img src="assets/webroot/img/home_new/dragon-den.png">
                </div>
            </div>
        </div> 
      </div>
    </section>
     <section class="collarg_section section padding_220 ">
        <div class="animatedParent">
          <div class="row animated fadeInDown slower delay-250">
            <div id="photo_gallery">
                <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 padding_0 padd_left">
                  <div class="row">
                    
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 padding_0 padd_left">
                      <div class="gallery_up-right right galler_item">
                        <img src="assets/webroot/img/home_new/black-family.png">
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 row padding_0">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding_0 padd_left">
                        <div class="gallery_up-right galler_item">
                          <img src="assets/webroot/img/home_new/tow-boy.png">
                        </div>
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding_0 padd_left">
                        <div class="gallery_up-right galler_item">
                          <img src="assets/webroot/img/home_new/big-family.png">
                        </div>
                      </div>
                    </div>
                    
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 padding_0 padd_right">
                  <div class="gallery_up-left galler_item">
                    <!-- gallery_content -->
                    <img src="assets/webroot/img/home_new/reachboy.png">
                  </div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 row padding_0 padd_left">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding_0 padd_left">
                    <div class="gallery_bt-left galler_item">
                      <img src="assets/webroot/img/home_new/family-outing.png">
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding_0">
                    <div class="gallery_bt-left galler_item">
                      <img src="assets/webroot/img/home_new/girl-alone.png">
                    </div>
                  </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 padding_0 padd_left">
                  <div class="gallery_bt-right galler_item">
                      <img src="assets/webroot/img/home_new/couple.png">
                  </div>
                </div>
              </div>
            </div>
        </div>
        </div>
        
        <section class="mission_section animatedParent">
          <div class="outer animated fadeInDown slower delay-250">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2 col-md-4 col-md-offset-2 col-sm-12 col-xs-12">
                    <div class="core_container">
                        <h5>Our Core Values</h5>
                        <ul>
                          <li>Inspiring</li>
                          <li>Transparent</li>
                          <li>Entertaining</li>
                          <li>Authentic</li>
                          <li>Simple</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="core_container">
                        <h5>How We Do It</h5>
                        <p>We deliver inspiring financial <br>education through our interactive <br>online platform, webinars, apps,<br>live events and one-on-one coaching.</p>
                    </div>
                </div>
            </div>
          </div>
        </section>
    </section>
    <section class="what_you_learn section animatedParent">
        <div class="outer">
          <div class="row align-center">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center heading_div animated fadeInLeft slower delay-250">
                <h2>online tools and Resources</h2>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 animated flipInY slower delay-250">
                  <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="assets/webroot/img/home_new/livenow.png" alt="icon">
                        <div>
                          <h6>Interactive Live & Recorded Online Webinars</h6>
                        </div>
                        
                      </div>
                      <div class="flip-card-back">
                        <p>Quarterly webinar programs on customized, supplemental topics covering critical areas, including Wills, Insurance, Pensions, Crushing Debt, etc.</p> 
                      </div>
                    </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 animated flipInY slower delay-250">
                  <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="assets/webroot/img/home_new/online-coaching.png" alt="icon">
                        <div>
                          <h6>150 +<br> Quick and easy</h6>
                        </div>

                      </div>
                      <div class="flip-card-back">
                        <p>Our quizzes are designed to help ensure you retain all of the essential information you have learned.</p> 
                      </div>
                    </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 animated flipInY slower delay-250">
                  <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="assets/webroot/img/home_new/debtcrush.png" alt="icon">
                        <div>
                          <h6>Debt Crusher <br>Online Tool</h6>
                        </div>

                      </div>
                      <div class="flip-card-back">
                       <p>A powerful resource that will help members take charge of debt while encouraging & measuring progress toward a debt free goal. </p> 
                      </div>
                    </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 animated flipInY slower delay-250">
                  <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="assets/webroot/img/home_new/nettrack.png" alt="icon">
                        <div>
                          <h6>Net Worth<br>Tracker Online Tool</h6>
                        </div>

                      </div>
                      <div class="flip-card-back">
                       <p>A unique goal- oriented resource that will help members track progress and financial growth over time, encouraging additional savings and investing efforts. </p> 
                      </div>
                    </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 animated flipInY slower delay-250">
                  <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="assets/webroot/img/home_new/workbook.png" alt="icon">
                        <div>
                          <h6>Over 300<br> Pages</h6>
                        </div>

                      </div>
                      <div class="flip-card-back">
                       <p>All fill-in the blanks, the book has interesting fast facts, recommended readings and websites designed to help you get the most from your Enriched Academy course.</p>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 animated flipInY slower delay-250">
                  <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="assets/webroot/img/home_new/calculator.png" alt="icon">
                        <div>
                          <h6>Financial Freedom<br>Online Tool</h6>
                        </div>

                      </div>
                      <div class="flip-card-back">
                       <p>Designed to help you understand exactly where you are at financially today - and where you are trying to go - this tool gives you a clear roadmap to start saving money effectively.</p> 
                      </div>
                    </div>
                  </div>
              </div>
          </div>
        </div>
    </section> 

    <section class="number_section section animatedParent">
        <div class="outer">
          <div class="row align-center">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center heading_div animated fadeInDown slower delay-250">
                <h2>Our Numbers<br>Speak for Themselves.</h2>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center heading_div animated fadeInLeft slower delay-250">
                  <div class="statikstik_container text-left">
                    <h3>90,000+</h3>
                    <p>Users</p>
                    <img src="assets/webroot/img/home_new/number_line.png">
                  </div>
              </div>

              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center heading_div animated fadeInLeft slower delay-250">
                   <div class="statikstik_container text-left">
                    <h3>60+</h3>
                    <p>Video Lessons</p>
                    <img src="assets/webroot/img/home_new/number_line.png">
                  </div>
              </div>

              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center heading_div animated fadeInRight slower delay-250">
                   <div class="statikstik_container text-left">
                    <h3>150+</h3>
                    <p>Quiz Questions</p>
                    <img src="assets/webroot/img/home_new/number_line.png">
                  </div>
              </div>

              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center heading_div animated fadeInRight slower delay-250">
                   <div class="statikstik_container text-left">
                    <h3>500,000+</h3>
                    <p>Course VIews</p>
                    <img src="assets/webroot/img/home_new/number_line.png">
                  </div>
              </div>
            </div>
        </div>
    </section>
    
    <section class="curriculum section animatedParent">
      <div class="outer">
        <div class="row align-center">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center heading_div animated fadeInLeft slower delay-250">
              <h2>Understanding the Curriculum</h2>
            </div>
            <div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-12 col-xs-12 animated fadeInLeft slower delay-250">
                <div class="curriculum_line">
                    <div class="curri_container">
                      <h6>Money Myths</h6>
                      <p>Designed to help members understand their own financial situation and shatter the myths that hold them back financially.</p>
                    </div>
                    <div class="curri_icon">
                      <img src="assets/webroot/img/home_new/money-icon.png">
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 animated fadeInRight slower delay-250">
                <div class="curriculum_line invert">
                    <div class="curri_container">
                      <h6>Understanding Credit</h6>
                      <p>Illustrates key concepts to control spending, avoid credit card and debt traps while uncovering areas to stop wasting your money.</p>
                    </div>
                    <div class="curri_icon">
                      <img src="assets/webroot/img/home_new/creditcard.png">
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-12 col-xs-12 animated fadeInLeft slower delay-250">
                <div class="curriculum_line">
                    <div class="curri_container">
                      <h6>Where are you today?</h6>
                      <p>Gives a framework to clearly understand your current financial situation and a simple path to change it.</p>
                    </div>
                    <div class="curri_icon">
                      <img src="assets/webroot/img/home_new/bank.png">
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 animated fadeInRight slower delay-250">
                <div class="curriculum_line invert">
                    <div class="curri_container">
                      <h6>Beginners Stock Market Investing System</h6>
                      <p>A smart guide to understanding the fundamentals of investing in the stock market.</p>
                    </div>
                    <div class="curri_icon">
                      <img src="assets/webroot/img/home_new/stock.png">
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-12 col-xs-12 animated fadeInLeft slower delay-250">
                <div class="curriculum_line">
                    <div class="curri_container">
                      <h6>Advanced Stock Market Investing System</h6>
                      <p>Powerful but simple concepts that are critical for anyone that invests with an advisor.</p>
                    </div>
                    <div class="curri_icon">
                      <img src="assets/webroot/img/home_new/advancestock.png">
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 animated fadeInRight slower delay-250">
                <div class="curriculum_line invert">
                    <div class="curri_container">
                      <h6>TFSA VS RRSP</h6>
                      <p>Two primary ways to shelter your money from tax and they are rarely used or understood.</p>
                    </div>
                    <div class="curri_icon">
                      <img src="assets/webroot/img/home_new/rrsp.png" style="width: 62%">
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-12 col-xs-12 animated fadeInLeft slower delay-250">
                <div class="curriculum_line">
                    <div class="curri_container">
                      <h6>Leveraging Equity</h6>
                      <p>For homeowners, understanding the power of your equity and how to get it working is critical to building wealth.</p>
                    </div>
                    <div class="curri_icon">
                      <img src="assets/webroot/img/home_new/equti.png">
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 animated fadeInRight slower delay-250">
                <div class="curriculum_line invert">
                    <div class="curri_container">
                      <h6>Private Lending</h6>
                      <p>A unique approach to expanding your investment strategies by learning to become a lender.</p>
                    </div>
                    <div class="curri_icon">
                      <img src="assets/webroot/img/home_new/privetlending.png">
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-12 col-xs-12 animated fadeInLeft slower delay-250">
                <div class="curriculum_line">
                    <div class="curri_container">
                      <h6>Investment Properties</h6>
                      <p>A comprehensive look at how you can use real estate to build wealth and how to do it when you are just starting out.</p>
                    </div>
                    <div class="curri_icon">
                      <img src="assets/webroot/img/home_new/property.png">
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 animated fadeInRight slower delay-250">
                <div class="curriculum_line invert">
                    <div class="curri_container">
                      <h6>Retirement Planning</h6>
                      <p>A clear overview of how to get where you need to go for a financially healthy retirement.</p>
                    </div>
                    <div class="curri_icon">
                      <img src="assets/webroot/img/home_new/retirment.png">
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-lg-offset-4 col-md-5 col-md-offset-3 col-sm-12 col-xs-12 animated fadeInUp slower delay-250">
                <div class="curriculum_line">
                    <div class="curri_container">
                      <h6>Budgeting</h6>
                      <p>A smart simple approach to controlling spending while gaining insight into your money situation.</p>
                    </div>
                    <div class="curri_icon">
                      <img src="assets/webroot/img/home_new/budget-icon.png">
                    </div>
                </div>
            </div>
        </div>
      </div>
    </section>
    <section class="clientel_section section animatedParent">
        <div class="outer">
            <div class="row align-center" style="margin-left: 100px;">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center heading_div animated fadeInLeft slower delay-250">
                    <h2>Trusted by some of the most recognizable<br> businesses in Canada.</h2>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center animated slower delay-250 fadeInRight">
                    <div class="margin-auto demo-div box-shadow" [ngStyle]="{'width':sliderWidth+'px', 'min-height': sliderImageHeight+'px'}">
                        <ng-image-slider *ngIf="showSlider" #nav
                            [images]="imageObject"
                            [infinite]="sliderInfinite"
                            [imagePopup]="sliderImagePopup"
                            [showArrow]="sliderArrowShow"
                            [imageSize]="{width: sliderImageWidth, height: sliderImageHeight}"
                            [autoSlide]="sliderAutoSlide ? 1 : 0"
                            [slideImage]="+sliderSlideImage"
                            [animationSpeed]="sliderAnimationSpeed"
                            (imageClick)="imageOnClick($event)"
                            (arrowClick)="arrowOnClick($event)"
                            (lightboxArrowClick)="lightboxArrowClick($event)"></ng-image-slider>
                    </div>
                

                </div>
            </div>
        </div>
    </section>
    
    <footer class="bottom_footer">
            <div class="outer">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="footer_about-box">
                            <div class="footer_logo"><a routerLink="#"><img src="assets/images/footer_logo.png"></a></div>
                           
                        </div>
                    </div>
    
    
    
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="footer_about-text">
                            <div class="footer_nav-heading">
                                <!-- <h6>Top Courses</h6> -->
                            </div>
    
    
                            <div class="footer_about-text">
                                <ul>
                                    <li>410-2059 Chesterfield Ave.</li>
                                    <li>North Vancouver, BC V7M2P4</li>
                                </ul>
                                <ul>
                                    <li>Phone: 1-800-892-9228</li>
                                    <li>Email: support@enrichedacademy.com</li>
                                </ul>
                                <ul>
                                    <li>
                                        <a class="green_button button_large" href="https://enrichedacademytraining.com/"
                                            target="_blank"><span>Free&nbsp;Webinar?</span></a>
    
                                </ul>
                            </div>
    
                        </div>
                    </div>
    
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="footer_link-box">
                            <div class="footer_nav-heading">
                                <h6>@Follow Us</h6>
                            </div>
                            <div class="footer_about-text">
                                <ul class="tweet_feed">
                                    <li>
                                        <a routerLink=""><i class="fab fa-twitter"></i>
                                            <div>
                                                <!-- Facebook
                                                    Twitter -->
    
                                                <span> Facebook</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a routerLink=""><i class="fab fa-twitter"></i>
                                            <div>
                                                <span>Twitter</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a routerLink=""><i class="fab fa-twitter"></i>
                                            <div>
                                                <span> LinkedIn</span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
            <div class="outer">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="" style="text-align: left;">
                            <span style="text-align: left;">Privacy Policy
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    
    
                                &nbsp;&nbsp;&nbsp;&nbsp;Legal</span>
    
                            <!-- <p style="text-align: left;">Legal</p> -->
                            <p style="text-align: right;     margin-top: -18px;">Copyright 2015 Enriched Academy | 2019 Right Reserved</p>
                        </div>
    
                    </div>
                </div>
            </div>
        </footer>
    