<div id="dashboard-companies" class="page-layout simple right-sidebar" fxLayout="row" style="margin-left: 10px;">


  <!-- CENTER -->
  <div class="center" fusePerfectScrollbar>
    <!-- <div class="mat__box mat__box2 mt-20 mr-28">
      <div class="row" fxLayoutAlign="space-between center">
        <div class="">
          <a routerLink="/apps/home-dashboard/version3" style="text-decoration: none;">
            <img width="20px" height="20px" src="../../../../../assets/sp1.svg">&nbsp;&nbsp;Dashboard </a>
           <a routerLink="/apps/developer-app/developer-apis"
            style="text-decoration: none;">&nbsp;&nbsp;/&nbsp;&nbsp;Manage User</a>
        </div>
      </div>
    </div> -->



<!-- 
    <div class="" style="flex-direction: row;
        box-sizing: border-box;
       height: 100px;
        place-content: center space-between;
        align-items: center;  background-color: #039be5 !important;
        color: white !important;"> -->
        <div class="row" fxLayoutAlign="space-between center">
          <!-- <div class="" style="color: white;margin-top:40px">
              <a routerLink="/apps/home-dashboard/version3" style="text-decoration: none;color: white;">
                <img style="margin-left: 10px;" width="20px" height="20px" src="../../../../../assets/sp1.svg">&nbsp;&nbsp;Dashboard </a>
              
                <a routerLink="/apps/developer-app/developer-apis"
                style="text-decoration: none;color: white">&nbsp;&nbsp;/&nbsp;&nbsp;Manage User</a>

          </div> -->

          <div class="" style="margin-top:20px; position: relative; margin-left: 25px;">

              <span class="speedometer_icon  report_top_hover"> <a routerLink="/apps/home-dashboard/version3" 
               style="text-decoration: none;">
               &nbsp;  &nbsp;Dashboard </a></span>
               <span style="color: #ccc;">/
               <a  routerLink="/apps/developer-app/developer-apis"
                 style="text-decoration: none;" class="report_top_hover">
                 &nbsp;Manage User</a>
               </span>
           
             </div>
         
        </div>
     <!-- </div> -->




    <div class="mat__box mt-20 mr-28">
      <div class="h2 mb-8">
        <mat-icon (click)="buttontoggle()" style="cursor: pointer;">{{buttonName}}</mat-icon>Developer App Listing
      </div>
      <ng-container *ngIf="show">
       

                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-right" style="    margin-top: -30px;">
                  
                      <button mat-button [matMenuTriggerFor]="menu" mat-raised-button type="button"
                        class="hover-button-loginpage ColVis_Button ColVis_MasterButton" style="color: white; background-color: #039be5 ;"><span> Show/Hide Column</span></button>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item >
                          
                          <label>
                            <input 
                              type="checkbox" (change)="columnClick(0,'full_name',$event)" checked><span class="ml">Full Name</span></label>
 
                            </button>
                        <button mat-menu-item ><label><input (change)="columnClick(1,'email',$event)" type="checkbox"
                              checked><span class="ml">Email</span></label></button>
                        <button mat-menu-item ><label><input (change)="columnClick(2,'app_id',$event)" 
                              type="checkbox" checked><span class="ml">App Id</span></label></button>
                        <button mat-menu-item ><label><input 
                              type="checkbox" (change)="columnClick(3,'app_secret',$event)" checked><span class="ml">App Secret</span></label></button>
                        <button mat-menu-item ><label><input (change)="columnClick(4,'status',$event)" type="checkbox"
                              checked><span class="ml">Status</span></label> </button>
                              <button mat-menu-item ><label><input (change)="columnClick(5,'website',$event)" type="checkbox"
                                checked><span class="ml">Domain</span></label> </button>  </mat-menu>
                </div>

                <!-- END OF MAT-FORM-FIELD-WRAPPER PB-0 MT-0 MB-0 -->
             
              <!-- END OF COL-LG-4 COL-MD-4 COL-SM-12 COL-XS-12 -->
            <!-- </div> -->
            <!-- END OF ROW -->
            <div class="row mt-20">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <table mat-table [dataSource]="dataSource" *ngIf="displayedColumn==0" class="table">
                  <!-- Name Column -->
                  <ng-container matColumnDef="full_name">
                    <th mat-header-cell *matHeaderCellDef> Full Name
                      <span class="pointer">
                        <i (click)="updateSortingOrderDevloperApi('full_name','ASC')"
                          [class]='(this.sort_column=="full_name" && this.sort_order=="ASC") ? "sort_column_active material-icons" : "sort_column material-icons"'>
                          arrow_upward
                        </i>
                        <i (click)="updateSortingOrderDevloperApi('full_name','DESC')"
                          [class]='(this.sort_column=="full_name" && this.sort_order=="DESC") ? "sort_column_active material-icons" : "sort_column material-icons"'>
                          arrow_downward
                        </i>
                      </span>
                    </th>
                    <td mat-cell class="style"  *matCellDef="let element" (click)="openDialog(element)">
                      {{element.first_name}} {{element.last_name}}</td>
                  </ng-container>

                  <!-- Weight Column -->
                  <ng-container matColumnDef="email">
                    <th mat-header-cell style="padding-right: 80px;
                    " *matHeaderCellDef> Email
                      <span class="pointer">
                        <i (click)="updateSortingOrderDevloperApi('email','ASC')"
                          [class]='(this.sort_column=="email" && this.sort_order=="ASC") ? "sort_column_active material-icons" : "sort_column material-icons"'>
                          arrow_upward
                        </i>
                        <i (click)="updateSortingOrderDevloperApi('email','DESC')"
                          [class]='(this.sort_column=="email" && this.sort_order=="DESC") ? "sort_column_active material-icons" : "sort_column material-icons"'>
                          arrow_downward
                        </i>
                      </span> </th>
                    <td mat-cell style="padding-right: 80px;
                    " *matCellDef="let element"> {{element.email}} </td>
                  </ng-container>

                  <!-- Symbol Column -->
                  <ng-container matColumnDef="app_id">
                    <th mat-header-cell *matHeaderCellDef> App_Id
                      <span class="pointer">
                        <i (click)="updateSortingOrderDevloperApi('app_id','ASC')"
                          [class]='(this.sort_column=="app_id" && this.sort_order=="ASC") ? "sort_column_active material-icons" : "sort_column material-icons"'>
                          arrow_upward
                        </i>
                        <i (click)="updateSortingOrderDevloperApi('app_id','DESC')"
                          [class]='(this.sort_column=="app_id" && this.sort_order=="DESC") ? "sort_column_active material-icons" : "sort_column material-icons"'>
                          arrow_downward
                        </i>
                      </span> </th>
                    <td mat-cell *matCellDef="let element"> 
                      {{element.app_id}} </td>
                  </ng-container>

                  <ng-container matColumnDef="app_secret">
                    <th mat-header-cell style="padding-right: 80px;
                    " *matHeaderCellDef> App_Secret
                      <span class="pointer">
                        <i (click)="updateSortingOrderDevloperApi('app_secret','ASC')"
                          [class]='(this.sort_column=="app_secret" && this.sort_order=="ASC") ? "sort_column_active material-icons" : "sort_column material-icons"'>
                          arrow_upward
                        </i>
                        <i (click)="updateSortingOrderDevloperApi('app_secret','DESC')"
                          [class]='(this.sort_column=="app_secret" && this.sort_order=="DESC") ? "sort_column_active material-icons" : "sort_column material-icons"'>
                          arrow_downward
                        </i>
                      </span> </th>
                    <td mat-cell style="padding-right: 80px;
                    " *matCellDef="let element"> {{element.app_secret}} 
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="website">
                    <th mat-header-cell style="padding-right: 80px;
                    "
                     *matHeaderCellDef> Domain
                      <span class="pointer">
                        <i (click)="updateSortingOrderDevloperApi('website','ASC')"
                          [class]='(this.sort_column=="website" && this.sort_order=="ASC") ? "sort_column_active material-icons" : "sort_column material-icons"'>
                          arrow_upward
                        </i>
                        <i (click)="updateSortingOrderDevloperApi('website','DESC')"
                          [class]='(this.sort_column=="website" && this.sort_order=="DESC") ? "sort_column_active material-icons" : "sort_column material-icons"'>
                          arrow_downward
                        </i>
                      </span> </th>
                    <td mat-cell style="padding-right: 80px;
                    "
                     *matCellDef="let element"> {{element.website}} </td>
                  </ng-container>

                  <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> Status
                      <span class="pointer">
                        <i (click)="updateSortingOrderDevloperApi('status','ASC')"
                          [class]='(this.sort_column=="status" && this.sort_order=="ASC") ? "sort_column_active material-icons" : "sort_column material-icons"'>
                          arrow_upward
                        </i>
                        <i (click)="updateSortingOrderDevloperApi('status','DESC')"
                          [class]='(this.sort_column=="status" && this.sort_order=="DESC") ? "sort_column_active material-icons" : "sort_column material-icons"'>
                          arrow_downward
                        </i>
                      </span> </th>
                    <td mat-cell *matCellDef="let element">
                      <ui-switch size="small" [checked]="element.status == '1' ? true : false"
                        (change)="onChange($event,element.id)"></ui-switch>
                    </td>
                  </ng-container>

                  <tr mat-header-row style="width: 1041px;" *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row style="width: 1041px;" *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator *ngIf="allItems > 0" #paginator [length]="allItems" [pageIndex]="currentPage"
                    [pageSize]="pageSize" [pageSizeOptions]="[1,2,3,10, 25, 50,100]" showFirstLastButtons
                    (page)="handlePage($event)"></mat-paginator>
                  <div *ngIf="data == '' " style="text-align: center;margin-top: 20px;margin-bottom: 20px;">
                    No data available in table</div>
                    <div class="center_align" *ngIf="showloader==true"
                    style="display: flex; justify-content: center; align-items: center">
                    <mat-progress-spinner mode="indeterminate" strokeWidth="3"  [diameter]="50">
                    </mat-progress-spinner>
                  </div>
              </div>
              <!-- END OF COL-LG-4 COL-MD-4 COL-SM-12 COL-XS-12 -->
            </div>
            <!-- END OF ROW -->
            <!-- <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <p fxFlex="50" class="pr-4">Showing {{start}} to {{end}} of {{allItems}} entries</p>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-right" style="margin-top: -30px;">
                <ul *ngIf="pager.pages && pager.pages.length" class="pagination inline_list">
                  <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(1)">First</a>
                  </li>
                  <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                  </li>
                  <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                    <a (click)="setPage(page)">{{page}}</a>
                  </li>
                  <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.currentPage + 1)">Next</a>
                  </li>
                  <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.totalPages)">Last</a>
                  </li>
                </ul>
              </div>

            </div> -->
            <!-- END OF ROW -->
          <!-- </div> -->
          <!-- END OF COL-LG-12 COL-MD-12 COL-SM-12 COL-XS-12 -->
        <!-- </div> -->
        <!-- END OF ROW -->
      </ng-container>
    </div>
    <!-- END OF MAT__BOX MT-20 MR-28 -->

  </div>
</div>


<style type="text/css">
  .inline_list {
    list-style-type: none;
  }

  .inline_list li {
    display: inline-block;
  }

  .inline_list li a {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
  }
</style>







<!-- <mat-form-field appearance='outline'>
    <!-- *ngIf="!toggle_menu1" <button mat-raised-button type="button" (click)="toggle()"> Show/Hide Column</button> -->
<!-- <mat-select placeholder="Show/Hide columns" multiple>
      <mat-option  *ngFor="let item of displayedColumns" [value]="item">{{item}}</mat-option>
    </mat-select> 
    
    <mat-select placeholder="Show/Hide columns" (selectionChange)="showHideColumns($event)"  multiple >
        <mat-option value="1">Full Name</mat-option>
        <mat-option value="2">Email</mat-option>
        <mat-option value="3">App_Id</mat-option>
        <mat-option value="4">App_Secret</mat-option>
        <mat-option value="5">Domain</mat-option>
        <mat-option value="6">Status</mat-option>
      </mat-select>
  </mat-form-field> -->