<div class="container-fluid">
    <div class="row">
            <div class="mat__box mat__box2" style="flex-direction: row;
            box-sizing: border-box;
           height: 100px;
            place-content: center space-between;
            align-items: center;    background-color: #039be5 !important;
            color: white !important;">
            <div class="row" fxLayoutAlign="space-between center">
              <div class="" style="margin-top: 23px;
              margin-left: 10px;
              font-size: 30px;">
              <h3>Theme Management</h3>
              </div>
            </div>
          </div>
      
    </div>
    <!--Row End-->
    <div class="row">
        <div class="col-4 primset">
            <div >
                <span class="sidbar_heding">Set Custom Theme</span>
            </div>
            <div class="left-sidebar">
                <form>

                    <mat-form-field class="example-chip-list" appearance="outline" style="width: 100%;">
                        <mat-label>Select client*</mat-label>
                        <mat-chip-list #chipList>
                            <mat-chip *ngFor="let item of dataArray;let indx=index;" [selectable]="selectable"
                                 [removable]="removable" (removed)="remove(item,indx)">
                                {{item.company_name}}
                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                            </mat-chip>
                            <input placeholder="Select Client Search" #manageInput [(ngModel)]="company_name"
                                [formControl]="select_client" [matAutocomplete]="auto" [matChipInputFor]="chipList"
                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                                (matChipInputTokenEnd)="add($event)">
                        </mat-chip-list>
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                            <mat-option *ngFor="let item of allData | customerEmailFilter:company_name ;let i = index "
                                [value]="item">
                                {{item.company_name}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>


                    <span class="sidbar_heding">Color Setting</span>
                    <div class="prim">
                        <div class="primary-color mb-20">
                            <mat-label>Primary Color (Numbers)</mat-label>
                            <div class="picker-wrapper">
                                <lib-ngx-ttitan-color-picker [color]="color1" id="demo1"
                                    (colorChange)="primChange($event)">
                                </lib-ngx-ttitan-color-picker>
                            </div>
                            <div class="detail-wrapper">

                            </div>
                        </div>


                        <div class="secondary-color mb-20">
                            <mat-label>Secondary Color (Labels)</mat-label>
                            <div class="picker-wrapper">
                                <lib-ngx-ttitan-color-picker [color]="color2" id="demo2"
                                    (colorChange)="secChange($event)">
                                </lib-ngx-ttitan-color-picker>
                            </div>
                            <div class="detail-wrapper">

                            </div>
                        </div>



                        <div class="Tertiary Color (Sub Text) mb-20">
                            <mat-label>Tertiary Color (Sub Text)</mat-label>
                            <div class="picker-wrapper">
                                <lib-ngx-ttitan-color-picker [color]="color3" id="demo3"
                                    (colorChange)="ternChange($event)">
                                </lib-ngx-ttitan-color-picker>
                            </div>
                            <div class="detail-wrapper">

                            </div>
                        </div>

                    </div>



                    <!-- <div class="file-upload-wrapper">
                  <mat-label>Upload Logo</mat-label>
                  <div class="uploadlogo">
                    
                  </div>
                </div> -->
                    <div class="">
                        <div class="mt-10 mb-20">
                            <button mat-raised-button color="accent" (click)="SaveDetail()">Save Details</button>

                        </div>
                        <div class="mt-20">
                            <button mat-raised-button color="accent" (click)="setThemeSubmit()">Set Theme For Mobile
                                App</button>

                        </div>
                    </div>


                </form>
            </div>
        </div>



        <div class="col-8 lleft">
            <div class="select_app_con">
                <main class="theme-html__demo">
                    <div class="bg-main2 full-height right_content_clr">
                        <div class="wrapped innerheight">
                            <div class="header header-desktop">
                                <div class="container no__container client_page_container">
                                    <div class="widget">
                                        <div class="logo">
                                            <div class="logo-wrap">
                                                <div class="logo-inner">

                                                    <img id="logoImage" src="assets/img/logo_orange.jpg" alt="">
                                                </div>
                                                <!-- LOGO-INNER -->
                                            </div>
                                            <!-- LOGO-WRAP -->
                                        </div>
                                        <!-- LOGO -->
                                        <div class="buttons-group text-right">
                                            <ul>
                                                    <!-- style="background-color: rgb(245, 150, 30);" -->

                                                <li class="user-info">
                                                    <div class="info-wrap">
                                                        <div class="user-name-wrap primary_color" 
                                                        [style.background-color]="color1"
                                                            >

                                                            <a class="">
                                                                <span class="name  secondary-color"
                                                                    [style.color]="color2"><span
                                                                        class="name_arrow"><i class="fa fa-chevron-down"
                                                                        [style.color]="color2"></i></span>
                                                                    Jimmy Frazier</span>
                                                            </a>
                                                        </div>
                                                        <!-- USER-NAME-WRAP -->
                                                        <div class="notification-wrap">
                                                            <span class="notification-icon">
                                                                <span
                                                                    class="notification_icon_data" [style.background-color]="color1" [style.color]="color2"
                                                                    >1</span>
                                                            </span>
                                                        </div>
                                                        <!-- NOTIFICATION-WRAP -->
                                                    </div>
                                                    <!-- INFO-WRAP -->
                                                </li>
                                                <!-- Li -->
                                                <li class="log-out" >
                                                    <a href=""
                                                        class="orange-button primary_btn_color secondary-color"  [style.background-color]="color1" [style.color]="color2">Log
                                                        Out</a>
                                                </li>
                                                <!-- Li -->
                                            </ul>
                                            <!-- UL -->
                                        </div>
                                        <!-- BUTTONS-GROUP TEXT-RIGHT -->
                                    </div>
                                    <!-- WIDGET -->
                                </div>
                                <!-- CONTAINER -->
                            </div>
                            <!-- HEADER HEADER-DESKTOP -->
                            <div class="content login-cotent">
                                <div class="container login-cotainer no__container client_page_container">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col_color_cls1">
                                            <div class="widget slider-view course-percentage">
                                                <div class="db-image-wrap">
                                                    <div class="gdb-image-wrap">
                                                        <div class="gdb-image-inner">
                                                            <img src="assets/img/gdb_image.png" alt="">
                                                        </div>
                                                        <!-- GDB-IMAGE-INNER -->
                                                        <div class="progress-bar">
                                                            <div class="progress-bar-inner primary-color"
                                                                style="width: 60%;"  [style.background-color]="color1">
                                                                <span><span>60%</span> Complete</span>
                                                            </div>
                                                            <!-- PROGRESS-BAR-INNER -->
                                                        </div>
                                                        <!-- PROGRESS-BAR -->
                                                    </div>
                                                    <!-- GDB-IMAGE-WRAP -->
                                                    <div class="gdb-couse-detail-wrap hidden-sm hidden-xs">

                                                        <h1 class="course_button primary-color-light gdb-course-title"
                                                            style="background: rgba(245, 150, 30, 0.23);">Course 1</h1>
                                                        <div class="widget">
                                                            <h1 class="gdb-course-title">Money Myths</h1>
                                                            <div class="gdb-course-detail">
                                                                <p class="another_colors">Learn how misperception shape
                                                                    the way you think about money!</p>
                                                                <i>35 Minutes</i>
                                                            </div>
                                                            <!-- GDB-COURSE-DETAIL -->
                                                            <div class="spacer20"></div>
                                                            <div class="spacer10"></div>
                                                            <div class="buttons-group">
                                                                <ul>
                                                                    <li class="all-course">
                                                                        <a href=""
                                                                            class=" orange-button primary_btn_color arrow secondary-color"
                                                                            [style.color]="color2" [style.background-color]="color1">Continue</a>
                                                                    </li>
                                                                    <!-- LI -->
                                                                </ul>
                                                                <!-- UL -->
                                                            </div>
                                                            <!-- BUTTONS-GROUP -->
                                                            <a href="" class="course-list">Course List</a>
                                                        </div>
                                                        <!-- WIDGET -->
                                                    </div>
                                                    <!-- GDB-COUSE-DETAIL-WRAP HIDDEN-SM HIDDEN-XS -->
                                                </div>
                                                <!-- DB-IMAGE-WRAP -->
                                            </div>
                                            <!-- WIDGET SLIDER-VIEW COURSE-PERCENTAGE -->
                                        </div>
                                        <!-- COL-MD-8 COL-SM-12 -->
                                        <div class="col-md-4 col-lg-4 col-sm-6 col_color_cls2">
                                            <div class="widget health-score health-card-contents">
                                                <div class="box">
                                                    <h1>Health Card Score</h1>
                                                    <p>You haven’t completed test to get your overall score</p>
                                                    <div class="health-card-wrap">
                                                        <div class="card a card-active" data="A"
                                                        [style.background-color]="color1">
                                                            <div class="card-popover">
                                                                <span>Financial Stress Level</span>
                                                            </div>
                                                            <!-- CARD-POPOVER -->
                                                        </div>
                                                        <!-- CARD A CARD-ACTIVE -->
                                                        <div class="card b" data="?">
                                                            <!-- <div class="card-popover">
                                                         <span>Financial Stress Level</span>
                                                     </div> -->
                                                        </div>
                                                        <!-- CARD B -->
                                                        <div class="card c" data="?">
                                                            <!-- <div class="card-popover">
                                                         <span>Financial Stress Level</span>
                                                     </div> -->
                                                        </div>
                                                        <!-- CARD C -->
                                                        <div class="card d" data="?">
                                                            <!-- <div class="card-popover">
                                                         <span>Financial Stress Level</span>
                                                     </div> -->
                                                        </div>
                                                        <!-- CARD D -->
                                                    </div>
                                                    <!-- HEALTH-CARD-WRAP -->
                                                    <div class="buttons-group text-center">
                                                        <ul>
                                                            <li class="detailed-report">
                                                                <a href=""
                                                                    class="orange-button secondary-color primary_btn_color" [style.color]="color2" [style.background-color]="color1">Continue</a>
                                                            </li>
                                                            <!-- Li -->
                                                        </ul>
                                                        <!-- UL -->
                                                    </div>
                                                    <!-- BUTTONS-GROUP TEXT-CENTER -->
                                                </div>
                                                <!-- BOX -->
                                            </div>
                                            <!-- WIDGET HEALTH-SCORE HEALTH-CARD-CONTENTS -->
                                        </div>
                                        <!-- COL-MD-4 COL-SM-6 -->
                                    </div>
                                    <!-- ROW -->
                                    <div class="spacer10"></div>
                                    <div class="spacer10 hidden-sm hidden-xs"></div>
                                    <div class="row">
                                        <div class="col-md-3 col-sm-6 col_color_cls3">
                                            <div class="widget debt-free">
                                                <div class="box full-center">
                                                    <div class="full-center">
                                                        <span class="icon"
                                                        [style.background-color]="color1"></span>
                                                        <div class="clearfix"></div>
                                                        <h4>Your Debt Free Date</h4>
                                                        <h1 class="another_color" [style.color]="color3"> Mar, 2085</h1>
                                                        <div class="spacer20"></div>
                                                        <div class="buttons-group text-center">
                                                            <ul>
                                                                <li class="debt-crusher">
                                                                    <a href=""
                                                                        class=" orange-button secondary-color primary_btn_color" [style.color]="color2" [style.background-color]="color1">Change</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <!-- BUTTONS-GROUP TEXT-CENTER -->
                                                    </div>
                                                    <!-- FULL-CENTER -->
                                                </div>
                                                <!-- BOX FULL-CENTER -->
                                            </div>
                                            <!-- WIDGET DEBT-FREE -->
                                        </div>
                                        <!-- COL-MD-3 COL-SM-6 -->
                                        <div class="col-md-3 col-sm-6 col_color_cls4">
                                            <div class="widget credit-score text-center">
                                                <div class="box full-center">
                                                    <div class="full-center">
                                                        <span class="icon"
                                                        [style.background-color]="color1"></span>
                                                        <div class="clearfix"></div>
                                                        <h1>Your Consumer Disclosure</h1>
                                                        <p>Knowing what’s on your consumer disclosure is FREE and one of
                                                            the most important first steps you can take!</p>
                                                        <div class="buttons-group text-center col-md-12">
                                                            <ul>
                                                                <li class="Calculate">
                                                                    <a class="orange-button secondary-color primary_btn_color"
                                                                        href="https://ocs.transunion.ca/ocs/home.html"
                                                                        target="_blank"[style.color]="color2"  [style.background-color]="color1">Get It Now</a> </li>
                                                                <!-- LI -->
                                                            </ul>
                                                            <!-- UL -->
                                                        </div>
                                                        <!-- BUTTONS-GROUP TEXT-CENTER -->
                                                    </div>
                                                    <!-- FULL-CENTER -->
                                                </div>
                                                <!-- BOX FULL-CENTER -->
                                            </div>
                                            <!-- WIDGET CREDIT-SCORE TEXT-CENTER -->
                                        </div>
                                        <!-- COL-MD-3 COL-SM-6 -->
                                        <div class="col-md-3 col-sm-6 col_color_cls5">
                                            <div class="widget your-workbook text-center">
                                                <div class="box full-center">
                                                    <div class="full-center">
                                                        <span class="icon"
                                                        [style.background-color]="color1"></span>
                                                        <div class="clearfix"></div>
                                                        <h1>Your Workbook</h1>
                                                        <p id="w_nodownload">
                                                            Got your download? Don't forget to SAVE YOUR PDF as you use
                                                            the book. You can store your answers that way!
                                                        </p>
                                                        <div class="buttons-group text-center">
                                                            <ul>
                                                                <li class="Calculate">
                                                                    <a href=""
                                                                        class=" orange-button secondary-color primary_btn_color"  [style.background-color]="color1" [style.color]="color2">Download</a>
                                                                </li>
                                                                <!-- LI -->
                                                            </ul>
                                                            <!-- UL -->
                                                        </div>
                                                        <!-- BUTTONS-GROUP TEXT-CENTER -->
                                                    </div>
                                                    <!-- FULL-CENTER -->
                                                </div>
                                                <!-- BOX FULL-CENTER -->
                                            </div>
                                            <!-- WIDGET YOUR-WORKBOOK TEXT-CENTER -->
                                        </div>
                                        <!-- COL-MD-3 COL-SM-6 -->
                                        <div class="col-md-3 col-sm-6 col_color_cls6">
                                            <div class="widget social-boxes">
                                                <div class="personal-advisor">
                                                    <div class="box full-center">
                                                        <div class="full-center">
                                                            <h4> Download Our Tools </h4>
                                                            <a class="orange-button secondary-color primary_btn_color"
                                                                style="margin-top: 20px;"
                                                                href="https://www.enrichedacademy.com/enrichedtest/users/downloads"  [style.background-color]="color1" [style.color]="color2">Download</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="personal-advisor" style="margin: 10px 0 0 0;">
                                                    <div class="box full-center">
                                                        <div class="full-center">
                                                            <h4>Need a little help?</h4>
                                                            <h4>Contact us</h4>
                                                            <div class="buttons-group text-center">
                                                                <ul>
                                                                    <li class="fb-invite">
                                                                        <a class="fb-invite" target="_blank"
                                                                            href="https://www.facebook.com/EnRICHedAcademyInc/?ref=page_internal"></a>
                                                                    </li>
                                                                    <!-- LI -->
                                                                    <li class="tw-invite">
                                                                        <a class="tw-invite" target="_blank"
                                                                            href="#"></a>
                                                                    </li>
                                                                    <!-- LI -->
                                                                    <li class="in-invite">
                                                                        <a class="in-invite" target="_blank"
                                                                            href="#"></a>
                                                                    </li>
                                                                    <!-- LI -->
                                                                </ul>
                                                                <!-- UL -->
                                                            </div>
                                                            <!-- BUTTONS-GROUP TEXT-CENTER -->
                                                        </div>
                                                        <!-- FULL-CENTER -->
                                                    </div>
                                                    <!-- BOX FULL-CENTER -->
                                                </div>
                                                <!-- PERSONAL-ADVISOR -->
                                            </div>
                                            <!-- WIDGET SOCIAL-BOXES -->
                                        </div>
                                        <!-- COL-MD-3 COL-SM-6 -->
                                    </div>
                                    <!-- ROW -->
                                    <div class="spacer10"></div>
                                </div>
                                <!-- CONTAINER LOGIN-COTAINER -->
                            </div>
                            <!-- CONTENT LOGIN-COTENT -->
                        </div>
                        <!-- WRAPPED INNERHEIGHT -->
                    </div>
                </main>
            </div>
        </div>
    </div>
</div>