
<div id="forms" class="page-layout simple fullwidth" fxLayout="column">

  <!--      <div class="h1">
 Add Company
        </div> -->
        <mat-toolbar>
  <span> Add quiz </span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
</mat-toolbar>
    <!-- CONTENT -->
    <div class="content p-24">

 


        <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">

            <!-- REACTIVE FORM EXAMPLE -->

            <form  fxLayout="column" fxLayoutAlign="start"
                  fxFlex="1 0 auto" name="adduserForm" [formGroup]="editquizForm" (ngSubmit)="UpdateQuiz()">

                <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-label style=" width: 36%;margin-bottom: 10px">Category Name</mat-label>
                    <mat-form-field appearance="outline" fxFlex="100">
                       <input matInput formControlName="category">
                    </mat-form-field>

                      <mat-label style=" width: 36%;margin-bottom: 10px">Quiz Name *</mat-label>
                    <mat-form-field appearance="outline" fxFlex="100">
                       <input matInput formControlName="quiz_name"  required>
                        <mat-error *ngIf="hasError('quiz_name', 'required')">This field is required!</mat-error>
                    </mat-form-field>

                            <mat-label style=" width: 36%;margin-bottom: 10px">Passing Score[%] *</mat-label>
                         <mat-form-field appearance="outline" fxFlex="100">
                           <textarea matInput  formControlName="passing_score" ></textarea>
                            <mat-error *ngIf="hasError('passing_score', 'required')">This field is required! </mat-error>
                          </mat-form-field>

                          <mat-label style=" width: 36%;margin-bottom: 10px">Description</mat-label>
                         <mat-form-field appearance="outline" fxFlex="100">
                           <textarea matInput  formControlName="quiz_description" ></textarea>
                    </mat-form-field>
                </div>
                     



                 <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" style="margin-top: 21px;">

                       <button mat-raised-button color="primary" type="submit" class="button">Update</button>

                        <button mat-raised-button mat-button mat-dialog-close color="primary"  class="button cancel">Close</button>
                 </div>


            </form>


        </div>

     </div> 
</div>       

        