@import "src/@fuse/scss/fuse";

toolbar {
    position: relative;
    display: flex;
    flex: 0 0 auto;
    z-index: 4;

    &.below {
        z-index: 2;
    }

    .mat-toolbar {
        position: relative;
        background: inherit !important;
        color: inherit !important;
    }

    .logo {
        display: flex;
        align-items: center;

        .logo-icon {
            width: 38px;
        }
    }

    .user-button,
    fuse-search-bar,
    .language-button,
    .chat-panel-toggle-button,
    .quick-panel-toggle-button {
        min-width: 64px;
        height: 64px;

        @include media-breakpoint('xs') {
            height: 56px;
        }
    }

    .navbar-toggle-button {
        min-width: 56px;
        height: 56px;
    }

    .toolbar-separator {
        height: 64px;
        width: 1px;

        @include media-breakpoint('xs') {
            height: 56px;
        }
    }
}



// .sidebar_open{margin-left: 291px;}
.menu_buttons .active{margin-left: 279px;}
.menu_buttons {margin-left: 0px;}

.notification_popup{float: right;
    text-align: right;
    min-width: 84%;
    max-width: 100%;
   cursor: pointer;}

   .notification_popup.mW62{
    min-width: 62% !important;
   }
.notification_alert{max-height: 200px;
    overflow-x: auto;    width: 300px;    position: absolute;
    background: #fff;
    margin-top: 0;
    border: 1px solid #c7c7c7;
    -webkit-box-shadow: none;
    right: 0;
    left: -227px;
    font-size: 12px;padding:5px;}   
    .notification_alert .notification{background: #f8fbfd;padding: 5px;display:block;}
    .notification_alert .alert{background: #f8fbfd;padding: 5px;margin: 6px 6px 0;display:block;text-align: center;color: #3195c2;font-weight: bold;}
