
<div id="dashboard-companies" class="page-layout simple right-sidebar" fxLayout="row" style="margin-left: 10px;">

    <div class="center" fusePerfectScrollbar>
      <div class="mat__box mat__box2 mt-20 mr-28 x_panel">
        <div class="h2 mb-8">
          <mat-icon (click)="buttontoggle()" style="cursor: pointer;">{{buttonName}}</mat-icon>
          <span *ngIf="name == 0">Add Expert Interview</span>
          <span *ngIf="name == 1">Edit Expert Interview</span>
        </div>

        <div class="mat__box mt-20 mr-28">
          <ng-container *ngIf="show">
            <div class="row">
              <form [formGroup]="AddInterviewForm" (ngSubmit)="submit()">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-8" fxLayoutGap="20px">
                  <mat-form-field appearance="outline" fxFlex="100" style="    width: 345px;
                margin-right: 20px; ">
                    <mat-label>Title</mat-label>
                    <input matInput formControlName="title" placeholder="title" required>
                    <mat-error>Title is required</mat-error>
                  </mat-form-field>
  
  
                  <mat-form-field appearance="outline" fxFlex="100" style="    width: 345px;
                margin-right: 20px; ">
                    <mat-label>Video Id</mat-label>
                    <input matInput formControlName="video_id" placeholder="Video Id " required>
                    <mat-error>Video is required</mat-error>
                  </mat-form-field>
                </div>
  
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-8" fxLayoutGap="20px">
                  <mat-form-field appearance="outline" fxFlex="100" style="    width: 345px;
                margin-right: 20px; ">
                    <mat-label>Status*</mat-label>
                    <mat-select formControlName="status" placeholder="Status" (selectionChange)="statusChange($event.value)">
                      <mat-option *ngFor="let item of statusArray" [value]="item.value">
                        {{item.value}}
                      </mat-option>
                      <!-- <mat-option value='1'>Active</mat-option>
                      <mat-option value='0'>Inactive</mat-option> -->
 
                    </mat-select>
                    <mat-error>status is required</mat-error>
  
                  </mat-form-field>
  
                </div>
       
  
                <button type="submit" mat-raised-button color="accent" matTooltip="save banner"
                  *ngIf="add_button == 0 ">Upload</button>
              
              </form>
              <button type="submit " matTooltip="update banner" mat-raised-button color="accent" *ngIf="add_button == 1"
              (click)="update(prodId)">Update</button>
            </div>
  
  
  
  
          </ng-container>
  
        </div>
      </div>
  
  
    </div>
  
  </div>
  
  
  
  <style type="text/css">
    .inline_list {
      list-style-type: none;
    }
  
    .inline_list li {
      display: inline-block;
    }
  
    .inline_list li a {
      position: relative;
      float: left;
      padding: 6px 12px;
      margin-left: -1px;
      line-height: 1.42857143;
      color: #337ab7;
      text-decoration: none;
      background-color: #fff;
      border: 1px solid #ddd;
    }
  </style>
 