<div id="dashboard-companies" class="page-layout simple right-sidebar" fxLayout="row" style="margin-left: 10px;">

  <!-- <ng-container *ngIf="show"></ng-container> -->
  <!-- CENTER -->
  <div class="center" fusePerfectScrollbar>
    <div class="mat__box mat__box2 mt-20 mr-28">
      <div class="row" fxLayoutAlign="space-between center">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="h2 mb-8">Manage Client</div>
        </div>
        <!-- END OF COL-LG-6 COL-MD-6 COL-SM-12 COL-XS-12" -->
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-right">
          <!-- <button mat-stroked-button color="primary" routerLink="/apps/client-mangement/addclient"><mat-icon>add_circle_outline</mat-icon>Add Client</button> -->
          <button mat-raised-button routerLink="/apps/client-mangement/addclient">
            <mat-icon>add_circle_outline</mat-icon>Add Client
          </button>


        </div>
        <!-- END OF COL-LG-6 COL-MD-6 COL-SM-12 COL-XS-12 TEXT-RIGHT -->
      </div>
      <!-- END OF ROW -->
    </div>
    <!-- END OF MAT__BOX MAT__BOX2 MT-20 MR-28 -->
    <div class="h2 mb-8">
        <mat-icon (click)="buttontoggle()" style="cursor: pointer;">
          {{buttonName}}</mat-icon>
        Client Search
      </div>
    <div class="mat__box mt-20 mr-28">
     
      <ng-container *ngIf="show">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <!-- <mat-icon (click)="buttontoggle()">keyboard_arrow_up</mat-icon> -->
            <!-- <button mat-raised-button color="accent" (click)="buttontoggle()" id="bt"> {{buttonName}}</button> -->
            <!-- <div class="h2 mb-8">  <mat-icon (click)="buttontoggle()" style="cursor: pointer;">{{buttonName}}</mat-icon> Client Search</div> -->


            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mb-8" fxLayoutGap="20px">
                <mat-form-field appearance="outline" fxFlex="100">
                  <mat-label required>Client Name</mat-label>
                  <input matInput placeholder="Search client name" (keyup)="Search($event.target.value,'client')">
                </mat-form-field>
                <!-- </div> -->
                <!-- END OF COL-LG-4 COL-MD-4 COL-SM-12 COL-XS-12 -->
                <!-- <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mb-8"> -->
                <mat-form-field appearance="outline" fxFlex="100">
                  <mat-label>Company Name</mat-label>
                  <input matInput placeholder="Search company name" (keyup)="Search($event.target.value,'company')">
                </mat-form-field>
                <!-- </div> -->
                <!-- END OF COL-LG-4 COL-MD-4 COL-SM-12 COL-XS-12 -->
                <!-- <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mb-8"> -->
                <mat-form-field appearance="outline" fxFlex="100">
                  <mat-label>First Name</mat-label>
                  <input matInput placeholder="Search first name" (keyup)="Search($event.target.value,'fname')">
                </mat-form-field>
              </div>

              <!-- END OF COL-LG-4 COL-MD-4 COL-SM-12 COL-XS-12 -->
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mb-8" fxLayoutGap="20px">
                <mat-form-field appearance="outline" fxFlex="100">
                  <mat-label>Email</mat-label>
                  <input matInput placeholder="Search email" (keyup)="Search($event.target.value,'email')">
                </mat-form-field>
                <!-- </div> -->
                <!-- END OF COL-LG-4 COL-MD-4 COL-SM-12 COL-XS-12 -->
                <!-- <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mb-8"> -->
                <mat-form-field appearance="outline" fxFlex="100">
                  <mat-label>Client Vertical</mat-label>
                  <mat-select matNativeControl (selectionChange)="Search($event.value,'vertical')">
                    <mat-option selected="" value=""> Please select Vertical </mat-option>
                    <mat-option *ngFor="let data of vertical" value="{{data.id}}">{{data.name}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <!-- </div> -->
                <!-- END OF COL-LG-4 COL-MD-4 COL-SM-12 COL-XS-12 -->
                <!-- <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mb-8"> -->
                <mat-form-field appearance="outline" fxFlex="100">
                  <mat-label>Portal View</mat-label>
                  <mat-select matNativeControl (selectionChange)="Search($event.value,'portal')">
                    <mat-option selected="" value="">Select portal view</mat-option>
                    <mat-option value="1">Standard Portal</mat-option>
                    <mat-option value="2">Drip Compaign</mat-option>
                    <mat-option value="3">Challenge View</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <!-- <br>

                     <mat-divider></mat-divider>
                     <br> -->

              <!-- <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto"> -->
              <!--                     <mat-label >Show</mat-label>
                    <mat-form-field  appearance="outline" fxFlex="10">
  <select matNativeControl  (change)="changelimit($event.target.value)">
    <option value="10">10</option>
    <option value="25">25</option>
    <option value="50">50</option>
    <option value="100">100</option>
  </select>
</mat-form-field>
<mat-label >entries</mat-label> -->

              <!--    <div fxLayout="row" fxLayoutAlign="end end" fxFlex="1 0 auto">
                   <button mat-stroked-button color="primary" (click)="exportData()">Export Data to Excel</button> 
                </div> -->


              <!-- END OF COL-LG-4 COL-MD-4 COL-SM-12 COL-XS-12 -->
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mb-8" fxLayoutGap="20px">
                <mat-form-field appearance="outline" fxFlex="100">
                  <mat-label>Country</mat-label>
                  <mat-select matNativeControl (selectionChange)="getState($event.value,'country')">
                    <mat-option selected="" value="">Please select country</mat-option>
                    <mat-option *ngFor="let data of country" value="{{data.id}}">{{data.name}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <!-- </div> -->
                <!-- END OF COL-LG-4 COL-MD-4 COL-SM-12 COL-XS-12 -->
                <!-- <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mb-8"> -->
                <mat-form-field appearance="outline" fxFlex="100">
                  <mat-label>State</mat-label>
                  <mat-select matNativeControl (selectionChange)="Search($event.value,'state')">
                    <mat-option selected="" value="">Please select state</mat-option>
                    <mat-option *ngFor="let data of states" value="{{data.id}}">{{data.state_name}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <!-- </div> -->
                <!-- END OF COL-LG-4 COL-MD-4 COL-SM-12 COL-XS-12 -->
                <!-- <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mb-8"> -->
                <mat-form-field appearance="outline" fxFlex="100">
                  <mat-label>City</mat-label>
                  <input matInput placeholder="Search city" (keyup)="Search($event.target.value,'city')">
                </mat-form-field>
              </div>
              <!-- END OF COL-LG-4 COL-MD-4 COL-SM-12 COL-XS-12 -->
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mb-8" fxLayoutGap="20px">
                <mat-form-field appearance="outline" fxFlex="100">
                  <mat-label>Status</mat-label>
                  <mat-select matNativeControl (selectionChange)="Search($event.value,'status')">
                    <mat-option selected="" value="">Please select status</mat-option>
                    <mat-option value="Active">Active</mat-option>
                    <mat-option value="Inactive">Inactive</mat-option>
                  </mat-select>
                </mat-form-field>
                <!-- </div> -->
                <!-- END OF COL-LG-4 COL-MD-4 COL-SM-12 COL-XS-12 -->
                <!-- <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mb-8"> -->
                <mat-form-field appearance="outline" fxFlex="100">
                  <mat-label>Start Date</mat-label>
                  <input matInput [matDatepicker]="picker" (click)="picker.open()" placeholder="Start date"
                    [ngModel]="startDate" (ngModelChange)="MyDate($event,'start')">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <!-- </div> -->
                <!-- END OF COL-LG-4 COL-MD-4 COL-SM-12 COL-XS-12 -->
                <!-- <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mb-8"> -->
                <mat-form-field appearance="outline" fxFlex="100">
                  <mat-label>End Date</mat-label>
                  <input matInput [matDatepicker]="picker1" (click)="picker1.open()" placeholder="End date"
                    [ngModel]="endDate" (ngModelChange)="MyDate($event,'end')">
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
              </div>
              <!-- END OF COL-LG-4 COL-MD-4 COL-SM-12 COL-XS-12 -->
              <!-- </div> -->
              <!-- END OF ROW -->
            </div>

            <!-- END OF COL-LG-12 COL-MD-12 COL-SM-12 COL-XS-12 -->
          </div>
          <!-- END OF ROW -->
        </div>
        <!-- END OF MAT__BOX MT-20 MR-28 -->
        <br>

        <mat-divider></mat-divider>
        <br>
        <div class="mat__box mt-20 mr-28">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 mb-12">
                  <!-- <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Show Entries</mat-label>
                     <mat-select matNativeControl  (change)="changelimit($event.target.value)">
                        <mat-option value="10">10</mat-option>
                        <mat-option value="25">25</mat-option>
                        <mat-option value="50">50</mat-option>
                        <mat-option value="100">100</mat-option>
                      </mat-select>
                  </mat-form-field> -->

                </div>
                <!-- END OF COL-LG-4 COL-MD-4 COL-SM-12 COL-XS-12 -->
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 mb-12 text-right">

                  <!-- <button mat-stroked-button color="primary" (click)="exportData()">Export Data to Excel</button> -->
                  <button mat-raised-button matTooltip="Download Excel File" (click)="exportData()">Export Data to
                    Excel</button>
                </div>
              </div>
              <!-- END OF ROW -->
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <mat-table [dataSource]="dataSource" matSort>
                    <!-- Name Column -->
                    <ng-container matColumnDef="client_name">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Client Name </mat-header-cell>
                      <mat-cell class="style" *matCellDef="let element"
                        [routerLink]="['/apps/client-mangement/client-detail', element.id]"> {{element.client_name}}
                      </mat-cell>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="company_name">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Company Name </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.company_name}} </mat-cell>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="client_vertical">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Client Vertical </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.client_vertical}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="portal_name">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Portal View </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.portal_name}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="created_on">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Signup Date </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.created_on|date}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="totalUsers">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Total Users </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.totalUsers}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="status">
                      <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
                      <mat-cell *matCellDef="let element">
                        <ui-switch [checked]="element.status == 'Active' ? true : false"
                          (change)="onChange($event,element.id)"></ui-switch>
                      </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="action">
                      <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
                      <mat-cell *matCellDef="let element">
                        <button mat-raised-button [matMenuTriggerFor]="belowMenu">Actions</button>

                        <mat-menu #belowMenu="matMenu" yPosition="below">
                          <button mat-menu-item matTooltip="Edit"
                            [routerLink]="['/apps/client-mangement/client-edit', element.id,element.company_id]">Edit</button>
                          <button mat-menu-item matTooltip="Delete" (click)="confirmDialog(element.id)">delete</button>
                        </mat-menu>
                        <!-- <button mat-icon-button>
                            <mat-icon matTooltip="Edit" [routerLink]="['/apps/client-mangement/client-edit', element.id,element.company_id]">edit</mat-icon>
                          </button>
                  <button mat-icon-button>

                            <mat-icon matTooltip="Delete" (click)="confirmDialog(element.id)">delete</mat-icon> 
                          </button> -->
                      </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                  </mat-table>
                  <mat-paginator *ngIf="allItems > 0" #paginator [length]="allItems" [pageIndex]="currentPage"
                    [pageSize]="pageSize" [pageSizeOptions]="[10, 25, 50,100]" showFirstLastButtons
                    (page)="handlePage($event)"></mat-paginator>
                  <div *ngIf="data == '' " style="text-align: center">No data available in table</div>
                </div>
                <!-- END OF COL-LG-4 COL-MD-4 COL-SM-12 COL-XS-12 -->
              </div>
              <!-- END OF ROW -->
              <!--   <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <p fxFlex="50" class="pr-4">Showing {{start}} to {{end}} of {{allItems}} entries</p>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-right">
                  <ul *ngIf="pager.pages && pager.pages.length" class="pagination inline_list">
                    <li [ngClass]="{disabled:pager.currentPage === 1}">
                        <a (click)="setPage(1)">First</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === 1}">
                        <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                    </li>
                    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                        <a (click)="setPage(page)">{{page}}</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a (click)="setPage(pager.currentPage + 1)">Next</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a (click)="setPage(pager.totalPages)">Last</a>
                    </li>
                </ul>
                </div>

              </div> -->
              <!-- END OF ROW -->
            </div>
            <!-- END OF COL-LG-12 COL-MD-12 COL-SM-12 COL-XS-12 -->
          </div>
          <!-- END OF ROW -->
        </div>
        <!-- END OF MAT__BOX MT-20 MR-28 -->
      </ng-container>
    </div>
  </div>



  <style type="text/css">
    .inline_list {
      list-style-type: none;
    }

    .inline_list li {
      display: inline-block;
    }

    .inline_list li a {
      position: relative;
      float: left;
      padding: 6px 12px;
      margin-left: -1px;
      line-height: 1.42857143;
      color: #337ab7;
      text-decoration: none;
      background-color: #fff;
      border: 1px solid #ddd;
    }
  </style>