<div id="dashboard-companies" class="page-layout simple right-sidebar" fxLayout="row" style="margin-left: 10px;">

    <!-- CENTER -->
    <div class="center quiz-list" fusePerfectScrollbar>
        <!--   <div fxLayout="row" fxLayoutAlign="end end" fxFlex="1 0 auto" style="margin-top: 20px;margin-bottom: 25px;margin-right: 30px;">

             <button mat-stroked-button color="primary" (click)="addQuiz()">
                <mat-icon>add_circle_outline</mat-icon>Add more</button>

        </div> -->

        <div class="mat__box mat__box2 mt-20 mr-28">

            <div class="">
                <a routerLink="/apps/home-dashboard/version3" style="text-decoration: none;">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dashboard </a>
                <a routerLink="/apps/vertical-management/vertical"
                    style="text-decoration: none;">&nbsp;&nbsp;/&nbsp;&nbsp;Vertical</a>
                    <a  (click)="back()"
                    style="text-decoration: none;">&nbsp;&nbsp;/&nbsp;&nbsp;
                    {{name}} </a>
                    <a routerLink="/apps/vertical-management/quizzeslist/{{topic_id}}"
                    style="text-decoration: none;">&nbsp;&nbsp;/&nbsp;&nbsp;
                    {{names}} vertical</a>
            </div>

            <div class="row" fxLayoutAlign="space-between center" style="float: right !important;">
                <!-- END OF COL-LG-6 COL-MD-6 COL-SM-12 COL-XS-12" -->
                <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right"> -->
                <button style="margin-top: -22px;" mat-stroked-button color="primary" (click)="addQuiz()">
                    <mat-icon>add_circle_outline</mat-icon>Add more
                </button>
                <!-- </div> -->
                <!-- END OF COL-LG-6 COL-MD-6 COL-SM-12 COL-XS-12 TEXT-RIGHT -->
            </div>
        </div>

        <!-- START SECOND ROW -->
        <!-- START DIV -->
        <!-- <div class="mat__box mt-20 mr-28">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <!-- <div class="h2 mb-8">User Search</div> 
                    <div style="margin-top: 25px;">
                        <h2>{{names}}  vertical</h2>
                        <span class="fill-remaining-space"></span>
                    </div>

                </div>
            </div>
        </div> -->
        <!-- END DIV -->
        <!-- END SECOND ROW -->
        <div class="margin0">
            <h2>
                <mat-icon (click)="buttontoggle()" style="cursor: pointer;">
                    {{buttonName}}</mat-icon>{{names}} vertical
            </h2>
            <span class="fill-remaining-space"></span>
        </div>

        <ng-container *ngIf="show">
            <div class="mat__box mt-20 mr-28">
                <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
                    <div fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto">
                        <div class="row">
                        
                            <div  class="col-lg-9 col-md-9 col-sm-12 col-xs-12 mb-12">
                                <mat-form-field appearance="outline" fxFlex="40">
                                    <input matInput placeholder="Search quiz by name"
                                        (keyup)="Search($event.target.value)">
                                </mat-form-field>

                            </div>

                            <!-- quiz_name', 'quiz_description', 'totalQuestions', 'passing_score', 'status', 'action', 'created' -->
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 mb-12 " style="float: right;margin-top: -85px;">
                                <button mat-button [matMenuTriggerFor]="menu" mat-raised-button type="button"
                                    class="ColVis_Button ColVis_MasterButton">
                                    <span> Show/Hide Column</span>
                                </button>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item>
                                        <label>
                                            <input type="checkbox" (change)="columnClick('quiz_name',$event)"
                                                checked><span class="ml ">Quiz Name</span>
                                        </label>
                                    </button>
                                    <button mat-menu-item>
                                        <label><input type="checkbox" (change)="columnClick('quiz_description',$event)"
                                                checked>
                                            <span class="ml">Quiz Description</span>
                                        </label>
                                    </button>
                                    <button mat-menu-item><label>
                                            <input type="checkbox" (change)="columnClick('totalQuestions',$event)"
                                                checked><span class="ml">TotalQuestions</span></label>
                                    </button>
                                    <button mat-menu-item><label>
                                            <input type="checkbox" (change)="columnClick('passing_score',$event)"
                                                checked><span class="ml">Passing Score</span></label>
                                    </button>
                                    <button mat-menu-item><label>
                                            <input type="checkbox" (change)="columnClick('status',$event)" checked><span
                                                class="ml">Status</span></label>
                                    </button>
                                    <button mat-menu-item><label>
                                            <input type="checkbox" (change)="columnClick('created',$event)"
                                                checked><span class="ml">Created</span></label>
                                    </button>
                                    <button mat-menu-item><label><input type="checkbox"
                                                (change)="columnClick('action',$event)" checked><span
                                                class="ml">Action</span></label>
                                    </button>
                                </mat-menu>
                            </div>


                            <!-- END OF COL-LG-4 COL-MD-4 COL-SM-12 COL-XS-12 -->
                        </div>
                        <!-- CONTENT -->

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <table mat-table [dataSource]="dataSource">

                                    <!-- Weight Column -->
                                    <ng-container matColumnDef="quiz_name">
                                        <th mat-header-cell *matHeaderCellDef>Quiz Name
                                            <span class="pointer">
                                                <i (click)="updateSortingOrderQuiz('quiz_name','ASC')"
                                                    [class]='(this.sort_column=="quiz_name" && this.sort_order=="ASC") ? "sort_column_active material-icons" : "sort_column material-icons"'>
                                                    arrow_upward
                                                </i>
                                                <i (click)="updateSortingOrderQuiz('quiz_name','DESC')"
                                                    [class]='(this.sort_column=="quiz_name" && this.sort_order=="DESC") ? "sort_column_active material-icons" : "sort_column material-icons"'>
                                                    arrow_downward
                                                </i>
                                            </span>
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.quiz_name}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="quiz_description">
                                        <th mat-header-cell *matHeaderCellDef>Description
                                            <span class="pointer">
                                                <i (click)="updateSortingOrderQuiz('quiz_description','ASC')"
                                                    [class]='(this.sort_column=="quiz_description" && this.sort_order=="ASC") ? "sort_column_active material-icons" : "sort_column material-icons"'>
                                                    arrow_upward
                                                </i>
                                                <i (click)="updateSortingOrderQuiz('quiz_description','DESC')"
                                                    [class]='(this.sort_column=="quiz_description" && this.sort_order=="DESC") ? "sort_column_active material-icons" : "sort_column material-icons"'>
                                                    arrow_downward
                                                </i>
                                            </span>
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.quiz_description}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="totalQuestions">
                                        <th mat-header-cell *matHeaderCellDef>Questions
                                            <span class="pointer">
                                                <i (click)="updateSortingOrderQuiz('totalQuestions','ASC')"
                                                    [class]='(this.sort_column=="totalQuestions" && this.sort_order=="ASC") ? "sort_column_active material-icons" : "sort_column material-icons"'>
                                                    arrow_upward
                                                </i>
                                                <i (click)="updateSortingOrderQuiz('totalQuestions','DESC')"
                                                    [class]='(this.sort_column=="totalQuestions" && this.sort_order=="DESC") ? "sort_column_active material-icons" : "sort_column material-icons"'>
                                                    arrow_downward
                                                </i>
                                            </span>
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.totalQuestions}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="passing_score">
                                        <th mat-header-cell *matHeaderCellDef>Passing Score
                                            <span class="pointer">
                                                <i (click)="updateSortingOrderQuiz('passing_score','ASC')"
                                                    [class]='(this.sort_column=="passing_score" && this.sort_order=="ASC") ? "sort_column_active material-icons" : "sort_column material-icons"'>
                                                    arrow_upward
                                                </i>
                                                <i (click)="updateSortingOrderQuiz('passing_score','DESC')"
                                                    [class]='(this.sort_column=="passing_score" && this.sort_order=="DESC") ? "sort_column_active material-icons" : "sort_column material-icons"'>
                                                    arrow_downward
                                                </i>
                                            </span>
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.passing_score}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="status">
                                        <th mat-header-cell *matHeaderCellDef> Status
                                            <span class="pointer">
                                                <i (click)="updateSortingOrderQuiz('status','ASC')"
                                                    [class]='(this.sort_column=="status" && this.sort_order=="ASC") ? "sort_column_active material-icons" : "sort_column material-icons"'>
                                                    arrow_upward
                                                </i>
                                                <i (click)="updateSortingOrderQuiz('status','DESC')"
                                                    [class]='(this.sort_column=="status" && this.sort_order=="DESC") ? "sort_column_active material-icons" : "sort_column material-icons"'>
                                                    arrow_downward
                                                </i>
                                            </span> </th>
                                        <td mat-cell *matCellDef="let element">
                                            <ui-switch [checked]="element.status == 'Active' ? true : false"
                                                (change)="onChange($event,element.id)"></ui-switch>
                                        </td>
                                    </ng-container>

                                    <!-- Symbol Column -->
                                    <ng-container matColumnDef="action">
                                        <th mat-header-cell *matHeaderCellDef> Action
                                            <span class="pointer">
                                                <i (click)="updateSortingOrderQuiz('action','ASC')"
                                                    [class]='(this.sort_column=="action" && this.sort_order=="ASC") ? "sort_column_active material-icons" : "sort_column material-icons"'>
                                                    arrow_upward
                                                </i>
                                                <i (click)="updateSortingOrderQuiz('action','DESC')"
                                                    [class]='(this.sort_column=="action" && this.sort_order=="DESC") ? "sort_column_active material-icons" : "sort_column material-icons"'>
                                                    arrow_downward
                                                </i>
                                            </span>
                                        </th>
                                        <td mat-cell *matCellDef="let element" class="watch-list">

                                            <div fxLayout="row" fxLayoutAlign="start center">
                                                <button mat-stroked-button color="primary"
                                                    (click)="View(element)">View</button>

                                            </div>

                                          
                                            <button mat-raised-button [matMenuTriggerFor]="belowMenu">Actions</button>

                                            <mat-menu #belowMenu="matMenu" yPosition="below">
                                                <button mat-menu-item matTooltip="Edit"
                                                    (click)="openDialog(element)">Edit</button>

                                                <button mat-menu-item matTooltip="Delete"
                                                    (click)="confirmDialog(element)">delete</button>
                                            </mat-menu>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="created">
                                        <th mat-header-cell *matHeaderCellDef> Created date
                                            <span class="pointer">
                                                <i (click)="updateSortingOrderQuiz('created','ASC')"
                                                    [class]='(this.sort_column=="created" && this.sort_order=="ASC") ? "sort_column_active material-icons" : "sort_column material-icons"'>
                                                    arrow_upward
                                                </i>
                                                <i (click)="updateSortingOrderQuiz('created','DESC')"
                                                    [class]='(this.sort_column=="created" && this.sort_order=="DESC") ? "sort_column_active material-icons" : "sort_column material-icons"'>
                                                    arrow_downward
                                                </i>
                                            </span> </th>
                                        <td mat-cell *matCellDef="let element"> {{element.created}} </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>

                                <mat-paginator *ngIf="allItems > 0" #paginator [length]="allItems"
                                    [pageIndex]="currentPage" [pageSize]="pageSize" [pageSizeOptions]="[10, 25, 50,100]"
                                    showFirstLastButtons (page)="handlePage($event)"></mat-paginator>
                                <div *ngIf="data == '' " style="text-align: center">No data available in table</div>

                                <!--     <div>
                            <div class="container">

                                <div class="text-center">
                                    <div>Showing {{start}} to {{end}} of {{allItems}} entries</div>

                                    <ul *ngIf="pager.pages && pager.pages.length" class="pagination inline_list">
                                        <li [ngClass]="{disabled:pager.currentPage === 1}">
                                            <a (click)="setPage(1)">First</a>
                                        </li>
                                        <li [ngClass]="{disabled:pager.currentPage === 1}">
                                            <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                                        </li>
                                        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                                            <a (click)="setPage(page)">{{page}}</a>
                                        </li>
                                        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                            <a (click)="setPage(pager.currentPage + 1)">Next</a>
                                        </li>
                                        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                            <a (click)="setPage(pager.totalPages)">Last</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div> -->

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>

    <!--   <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 mb-12">
                            <mat-form-field appearance="outline" fxFlex="100">
                                <mat-label>Show Entries</mat-label>
                                <mat-select matNativeControl (change)="changelimit($event.target.value)">
                                    <mat-option value="10">10</mat-option>
                                    <mat-option value="25">25</mat-option>
                                    <mat-option value="50">50</mat-option>
                                    <mat-option value="100">100</mat-option>
                                </mat-select>
                            </mat-form-field>
                     
                        </div> -->

                          <!-- <button mat-icon-button>
                                        <mat-icon matTooltip="Edit" (click)="openDialog(element)">edit</mat-icon>
                                    </button>
                                    <button mat-icon-button>

                                        <mat-icon matTooltip="Delete" (click)="confirmDialog(element)">delete</mat-icon>
                                    </button> -->