.header {  
    margin-top: 100px;
    text-align: center;
    margin-bottom: 40px;
  }
  .html-header {
    margin: 15px 0 5px;
  }
  
  .html {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0.5rem;
    background-color: #f1f1f1;
    min-height: 20px;
    max-height: 10rem;
    overflow: auto;
  }

  body {
    // font-family: Arial, Helvetica, sans-serif;
    font-family: 'material-outline-icons' !important;
  }
  
  .container {  
    max-width: 720px;
    margin-right: auto;
    margin-left: auto;    
  }
  
  .quote {
      color: #8cc540;
      font-style: italic;
  }
  
  .redText {
      color: Red;
      font-size: 12px;
      font-family: Arial;
  }
  
  h1.titleText {
      color: #69a8cf;
      text-align: left;
      margin-top: 40px;
      font-weight: normal;
  }
  
  .header {  
    margin-top: 100px;
    text-align: center;
    margin-bottom: 40px;
  }
  .html-header {
    margin: 15px 0 5px;
  }
  
  .html {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0.5rem;
    background-color: #f1f1f1;
    min-height: 20px;
    max-height: 10rem;
    overflow: auto;
  }
  .x_panel{
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    padding: 26px 17px;
    display: inline-block;
    background: #fff;
    border: 1px solid #E6E9ED;
    opacity: 1;
    transition: all 0.2s ease;
}
.btn-primary{
  height: 31px;
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  text-decoration: none;
  width: 78px;
  // margin-left: 28px;

}
.hide{
  display: none;
}