.pointer{
    cursor: pointer;
  }
  .sort_column {
    font-weight: 600;
    font-size: 14px !important;
    cursor: pointer;
    // visibility: hidden;
    color: #999;
  }
  // .table_custom th:hover .sort_column{
  //   visibility: visible
  // }
  
  .sort_column_active {
    font-weight: 600;
    font-size: 14px !important;
    cursor: pointer;
    color: #999;
  
    // color: #1a73e8;
  }
  