<header class="desktop_header">
    <a class="logo_nav" routerLink=""><img src="assets/images/logo.png"></a>
    <div class="row text-right top_sec">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="button_con">
                <a class="white_button" routerLink=""><span>Try for Free</span></a>
                <a class="green_button user_access" routerLink=""><span>User Access</span></a>
                <div class="intro_rol">
                    <div class="create_wspace"></div>
                    <form>
                        <div class="input-group">
                            <label>Email/Username</label>
                            <input type="text" name="email" id="loginemail">
                        </div>
                        <div class="input-group">
                            <label>Password </label>
                            <a class="forget-pass" target="_blank">Forgot Password?</a>
                            <input type="password" name="pass" id="loginpassword" autocomplete="new-password">
                        </div>
                        <div class="input-group">
                            <div class="spacer10"></div>
                            <input type="checkbox" name="rememberMe"><span>Remember Me</span>
                        </div>
                        <div class="input-group">
                            <a routerLink="" class="login">Login</a>
                        </div>
                        <div class="input-group">
                            <a routerLink="" class="login">Register with access code</a>
                        </div>
                        <div class="myDiv_footer">
                            <ul>
                                <li>Not a Customer?</li>
                                <li style="text-align: right;"><a routerLink="#" class="btn-border">Try For Free</a>
                                </li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- col-lg-12 -->
    </div>

    <!-- top_sec -->
    <div class="row text-right bottom_sec">
        <div class="man_nav col-lg-8 col-md-8 col-sm-12 col-xs-12 text-left">
            <ul class="active_nav">
                <!-- class="active_nav" -->

                <li><a [routerLink]="['home']" routerLinkActive="active">Home</a></li>
                <li><a [routerLink]="['about-us']" routerLinkActive="active">About us</a></li>
                <!-- <li><a routerLink="whatyoulearn.html">What You Learn</a></li> -->
                <!-- <li class="dropdown"><a routerLink="whowehelp.html" class="dropbtn">Who We Help</a> -->
                <!-- <div class="dropdown-content">
                            <a routerLink="#">For School</a>
                            <a routerLink="#">For Families</a>
                            <a routerLink="#">For Companies</a>
                            <a routerLink="#">For Advisors & Agents</a>
                        </div>
                    </li> -->
                <li><a [routerLink]="['blogs']" routerLinkActive="active">Blogs</a></li>
                <li><a [routerLink]="['event']" routerLinkActive="active">Events</a></li>
                <li><a [routerLink]="['coaching']" routerLinkActive="active">Coaching</a></li>
            </ul>
        </div>
        <!-- col-lg-8 -->
        <div class="social_nav col-lg-4 col-md-4 col-sm-12 col-xs-12 text-right">
            <ul>
                <li><a routerLink=""><i class="fab fa-facebook-f"></i></a></li>
                <li><a routerLink=""><i class="fab fa-twitter"></i></a></li>
                <li><a routerLink=""><i class="fab fa-linkedin-in"></i></a></li>
            </ul>
        </div>
        <!-- col-lg-8 -->

        <div id="nav-icon1">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <div class="mob_nav">
            <ul>
                <li class="active_nav">
                    <a [routerLink]="['home']">Home</a></li>
                <li><a [routerLink]="['about-us']">About us</a></li>
                <!-- <li><a routerLink="">What You Learn</a></li>
                    <li><a routerLink="">Who We Help</a></li> -->
                <li><a [routerLink]="['blogs']">Blogs</a></li>
                <li><a [routerLink]="['event']">Events</a></li>
                <li><a [routerLink]="['coaching']">Coaching</a></li>
            </ul>
            <ul class="social_responsive">
                <li><a routerLink=""><i class="fab fa-facebook-f"></i></a></li>
                <li><a routerLink=""><i class="fab fa-twitter"></i></a></li>
                <li><a routerLink=""><i class="fab fa-linkedin-in"></i></a></li>
            </ul>
        </div>
        <!-- mob_nav -->
    </div>
    <!-- top_sec -->
</header>


<router-outlet></router-outlet>