.active {
    color: #9fba3a;
    text-decoration: none;
  }
  header {
    position: absolute;
    width: 1300px;
}
header{position: absolute;}
header .row {padding: 0 35px;}
header .top_sec .button_con{padding: 15px 0;}
.white_button{background-color: #fff;color: #3E3E3F;text-align: center;padding: 10px 20px;font-size: 13px;border-radius: 3px;display: inline-block;transition: all ease 0.3s;border: 1.5px solid #fff;}
.white_button:hover{color: #9FBA3A;}
.green_button{background-color: #9FBA3A;color: #fff;text-align: center;padding: 10px 20px;font-size: 13px;border-radius: 3px;display: inline-block;transition: all ease 0.3s;border: 1.5px solid #9FBA3A;}
.green_button:hover{background-color: #fff;color: #9FBA3A;}
.green_button.button_large,.white_button.button_large,.button_large{font-size: 16px;display: inline-block;padding: 14px 26px;}
.green_button.button_large span,.white_button.button_large span,.button_large span{font-size: 16px;}
.button_transparent span{color: #9FBA3A;transition: all ease 0.3s;}
.button_transparent:hover span{color: #000;}
.arrow_button{position: relative;}
.arrow_button span{color: #3E3E3F;transition: all ease 0.3s;}
.arrow_button span i{background-color: #9FBA3A;width: 25px;height: 25px;color: #fff;display: inline-flex;justify-content: center;align-items: center;border-radius: 100%;font-size: 12px;margin-right: 10px;}
.arrow_button:hover span{color: #9FBA3A;}
.learnmore_button{color: #000;font-size: 14px;margin-top: 5px;display: inline-block;transition: all ease 0.3s;}
.learnmore_button i{transition: padding ease 0.3s;}
.learnmore_button:hover{color: #9fba3a;}
.learnmore_button:hover i{padding-left: 10px;}

.white_button span{color: inherit;}
.green_button span{color: inherit;}
header .logo_nav{position: absolute;z-index: 9;width: 220px;height: 118px;background-color: #fff;text-align: center;left: 35px;padding: 10px;box-shadow: 0 0px 13px rgba(0, 0, 0, 0.35);}
header .logo_nav img{height: 92px;width: auto;object-fit: contain;}
header .top_sec {
  width: 1300px;
  background-color: #3e3e40;
  padding-left: 280px;
} 
header .bottom_sec{background-color: #fff;padding-left: 280px;}
.man_nav li{display: inline-block;font-size: 14px;position: relative;font-weight: bold;}
.man_nav li a{color: #000;text-transform: uppercase;position: relative;z-index: 1;padding: 16px 10px;}
.man_nav li.active_nav a{color: #9FBA3A;position: relative;z-index: 1;transition: all ease 0.3s;}
.man_nav li.active_nav:before{position: absolute;left: 0px;right: 0px;background: #9FBA3A;content: "";top: 0;bottom: calc(100% - 3px);transition: all ease 0.3s;}
.man_nav li.active_nav:hover a{color: #fff;}
.man_nav li a:hover{background: #9fba3a;color: #fff;}
.social_nav ul li{display: inline-block;padding: 15px 0;}
.social_nav ul li a i{width: 18px;height: 18px;border-radius: 2px;font-size: 11px;color: #fff;background: #4064AD;display: flex;justify-content: center;align-items: center;}
.social_nav ul li a .fa-twitter{background: #1C9DEB;}
.social_nav ul li a .fa-linkedin-in{background: #0271AE;}

.heading_div{margin-bottom: 40px;}
h1,.heading_div h2{text-transform: capitalize;}
.heading_div p{font-size: 21px;line-height: 28px;text-align: center;color: #3E3E3F;}
.section{padding: 80px 0;}


ul {
  padding: 0;
  margin: 0;
} 
.social_nav ul li {
  display: inline-block;
  padding: 15px 0;
}
.desktop_header .man_nav{width: 75%;float: left;}
.desktop_header .social_nav{width: 25%; float: left;}
.man_nav li {
  display: inline-block;
  padding: 0px 0;
  font-size: 14px;
  margin-right: 20px;
  position: relative;
}
.man_nav li a {
  color: #000;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  padding: 13px 10px;
}

.social_nav ul li a i {
  width: 18px;
  height: 18px;
  border-radius: 2px;
  font-size: 11px;
  color: #fff;
  background: #4064AD;
  display: flex;
  justify-content: center;
  align-items: center;
}

// .fab {
//   font-family: "Font Awesome 5 Brands";
// }