
/*homepage*/
header{position: relative;}
header .row {padding: 0 35px;}
header .top_sec .button_con{padding: 15px 0;}
.white_button{background-color: #fff;color: #3E3E3F;text-align: center;padding: 10px 20px;font-size: 13px;border-radius: 3px;display: inline-block;transition: all ease 0.3s;border: 1.5px solid #fff;}
.white_button:hover{color: #9FBA3A;}
.green_button{background-color: #9FBA3A;color: #fff;text-align: center;padding: 10px 20px;font-size: 13px;border-radius: 3px;display: inline-block;transition: all ease 0.3s;border: 1.5px solid #9FBA3A;}
.green_button:hover{background-color: #fff;color: #9FBA3A;}
.green_button.button_large,.white_button.button_large,.button_large{font-size: 16px;display: inline-block;padding: 14px 26px;}
.green_button.button_large span,.white_button.button_large span,.button_large span{font-size: 16px;}
.button_transparent span{color: #9FBA3A;transition: all ease 0.3s;}
.button_transparent:hover span{color: #000;}
.arrow_button{position: relative;}
.arrow_button span{color: #3E3E3F;transition: all ease 0.3s;}
.arrow_button span i{background-color: #9FBA3A;width: 25px;height: 25px;color: #fff;display: inline-flex;justify-content: center;align-items: center;border-radius: 100%;font-size: 12px;margin-right: 10px;}
.arrow_button:hover span{color: #9FBA3A;}
.learnmore_button{color: #000;font-size: 14px;margin-top: 5px;display: inline-block;transition: all ease 0.3s;}
.learnmore_button i{transition: padding ease 0.3s;}
.learnmore_button:hover{color: #9fba3a;}
.learnmore_button:hover i{padding-left: 10px;}

.white_button span{color: inherit;}
.green_button span{color: inherit;}
header .logo_nav{position: absolute;z-index: 9;width: 220px;height: 118px;background-color: #fff;text-align: center;left: 35px;padding: 10px;box-shadow: 0 0px 13px rgba(0, 0, 0, 0.35);}
header .logo_nav img{height: 92px;width: auto;object-fit: contain;}
header .top_sec{background-color: #3e3e40;padding-left: 280px;}
header .bottom_sec{background-color: #fff;padding-left: 280px;}
.man_nav li{display: inline-block;padding: 15px 0;font-size: 14px;margin-right: 20px;position: relative;}
.man_nav li a{color: #3E3E3F;text-transform: uppercase;position: relative;z-index: 1}
.man_nav li.active_nav a,.man_nav li a:hover{color: #9FBA3A;position: relative;z-index: 1;transition: all ease 0.3s;}
.man_nav li.active_nav:before{position: absolute;left: -5px;right: -5px;background: #9FBA3A;content: "";top: 0;bottom: calc(100% - 3px);transition: all ease 0.3s;}
.man_nav li.active_nav:hover a{color: #000;}
.social_nav ul li{display: inline-block;padding: 15px 0;}
.social_nav ul li a i{width: 18px;height: 18px;border-radius: 2px;font-size: 11px;color: #fff;background: #4064AD;display: flex;justify-content: center;align-items: center;}
.social_nav ul li a .fa-twitter{background: #1C9DEB;}
.social_nav ul li a .fa-linkedin-in{background: #0271AE;}

.heading_div{margin-bottom: 40px;}
.heading_div p{font-size: 16px;line-height: 21px;text-align: center;}
.section{padding: 80px 0;}

.banner_section{height: calc(100vh - 116px);position: relative;}
/* .banner_section .banner_image{object-fit: cover;width: 100%;position: absolute;top: 0;left: 0;right: 0;bottom: 0;z-index: 0;height: calc(100vh - 116px)}
.banner_section .image_container{position: absolute;z-index: 0;top: 0;left: 0;right: 0;bottom: 0;}
.banner_section .image_container:before{content: "";display: block;top: 0;left: 0;right: 0;bottom: 0;background-color: rgba(0, 0, 0, 0.45);z-index: 1;height: 100%;position: absolute;}
.banner_section .banner_content{position: relative;z-index: 1;width: 100%;padding:50px;}
.banner_section .banner_content h1{color: #fff;margin-bottom: 40px;}
.banner_section .banner_content .right_secn ul{position: relative;overflow: hidden;}
.banner_section .banner_content .right_secn ul:before{position: relative;width: 100px;height: 2px;background-color: #fff;content: "";display: block;margin-bottom: 25px;}
.banner_section .banner_content .right_secn ul li{color: #fff;width: 49%;display: inline-block;font-size: 16px;margin-bottom: 15px;padding-right: 10px;font-weight: normal;}
.banner_section .banner_content .right_secn ul li i{margin-right: 10px;}
.banner_section .live_button{position: absolute;z-index: 2;padding: 0 50px;width: 100%;text-align: right;padding-top: 25px;} */

/* .banner_bottom_section{background-color: #000;padding: 15px 0;}
.banner_bottom_section .flex-box{display: flex;}
.banner_bottom_section .flex-box span,.banner_bottom_section .flex-box h5,.banner_bottom_section h6{color: #fff;}
.banner_bottom_section .button_large:hover span{color: #9FBA3A;}
.banner_bottom_section h6{margin: 0;}
.banner_bottom_section .flex-box .item_120{margin-right: 15px;} */

.homepage_new .swiper-button-next,.homepage_new .swiper-button-prev{width: 50px;}
.homepage_new .swiper-button-next:after,.homepage_new .swiper-button-prev:after{display: none;}
.homepage_new .swiper-button-next i,.homepage_new .swiper-button-prev i{background-color: #fff;width: 45px;height: 45px;border-radius: 100%;display: flex;justify-content: center;align-items: center;border: 1px solid #efefef;color: #3E3E3F;box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);}
.simple_language_slider{padding: 0 50px;position: relative;}
/* .simple_language_slider:before{content: "";z-index: 2;width: 50px;top: 0;bottom: 0;background-color: #fff;left: 0;display: block;position: absolute;}
.simple_language_slider:after{content: "";z-index: 2;width: 50px;top: 0;bottom: 0;background-color: #fff;right: 0;display: block;position: absolute;} */
/* .simple_language_slider .swiper-slide:nth-child(odd) .language_box{background-color: #9FBA3A;}
.simple_language_slider .swiper-slide:nth-child(even) .language_box{background-color: #0295C9;}
.simple_language_slider .language_box{border-radius: 5px;overflow: hidden;}
.simple_language_slider .language_box .image_container{position: relative;}
.simple_language_slider .language_box .image_container img{width: 100%;height: auto;object-fit: cover;position: relative;z-index: 0;height: 209px;}
.simple_language_slider .language_box .image_container:before{content: "";display: block;top: 0;left: 0;right: 0;bottom: 0;background-color: rgba(0, 0, 0, 0.45);z-index: 1;height: 100%;position: absolute;}
.simple_language_slider .language_box .content_container{padding: 20px;text-align: left;position: relative;}
.simple_language_slider .language_box .content_container:before{position: absolute;clip-path: polygon(0 0, 100% 80%, 100% 100%, 0% 100%);;height: 30px;top: -28px;content: "";width:100%;display: block;left: 0;z-index: 1;}
.simple_language_slider .swiper-slide:nth-child(odd) .content_container:before{background-color: #9FBA3A;}
.simple_language_slider .swiper-slide:nth-child(even) .content_container:before{background-color: #0295C9;}
.simple_language_slider .language_box .content_container h6{color: #fff; display: block; display: -webkit-box; max-width: 100%; max-height: 24px; -webkit-line-clamp: 1; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis;}
.simple_language_slider .language_box .content_container p{color: #fff;display: block; display: -webkit-box; max-width: 100%; height: 114px !important; -webkit-line-clamp: 6; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis;}
.simple_language_slider .language_box .content_container .learnmore_button:hover{color: #fff;} */

.experience_now_section .main_section{position: relative;overflow: hidden;height: 575px;overflow: hidden;}
.experience_now_section .main_section .section_content{position: relative;z-index: 1;padding: 50px;display: flex;justify-content: space-between;height: 100%;}
.experience_now_section .main_section .experience_image{object-fit: cover;width: 100%;position: absolute;top: 0;left: 0;right: 0;bottom: 0;z-index: 0;height: 575px;}
.experience_now_section .main_section .image_container{position: absolute;z-index: 0;top: 0;left: 0;right: 0;bottom: 0;}
.experience_now_section .main_section .image_container:before{content: "";display: block;top: 0;left: 0;right: 0;bottom: 0;background-color: rgba(0, 0, 0, 0.45);z-index: 1;height: 100%;position: absolute;}
.experience_now_section .main_section .section_content .left_sec{display: flex;flex-direction: column;justify-content: space-between;}
.experience_now_section .main_section .section_content .right_sec{background-color: #fff;padding: 30px;position: absolute;top: 0;right: 0;bottom: 0;width: 320px;}
.experience_now_section .main_section .section_content .left_sec h4{color: #fff;}
.next_webinar_section{background-color: #fff;padding:20px 30px;border-radius: 5px;display: flex;justify-content: space-between;align-items: center;}
.next_webinar_section > .con > span,.next_webinar_section > .button_sec > span{color: #000;display: block;}
.next_webinar_section p{color: #9FBA3A;font-size: 16px;margin: 0;margin-bottom: 5px;} 
.next_webinar_section .con{width: calc(100% - 220px);display: inline-block;}
.next_webinar_section .con span{margin-bottom: 10px;}
.next_webinar_section .button_sec{display: inline-block;text-align: center;}
.next_webinar_section .button_sec > span{margin-top: 5px;}
.next_webinar_section .button_sec .green_button{}
.experience_now_section .main_section .section_content .right_sec h6{margin-bottom: 20px;color: #9FBA3A;}
.experience_now_section .main_section .section_content .right_sec ul{max-height: 450px;overflow-y: auto;padding-right: 5px;}
.experience_now_section .main_section .section_content .right_sec ul li{display: block;width: 100%;}
.experience_now_section .main_section .section_content .right_sec ul li a{display: flex;border: 1px solid #efefef;margin-bottom: 5px;align-items: center;border-radius: 5px;overflow: hidden;padding: 5px;transition: all ease 0.3s;}
.experience_now_section .main_section .section_content .right_sec ul li a:hover{box-shadow: 0 5px 5px rgba(0,0,0,0.1);border-color: #9fba3a;}
.experience_now_section .main_section .section_content .right_sec ul li p{color: #000;display: block;display: -webkit-box;max-width: 100%;max-height: 36px;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;margin: 0;margin: 5px 0;}
.experience_now_section .main_section .section_content .right_sec ul::-webkit-scrollbar{height: 8px;width: 10px;}
.experience_now_section .main_section .section_content .right_sec ul::-webkit-scrollbar-track{box-shadow: inset 0 0 5px grey; border-radius: 10px;}
.experience_now_section .main_section .section_content .right_sec ul::-webkit-scrollbar-thumb{background: #3195c2; border-radius: 10px;}
.experience_now_section .main_section .section_content .right_sec ul li .img_container{width: 70px;}
.experience_now_section .main_section .section_content .right_sec ul li .content_n{width: calc(100% - 70px)}
.experience_now_section .main_section .section_content .right_sec ul li .img_container img{width:60px;height: 60px;border-radius: 5px;margin-right: 5px;}
.experience_now_section .main_section .section_content .right_sec ul li span{display: inline-block;font-size: 12px;color: #3E3E3F;vertical-align: top;}

.clientel_section .clientel_slider{position: relative;padding: 0 50px;}
.clientel_section .clientel_slider:before{content: ""; z-index: 2; width: 50px; top: 0; bottom: 0; background-color: #fff; left: 0; display: block; position: absolute; }
.clientel_section .clientel_slider:after{content: ""; z-index: 2; width: 50px; top: 0; bottom: 0; background-color: #fff; right: 0; display: block; position: absolute; }
.clientel_section .clientel_slider .swiper-slide .img_con{display: flex;justify-content: center;align-items: center;background-color: #fff;border:1px solid #CCCDCF;width: 100%;height: 165px;}
.clientel_section .clientel_slider .swiper-slide .img_con img{max-width: 150px;object-fit: contain;}

/* .number_section{background-image:url(../../../assets/images/number-background.png);background-repeat: no-repeat;background-size: cover;padding: 100px 0;}
.number_section h2{margin-bottom: 20px;color: #fff;}
.number_section h3{color: #fff;}
.number_section p{color: #fff;} */


.number_section {
    background-image: url(../../../assets/images/number-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0px;
}
  
.write_your-massage {
    background-image: url(../../../assets/images/form_bg.png);
}
.customers_section .customers_slider .customers_box_text {border-radius: 5px; border: 1px solid #c8c8c8; background: #fff;text-align: left; }
.customers_section .customers_slider .col-md-6{padding: 0;}
.customers_section .customers_slider .col-md-6:first-child{padding: 0;position: relative;z-index: 1;margin-right: -70px;}
.customers_section .customers_slider .col-md-6:nth-child(2){padding: 0;position: relative;z-index: 0;margin-left: -70px;}
.customers_section .customers_slider .customers_box_text h3{padding: 60px 60px 0px 60px;font-weight: normal;font-size: 30px;display: block;display: -webkit-box;max-width: 100%;max-height: 275px;-webkit-line-clamp: 5;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;}
.customers_section .customers_slider .customers_box_text .customers_bottumtext{padding: 35px 60px;}
.customers_section .customers_slider .customers_box_text .customers_bottumtext p{margin:0px; }
.customers_section .customers_slider .customers_box_text .customers_bottumtext p span{font-size: 20px;color: #abbb62;}
.customers_section .customers_slider .customers_silder_image .slide_content{width: 100%;border: 1px solid #c8c8c8;background: #fff;object-fit: cover;border-radius: 5px;height: 525px;}

.experience_section{background: #f5f4ef}
.experience_section .experience_slider .customers_box_text {border-radius: 5px; border: 1px solid #c8c8c8; background: #fff;text-align: left;padding: 60px;}
.experience_section .experience_slider .col-md-6{padding: 0;}
.experience_section .experience_slider .col-md-6:first-child{padding: 0;position: relative;z-index: 1;margin-right: -70px;}
.experience_section .experience_slider .col-md-6:nth-child(2){padding: 0;position: relative;z-index: 0;margin-left: -70px;}
.experience_section .experience_slider .customers_silder_image .slide_content{width: 100%;border: 1px solid #c8c8c8;background: #000000;object-fit: cover;border-radius: 5px;height: 525px;}
.experience_section .experience_slider .button_con{margin-top: 60px;}
.experience_section .experience_slider .top{margin-bottom: 20px;}
.experience_section .experience_slider .top .user_location{color: #727376;margin-right: 20px;font-size: 16px;}
.experience_section .experience_slider .top .green{color: #9FBA3A;font-size: 16px;}
.experience_section .col-lg-10 .date_counter_slider{margin-top: 50px;padding-right: 30px;width: 590px;position: relative;}
.experience_section .col-lg-10 .date_counter_slider:after{position: absolute;z-index: 2;width: 32px;right: 0;top: 0;bottom: 0;background-color: #f5f4ef;content: "";}
.experience_section .col-lg-10 .swiper-slide {display: inline-flex;width: 60px;height: 60px;background-color: #CCCDCF;border-radius: 2px;justify-content: center;align-items: center;cursor: pointer;position: relative;}
.homepage_new .date_counter_slider .swiper-button-next i, .homepage_new .date_counter_slider .swiper-button-prev i{background-color: #9FBA3A; width: 26px; height: 26px; border-radius: 1px; border: 0px; font-size: 14px;}
.homepage_new .date_counter_slider .swiper-button-next,.homepage_new .date_counter_slider .swiper-button-prev{width: 30px;left: unset;right: 0;height: 25px;}
.homepage_new .date_counter_slider .swiper-button-next{top: 22px;}
.homepage_new .date_counter_slider .swiper-button-prev{top: unset;bottom: 0; }
.experience_section .col-lg-10 .swiper-slide.active_date:before{position: absolute;content: "";top: 0;left: 0;right: 0;bottom: 0;background-color: rgba(159, 186, 58, 0.45);z-index: 1;}
.experience_section .col-lg-10 .swiper-slide.active_date:after{position: absolute;content: "ON";top: 0;left: 0;right: 0;bottom: 0;background-color: transparent;z-index: 1;display: flex;justify-content: center;align-items: center;color: #fff;}
.experience_section .col-lg-10 .swiper-slide.active_date h6,.experience_section .col-lg-10 .swiper-slide.active_date span{color: #fff;}

.popular_courses_section .popular_course_item{width: 115px !important;height: 115px !important;border-radius: 5px !important;border:1px solid #efefef !important;display: inline-block !important;object-fit: cover !important;}
.popular_courses_section .flex-box{display: flex;text-align: center;padding: 20px;border: 1px solid #efefef;border-radius: 10px;}
.popular_courses_section .flex-item{width: 130px;position: relative;}
.popular_courses_section .flex-item:nth-child(2){width: calc(100% - 130px);padding-left: 20px;}
.popular_courses_section .flex-item .rating{position: absolute;right: 0px;width: 30px;height: 30px;border-radius: 2px;background-color: #9FBA3A;display: flex;justify-content: center;align-items: center;color: #fff;font-size: 12px;top: -5px;}
.popular_courses_section .flex-item h6{padding-right: 35px;color: #000000;}
.popular_courses_section .flex-item p{font-size: 14px;color: #3E3E3F;}
.popular_courses_section .swiper-button-next{right: 29%;}
.popular_courses_section .swiper-button-prev{left: 29%;}
.popular_course_slider{position: relative;}
.popular_course_slider:before{position: absolute;content: "";left: -70%;width: 100%;height: 100%;background-color: rgba(255, 255, 255, 0.6);z-index: 2;top: 0;}
.popular_course_slider:after{position: absolute;content: "";right: -70%;width: 100%;height: 100%;background-color: rgba(255, 255, 255, 0.6);z-index: 2;top: 0;}


.blog_section{background-color: #f5f4ef;}
.blog_section .date{color: #9FBA3A;padding-bottom: 10px;display: block;}
.blog_section .blog_item_container{border: 1px solid #cecece;border-radius: 5px;overflow:hidden;box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);}
.blog_section .blog_item_container .blog_item{width: 100%;height: 185px;overflow: hidden;object-fit: cover;background-color: #000;}
.blog_section .blog_item_container .blog_description{padding: 20px;background-color: #fff;}
.blog_section .blog_item_container .button_con{border-top: 1px solid #cecece;padding-top: 15px;}
.blog_section .blog_item_container p{display: block;display: -webkit-box;max-width: 100%;height: 55px;-webkit-line-clamp: 3;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;}
.blog_section .blog_item_container h6{display: block;display: -webkit-box;max-width: 100%;height: 45px;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;}

.team_section{background-color: #f5f4ef;padding-top: 30px;}
.team_section .position{padding-bottom: 10px;display: block;}
.team_section .team_mem_container{border: 1px solid #cecece;border-radius: 5px;overflow:hidden;box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);}
.team_section .team_mem_container .team_mem{width: 100%;height: 185px;overflow: hidden;object-fit: cover;}
.team_section .team_mem_container .mem_description{padding: 20px;text-align: left;background-color: #fff;}
.team_section .team_mem_container p{display: block;display: -webkit-box;max-width: 100%;height: 107px;-webkit-line-clamp: 5;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;margin: 0;line-height: 21px;}
.team_section .team_mem_container .swiper-slide {display: inline-flex;width: 60px;height: 60px;background-color: #CCCDCF;border-radius: 2px;justify-content: center;align-items: center;cursor: pointer;position: relative;}


.team_section .team_slider{padding-bottom: 50px;}
.swiper-pagination-bullet{width: 11px;height: 11px;}
.swiper-pagination-bullet-active{background-color: #3E3E3F;}


 
  .box-container{
    box-sizing: border-box;
    width: 100%;
    height: 500px;
    max-width: 100%;
    /* max-height: 90%; */
    padding: 24px;
    margin: 24px auto;
    border-radius: 4px;
    color: #555;
    background-color: transparent;
    box-shadow: none;
}
  
 

.content-container {
  position: relative;
  overflow: auto;
  margin: 8px 16px;
  border-radius: 4px;
  background-color: #fff;
}




.swiper-container11 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.language_box{
  height: 100% !important;
}

.swiper-container date_counter_slider swiper-container-initialized swiper-container-horizontal swiper-container-free-mode swiper-container-thumbs{

  margin-top: 20px;
  padding-right: 30px;
  width: 590px;
  position: relative;
}

.blog_section .blog_item_container {
  border: 1px solid #cecece;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* 
.owl-carousel-holder{
    width:100%;
    float: left;
} */

.carousel-section{
  width: 100%;
  /* height: 100px; */
  /* float: left; */
  /* margin-top: 60px; */
}

.slider-image-section{
  width: 100%;
  /* height:100px; */
  /* float: left; */
}


.margin-auto {
  margin: 0px auto;
}

body {
  position: relative;
  background-color: #f7f5f5;
  color: rgba(0,0,0,.74);
  font: 400 15px/20px Roboto,"Helvetica Neue",sans-serif;
}

.demo-title-main {
  display: block;
  font-weight: bold;
}

.demo-title-sub {
  padding: 0 0 5px 0;
  font-weight: bold;
  width: 90%
}

.demo-div {
  /* padding: 10px 10px 10px 10px; */
  box-sizing: border-box;
  border-color: #CFCFCF;
  margin-bottom: 20px;
}

.text-center {
  text-align: center;
}

.box-shadow {
  box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
}

/* Toggle css */

.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 14px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.38);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: -5px;
  bottom: -3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12)
}

input:checked+.slider {
  background-color: rgba(233,30,99,.5);
}

input:focus+.slider {
  box-shadow: 0 0 1px #e91e63;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: #e91e63;
}

/* Rounded sliders */

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Range slider */

.range-slider {
  width: 100%;
}

.range-slider__range {
  -webkit-appearance: none;
  width: 70%;
  height: 10px;
  border-radius: 5px;
  background: #d7dcdf;
  outline: none;
  padding: 0;
  margin: 0;
}

.range-slider__range::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #e91e63;
  cursor: pointer;
  transition: background 0.15s ease-in-out;
}

.range-slider__range::-webkit-slider-thumb:hover {
  background: #e91e63;
}

.range-slider__range:active::-webkit-slider-thumb {
  background: #e91e63;
}

.range-slider__range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: #e91e63;
  cursor: pointer;
  transition: background 0.15s ease-in-out;
}

.range-slider__range::-moz-range-thumb:hover {
  background: #e91e63;
}

.range-slider__range:active::-moz-range-thumb {
  background: #e91e63;
}

.range-slider__range:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 3px #fff, 0 0 0 6px rgba(233,30,99,.5);
}

.range-slider__value {
  display: inline-block;
  position: relative;
  width: 60px;
  color: #fff;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: #e91e63;
  padding: 5px 10px;
  margin-left: 8px;
}

.range-slider__value:after {
  position: absolute;
  top: 8px;
  left: -7px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 7px solid #e91e63;
  border-bottom: 7px solid transparent;
  content: '';
}

::-moz-range-track {
  background: #d7dcdf;
  border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}

table {
  border-collapse: collapse;
  width: 90%;
}

table,
th,
td {
  border: 1px solid #ccc;
  height: 32px;
}

table td {
  padding-left: 8px;
}

table input {
  height: 26px;
}

.size-div {
  margin-bottom: 5px;
  display: inline-block;
  margin-left: 10px;
}

.size-div span.input-title {
  display: inline-block;
  width: 42px;
}

.size-div input {
  width: 75px;
}

.block {
  display: block;
}

.input-icon {
  position: relative;
  width: 80%;
}

.input-icon>i {
  position: absolute;
  display: block;
  transform: translate(0, -50%);
  top: 50%;
  pointer-events: none;
  width: 25px;
  text-align: center;
  font-style: normal;
  color: #888888;
}

.input-icon>input {
  padding-left: 25px;
  padding-right: 0;
}

.input-icon-right>i {
  right: 0;
}

.input-icon-right>input {
  padding-left: 0;
  padding-right: 25px;
  text-align: right;
}

select {
  width: 50%;
  height: 30px;
}

.experience_now_section .main_section .section_content .left_sec h4 {
    color: rgb(255, 255, 255) !important;
}

.mat-tab-labels {
  display: inline-flex !important;
}

.mat-tab-label-active{
  background-color: #9fba3a ;
  opacity: 1 !important;
}



/* //slider */
/* 
.slider-image-section .owl-stage-outer, .slider-image-section .owl-stage, .slider-image-section .owl-item, .slider-image-section .owl-item .item, .slider-image-section .owl-item .item img{
  height: 200px;
}

.owl-nav{
  position: absolute;
  top: 50%;
  width: 100%;
}

.owl-nav button {
  position: absolute;
  outline: none;
}

.owl-prev{
  left: 20px;
}

.owl-prev.disabled span{
  color: black;
}

.owl-next{
  right: 20px;
}

.owl-next.disabled span{
  color: black;
}

.owl-nav button span{
  line-height: 0px;
  color: black;
  font-size: 60px;
  font-weight: bold;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  height: 554px;
} */
