<div id="forms" class="page-layout simple fullwidth" fxLayout="column">

        <div class="h1">
        <mat-toolbar class="mat-accent m-0">
                <!-- {{res_data.first_name}} -->
                <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
                    <span class="title dialog-title">  Update Admin User</span>
                    <button mat-icon-button (click)="onClose()" aria-label="Close dialog">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-toolbar-row>
            </mat-toolbar>
        </div>
    <!-- CONTENT -->
    <div class="content p-0">



        <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">

            <!-- REACTIVE FORM EXAMPLE -->

            <form class="mat-card mat-elevation-z4 p-24 mr-24" fxLayout="column" fxLayoutAlign="start"
                  fxFlex="1 0 auto" name="form" [formGroup]="form" (ngSubmit)="updateForm()">

                    <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
                     <mat-label style=" width: 36%;margin-bottom: 10px">Company name *</mat-label>
                    <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                          <select matNativeControl formControlName="company_name"  (change)="getClient($event.target.value)" >

                             <option *ngFor="let data of companiesData" value="{{data.id}}" >
                                {{data.company_name}}
                            </option>
                            
                        </select>
                        <mat-error *ngIf="hasError('company_name', 'required')"> Company Name is required! </mat-error>
                    </mat-form-field>
                    
                    <mat-label style=" width: 36%;margin-bottom: 10px">Client name*</mat-label>
                    <mat-form-field appearance="outline" fxFlex="100" class="pl-4">
                          <!-- <select matNativeControl formControlName="client"  (change)="setClient($event.target.value)">
                             <option *ngFor="let data of clientData" value="{{data.id}}" >
                                {{data.client_name}}
                            </option>
                            
                        </select> -->
                        <mat-select formControlName="client" placeholder="{{client_name}}"  (selectionChange)="setClient($event.value)">
                                <mat-option *ngFor="let item of clientData" [value]="item.id">
                                  {{item.client_name}}
                                </mat-option>
                              </mat-select>
                        <mat-error *ngIf="hasError('client', 'required')">Client Name is required!</mat-error>
                    </mat-form-field>

                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                         <mat-label>First name</mat-label>
                        <input matInput formControlName="first_name" required>
                        <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                        <mat-error *ngIf="hasError('first_name', 'required')"> First Name is required! </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                        <mat-label>Last name</mat-label>
                        <input matInput formControlName="last_name" required>
                        <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                        <mat-error *ngIf="hasError('last_name', 'required')">Last Name is required!</mat-error>
                    </mat-form-field>

                </div>

                <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
                      
                       <mat-label style=" width: 36%;margin-bottom: 10px">Email*</mat-label>
                    <mat-form-field appearance="outline" fxFlex="100">
                        <input matInput formControlName="email" required>
                        <mat-error *ngIf="hasError('email', 'required')">Email is required!</mat-error>
                        <mat-error *ngIf="hasError('email', 'email')">Enter valid email!</mat-error>
                    </mat-form-field>
                    
                     <mat-label style=" width: 36%;margin-bottom: 10px">User Name*</mat-label>
                    <mat-form-field appearance="outline" fxFlex="100">
                        <input matInput formControlName="username" required >
                        <mat-error *ngIf="hasError('username', 'required')">User name  is required!</mat-error>
                    </mat-form-field>

                </div>

                <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">

                   <mat-label style=" width: 36%;margin-bottom: 10px">Change Password</mat-label>
                    <mat-form-field appearance="outline" fxFlex="100">
                        <input matInput formControlName="password" >
                        <mat-hint>If you would like to change the password type a new one. Otherwise leave this blank.</mat-hint>
                    </mat-form-field>


                </div>


                 <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" style="margin-top: 28px;">

                       <button mat-raised-button style="background-color: #039be5 ; color: white;" type="submit" class="hover-button-loginpage button">Update  </button>

                        <button mat-raised-button mat-button mat-dialog-close style="background-color: #039be5 ; color: white;"  class="hover-button-loginpage button cancel">Cancel</button>
                 </div>


            </form>


        </div>

     </div> 
</div>       

        