<!-- <main class="homepage_new"> -->
<section class="banner_section">
  <div class="image_container">

    <div class="carousel-section">
      <owl-carousel [options]="myCarouselOptions" [items]="images">
        <div class="item" *ngFor="let image of myCarouselImages;let i = index">
          <div>
            <img src={{image}} />
          </div>
        </div>
      </owl-carousel>
    </div>
  </div>
</section>

<!-- <section class="coaching_banner ">
  <div class="">
    <div class="swiper-slide">
        <div class="row banner_content animated slower delay-250 fadeInUp">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <img src="assets/webroot/img/home_new/logo_white.png">
            <h1>Connect With A Coach Today!</h1>
            <p>Over the past 10 years, Enriched Academy has been on a relentless mission to make financial freedom accessible to all Canadians.</p>
            <a class="green_button button_large" href="https://calendly.com/alanna-enrichedacademy" target="_blank"><span>Talk to a Coach</span></a> 
          </div>
          
        </div>
        <div class="image_container">
          <div class="overlayer"></div>
          <div class="carousel-section">
              <owl-carousel [options]="myCarouselOptions" [items]="images">
                <div class="">
                  <img class="banner_image" src="assets/webroot/img/home_new/banner_coaching.png">
                </div>
              </owl-carousel>
            </div>
      </div>
    </div>
 
</div>
</section> -->


<!-- banner_section -->




<section class="about_your_finances section animatedParent" data-sequence='250'>
  <div class="outer">
    <div class="row align-center">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center heading_div animated slow fadeInLeft" data-id='1'>
        <h2>Overview: Coaching Process</h2>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="about_icon-list">
          <ul>
            <li class="animated slow fadeInUp" data-id='2'>
              <div class="icon_box">
                <div class="i_box22">
                  <img src="assets/webroot/img/home_new/cash.png">
                </div>

                <p><strong>Learn about <br>your Finances</strong></p>
                <p>Would it not be good if a magical solution or easy trick were in place that would never cause you
                  to worry about money or to handle your finances again? Why not learn about it from an expert.</p>
              </div>
            </li>
            <li class="animated slow fadeInUp" data-id='3'>
              <div class="icon_box">
                <div class="i_box22">
                  <img src="assets/webroot/img/home_new/budget.png">
                </div>

                <p><strong>Create your <br>Personal Budget</strong></p>
                <p>Your budget is one of the most important tools for your financial success. It will allow you to
                  create an expenditure plan so that your money can be allocated so that you can achieve your goals.
                </p>
              </div>
            </li>
            <li class="animated slow fadeInUp" data-id='4'>
              <div class="icon_box">
                <div class="i_box22">
                  <img src="assets/webroot/img/home_new/interpretation.png">
                </div>

                <p><strong>Analyze your <br>Investments</strong></p>
                <p>Evaluating an investment portfolio is time-consuming and you need to know what you're doing. If you
                  want to save time, headaches, and money, please contact our financial advisor.</p>
              </div>
            </li>
            <li class="animated slow fadeInUp" data-id='5'>
              <div class="icon_box">
                <div class="i_box22">
                  <img src="assets/webroot/img/home_new/plan.png">
                </div>

                <p><strong>Create your <br>Financial Plan</strong></p>
                <p>Our coaches, design techniques to reduce financial risk and help you to build wealth over the long
                  term. They can provide you with a game plan that will assist you in achieving your financial
                  objectives. </p>
              </div>
            </li>
            <li class="animated slow fadeInUp" data-id='6'>
              <div class="icon_box">
                <div class="i_box22">
                  <img src="assets/webroot/img/home_new/accounting.png">
                </div>

                <p><strong>Check-in <br>Accountability</strong></p>
                <p>We hold our clients accountable for the tools and knowledge that we provided for them during
                  coaching. We want clients to feel empowered and that they can achieve financial success on their
                  own.</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="get_strated section animatedParent">
  <div class="outer">
    <div class="row align-center">
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 animated slower delay-250 fadeInLeft">
        <h3>Start Your Journey</h3>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 animated slower delay-250 fadeInRight">
        <div class="btn_con text-right btncenter">
          <a class="white_button button_large" href="#appform"><span>Get Strated</span></a>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="number_section section animatedParent">
    <div class="outer">
      <div class="row align-center">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center heading_div animated fadeInDown slower delay-250">
          <h2>Our Numbers<br>Speak for Themselves.</h2>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center heading_div animated fadeInLeft slower delay-250">
          <div class="statikstik_container text-left">
            <h3>$123,340.75 </h3>
            <p>Average change in Net Worth</p>
            <img src="assets/webroot/img/home_new/number_line.png">
          </div>
        </div>
  
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center heading_div animated fadeInLeft slower delay-250">
          <div class="statikstik_container text-left">
            <h3>24</h3>
            <p>Average change in Credit Score</p>
            <img src="assets/webroot/img/home_new/number_line.png">
          </div>
        </div>
  
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center heading_div animated fadeInRight slower delay-250">
          <div class="statikstik_container text-left">
            <h3>$5,395.44 </h3>
            <p>Average reduction in Advisor Fees</p>
            <img src="assets/webroot/img/home_new/number_line.png">
          </div>
        </div>
  
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center heading_div animated fadeInRight slower delay-250">
          <div class="statikstik_container text-left">
            <h3>$688.14 </h3>
            <p>Average reduction in Monthly Spending </p>
            <img src="assets/webroot/img/home_new/number_line.png">
          </div>
        </div>
      </div>
    </div>
  </section>
  
  










<section class="coaching_section section animatedParent">
  <div class="outer">
    <div class="row align-center">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center heading_div animated fadeInLeft slower delay-250">
        <h2>Our Coaching clients</h2>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center animated fadeInRight slower delay-250">
        <div class="swiper-container coaching_clients">
          <owl-carousel [options]="myCarouselOptions1" [items]="images">

            <div class="swiper-slide">
              <div class="col-md-6">
                <div class="customers_box_text">
                  <h3>“Not only did this program give me financial tools to look forward to my financial goals. But,
                    it has taught me how to make my money work for me rather than me working harder for it.”</h3>
                  <div class="customers_bottumtext">
                    <!-- <p><span>Karen Jans</span></p>
                                    <small>Real Estate</small> -->
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="customers_silder_image">
                  <!-- <img src="assets/images/banner.png"> -->

                  <iframe class="slide_content" src="https://www.youtube.com/embed/bQ8wdgXTDU0" width="100%"
                    frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="col-md-6">
                <div class="customers_box_text">
                  <h3>“Not only did this program give me financial tools to look forward to my financial goals. But,
                    it has taught me how to make my money work for me rather than me working harder for it.”</h3>
                  <div class="customers_bottumtext">
                    <!-- <p><span>Karen Jans</span></p>
                                      <small>Real Estate</small> -->
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="customers_silder_image">
                  <!-- <img src="assets/images/banner.png"> -->

                  <iframe class="slide_content" src="https://www.youtube.com/embed/bQ8wdgXTDU0" width="100%"
                    frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="col-md-6">
                <div class="customers_box_text">
                  <h3>“Not only did this program give me financial tools to look forward to my financial goals. But,
                    it has taught me how to make my money work for me rather than me working harder for it.”</h3>
                  <div class="customers_bottumtext">
                    <!-- <p><span>Karen Jans</span></p>
                                        <small>Real Estate</small> -->
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="customers_silder_image">
                  <!-- <img src="assets/images/banner.png"> -->

                  <iframe class="slide_content" src="https://www.youtube.com/embed/bQ8wdgXTDU0" width="100%"
                    frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="col-md-6">
                <div class="customers_box_text">
                  <h3>“Not only did this program give me financial tools to look forward to my financial goals. But,
                    it has taught me how to make my money work for me rather than me working harder for it.”</h3>
                  <div class="customers_bottumtext">
                    <!-- <p><span>Karen Jans</span></p>
                                          <small>Real Estate</small> -->
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="customers_silder_image">
                  <!-- <img src="assets/images/banner.png"> -->

                  <iframe class="slide_content" src="https://www.youtube.com/embed/bQ8wdgXTDU0" width="100%"
                    frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                </div>
              </div>
            </div>



          </owl-carousel>
          <!-- <div class="swiper-button-next"><i class="fa-fw fas fa-arrow-right"></i></div>
            <div class="swiper-button-prev"><i class="fa-fw fas fa-arrow-left"></i></div>  -->



        </div>
      </div>
    </div>
  </div>
</section>



<section class="coching_experts_section section animatedParent">
  <div class="outer">
    <div class="row align-center">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center heading_div animated fadeInLeft slower delay-250">
        <h2>Who we Serve</h2>
        <p>It dosen't matter how old you are or what your current financial situation is, we are happy to
          help.<br>Because everyone deserves financial awareness and a little help can go a long way.</p>
      </div>
      <div class="who-we_serv-new">
        <ul>
          <li class="animated slower delay-250 flipInY">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="assets/webroot/img/home_new/loan2.png">
                  <div>
                    <h6>Student Debt?</h6>
                  </div>

                </div>
                <div class="flip-card-back">
                  <p>Congrats on pursuing your education. Taking on a bit of debt when you invest in yourself is ok -
                    and this type of debt is easy to tackle. They key to success is to have a plan. Give us a call and
                    see how we can help you ditch this debt!</p>
                </div>
              </div>
            </div>
          </li>
          <li class="animated slower delay-250 flipInY">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="assets/webroot/img/home_new/loan1.png">
                  <div>
                    <h6>Dealing with Debt?</h6>
                  </div>

                </div>
                <div class="flip-card-back">
                  <p>We have all been here. Debt can be a royal pain, and feel overwhelming sometimes. But we promise
                    - this is a solvable problem. With a fresh set of eyes and some support and guidance - you can
                    ditch the debt. The first step - you have to commit to tackling it. Give us a call and we can see
                    how to help!</p>
                </div>
              </div>
            </div>
          </li>
          <li class="animated slower delay-250 flipInY">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="assets/webroot/img/home_new/chaque.png">
                  <div>
                    <h6>Paycheck to Paycheck?</h6>
                  </div>

                </div>
                <div class="flip-card-back">
                  <p> Most Canadians are in a similar boat - they are getting by - trying to save a bit - and spending
                    a little more than they should on occasion. If you are ready to look at your money with a fresh
                    perspective and stop living day-to-day with your cash - give us a call. You'll be amazed what a
                    fresh perspective can help you achieve.</p>
                </div>
              </div>
            </div>
          </li>
          <li class="animated slower delay-250 flipInY">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="assets/webroot/img/home_new/started.png">
                  <div>
                    <h6>Just Getting Started?</h6>
                  </div>

                </div>
                <div class="flip-card-back">
                  <p>Quarterly webinar programs on customized, supplemental topics covering critical areas, identified
                    by Police including Wills, Insurance, Pensions, Crushing Debt, etc.</p>
                </div>
              </div>
            </div>
          </li>
          <li class="animated slower delay-250 flipInY">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="assets/webroot/img/home_new/student.png">
                  <div>
                    <h6>Savvy Investor!</h6>
                  </div>

                </div>
                <div class="flip-card-back">
                  <p>You are a veteran at this whole saving and investing thing. Congrats - you are ahead of the game.
                    Give us a call and we can get an extra set of eyes on some of the fees you are paying - you may be
                    able to save a lot more money than you think?</p>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <ul>
          <li class="animated slower delay-250 flipInY">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="assets/webroot/img/home_new/kids.png">
                  <div>
                    <h6>Trying to Teach My Kids?</h6>
                  </div>

                </div>
                <div class="flip-card-back">
                  <p>So great to hear from families that are helping kids avoid the same mistakes we all made. Great
                    news - kids LOVE money - and we have an entertaining and inspiring way to help equip you with the
                    tools you need to get them started.</p>
                </div>
              </div>
            </div>
          </li>
          <li class="animated slower delay-250 flipInY">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="assets/webroot/img/home_new/saver.png">
                  <div>
                    <h6>I'm a Saver!</h6>
                  </div>

                </div>
                <div class="flip-card-back">
                  <p>Being able to save a little is always the hardest step. Now you need to turn those savings into
                    smart investments and get that money working harder for you! Get in touch and we can help you
                    decide who to work with and how to get that money working for you.</p>
                </div>
              </div>
            </div>
          </li>
          <li class="animated slower delay-250 flipInY">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="assets/webroot/img/home_new/budget-mony.png">
                  <div>
                    <h6>Learning to Budget?</h6>
                  </div>

                </div>
                <div class="flip-card-back">
                  <p>The dreaded B-word. Sounds scary - but really - if you get a handle on your spending - you are SO
                    FAR AHEAD of many Canadians - you will be well positioned to free up some money and start getting
                    it to work for you! And that is the key to financial health.</p>
                </div>
              </div>
            </div>
          </li>
          <li class="animated slower delay-250 flipInY">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="assets/webroot/img/home_new/retirment-old.png">
                  <div>
                    <h6>Planning for Retirement?</h6>
                  </div>

                </div>
                <div class="flip-card-back">
                  <p>No matter what stage you are at in your life - having a roadmap to a financially healthy
                    retirement is ALWAYS worth planning for. Our team has some clever insights, some smart tactics and
                    a personalized approach that can help ensure you are heading in the right direction. </p>
                </div>
              </div>
            </div>
          </li>
          <li class="animated slower delay-250 flipInY">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="assets/webroot/img/home_new/health.png">
                  <div>
                    <h6>Improving Employee Health & Wellness</h6>
                  </div>

                </div>
                <div class="flip-card-back">
                  <p>Very smart. Your employees deserve financial success. And you are not only helping them and their
                    families when you give them money skills - you are having a serious impact on the bottom line of
                    your company. Give us a call to learn more!</p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <!-- swiper-container -->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center m-top40" style="margin-top: 40px;">
        <a class="green_button button_large" href="https://calendly.com/alanna-enrichedacademy"
          target="_blank"><span>Talk to a Coach</span></a>
      </div>
    </div>
  </div>
</section>
<!-- simple_language_section -->


<!-- experience_now_section -->
<section class="faq_section section animatedParent">
  <div class="outer">
    <div class="row align-center">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center heading_div animated slower delay-250 fadeInLeft">
        <h2>Have any Questions</h2>
        <p>You can find your answers here.</p>
      </div>
      <!-- col-12 -->
      <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12 text-left accordion-container">
        <div class="set animated slower delay-250 fadeInRight">
          <div class="question">What is a Money Coach?<i class="fa fa-plus"></i></div>
          <div class="content">
            <p>Everyone can use a little clarity - and sometimes a gentle kick in the pants when it comes to you
              navigate there money. A financial or money coach helps you clarify and specify your current situation
              and goals, layout out a better plan, and then gives you a layer of support & accountability to help you
              get there! </p>
          </div>
        </div>
        <!-- set -->
        <div class="set animated slower delay-250 fadeInLeft">
          <div class="question">Are your financial coaching meetings held in-person or virtually?<i
              class="fa fa-plus"></i></div>
          <div class="content">
            <p>Money coaching sessions are available no matter where you live. We use virtual sessions so that we can
              talk face to face and also share screens. </p>
          </div>
        </div>
        <!-- set -->
        <div class="set animated slower delay-250 fadeInRight">
          <div class="question">I don't know if I can afford financial coaching or if it makes sense for me to pay for
            it based on my income/debt. What should I do?<i class="fa fa-plus"></i></div>
          <div class="content">
            <p>Our job is to protect you and your money. If coaching is not right for you - we will tell you. And so
              long as you follow the tasks we give you - if you don't benefit after the first 4 sessions - we give you
              100% of your money back. We are here to help you - and make a difference in the lives of Canadians -
              because all of us deserve financial health.</p>
          </div>
        </div>
        <!-- set -->

        <div class="set animated slower delay-250 fadeInLeft">
          <div class="question">Can you give me advice on investing?<i class="fa fa-plus"></i></div>
          <div class="content">
            <p>We don't sell products or manage your investments. We will not even force you to use a particular
              investment firm - though we can help point you in the right direction. Our ENTIRE focus is on helping
              you understand your financial situation - where you are today and where you need to get too - and then
              ensure you know what steps to take to help get that done. Then we guide you through that process with
              some added support and accountability!</p>
          </div>
        </div>
        <!-- set -->

        <div class="set animated slower delay-250 fadeInRight">
          <div class="question">You have a free assessment call with people interested in coaching? <i
              class="fa fa-plus"></i></div>
          <div class="content">
            <p>Absolutely. Our job is to protect you and your money. We want you to speak directly with a coach so we
              can learn more about you and you can get a better understanding of us. If it is a good fit for your
              particular situation - we will all know based on that call. If it isn't we will tell you - and we will
              give you a few pointers to get you heading in the right direction. </p>
          </div>
        </div>
        <!-- set -->
      </div>
    </div>
  </div>
</section>


<section class="coaching_section section animatedParent">
  <div class="outer">
    <div class="row align-center">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center heading_div animated slower delay-250 fadeInLeft">
        <h2>Client Testimonials</h2>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center animated slower delay-250 fadeInRight">
        <div class="swiper-container coaching_clients testimonials_coaching-slider">

          <owl-carousel [options]="myCarouselOptions1" [items]="images">

            <div class="swiper-slide">
              <div class="col-md-6">
                <div class="customers_box_text">
                  <h3>“Due to the Enriched Academy process we just purchased our first rental property and are now
                    allocating $2,000 per month into investment accounts. ​”</h3>
                  <div class="customers_bottumtext">
                    <p><span>- Michelle Pironeen</span></p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="customers_silder_image">
                  <img class="slide_content" src="assets/webroot/img/home_new/michell.png">
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="col-md-6">
                <div class="customers_box_text">
                  <h3>“Throughout the coaching program, I was able to cut back on my monthly spending by $4093.63 on
                    average every month. This allowed me to pay off the entire amount on my Business Line of Credit of
                    $23,400. On top of that, I increased my saving by 144.52%, and my overall Net Worth increased by
                    $28,870.28. My Credit Score also increased by 21 points.​”</h3>
                  <div class="customers_bottumtext">
                    <p><span>- Chris Jackson</span></p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="customers_silder_image">
                  <img class="slide_content" src="assets/webroot/img/home_new/Chris.png">
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="col-md-6">
                <div class="customers_box_text">
                  <h3>“Enriched Academy provided me tools that I have used and will continue to use for the rest of my
                    life which will enhance my financial situation. ”</h3>
                  <div class="customers_bottumtext">
                    <p><span>- Connie Elliot</span></p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="customers_silder_image">
                  <img class="slide_content" src="assets/webroot/img/home_new/Connie.jpg">
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="col-md-6">
                <div class="customers_box_text">
                  <h3>“My experience with Enriched Academy was nothing less than STELLAR! I learned how to look at
                    various investment vehicles and decide what works best for me rather than trust yet another
                    "investment advisor” who placed their own interests before mine. I would highly recommend Enriched
                    Academy to anyone who wants to learn more about money, finances and investing.”</h3>
                  <div class="customers_bottumtext">
                    <!-- <p><span>- Frank Fragomeni</span></p> -->
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="customers_silder_image">
                  <img class="slide_content" src="assets/webroot/img/home_new/STELLAR.jpg">
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="col-md-6">
                <div class="customers_box_text">
                  <h3>“I was paying $7,796 year in credit card interest, I’ve reduced that to $0 which is helping me
                    pay off my debt faster than I ever could have imagined. Thanks to the Enriched Academy coaching
                    team for allowing me to see the alternatives! ”</h3><br>
                  <div class="customers_bottumtext">
                    <p><span>- Tyler P.</span></p>
                    <!-- <small>Real Estate</small> -->
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="customers_silder_image">
                  <img class="slide_content" src="assets/webroot/img/home_new/coa_card3.png">
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="col-md-6">
                <div class="customers_box_text">
                  <h3>“My coach walked me through specific questions to ask my advisor, and the answers were shocking!
                    With the coaching program, I found alternatives and reduced my fees by $16,995/year. Thank you
                    Enriched!!”</h3><br>
                  <div class="customers_bottumtext">
                    <p><span>- Jan Oystrick.</span></p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="customers_silder_image">
                  <img class="slide_content" src="assets/webroot/img/home_new/coa_card4.png">
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="col-md-6">
                <div class="customers_box_text">
                  <h3>“I just completed the Enriched Academy Coaching Program, not only has it given me valuable tools
                    to help me move forward in my financial life but it has taught me how to make my money work for me
                    instead of me working hard for money. A few highlights”</h3>
                  <div class="customers_bottumtext">
                    <p><span>- Frank Fragomeni</span></p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="customers_silder_image">
                  <img class="slide_content" src="assets/webroot/img/home_new/Frank.jpg">
                </div>
              </div>
            </div>
          </owl-carousel>







          <!-- swiper-wrapper -->
          <!-- <div class="swiper-button-next"><i class="fa-fw fas fa-arrow-right"></i></div>
            <div class="swiper-button-prev"><i class="fa-fw fas fa-arrow-left"></i></div> -->
        </div>
        <!-- swiper-container -->
      </div>
    </div>
  </div>
</section>




<section class="about_coaching-expert section animatedParent">
  <div class="outer">
    <div class="row align-center">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-left animated slower delay-250 fadeInLeft">
        <div class="about_video">
          <!-- <iframe class="slide_content" src="https://player.vimeo.com/video/60014025" width="100%" frameborder="0" allow="autoplay; fullscreen" allowfullscreen=""></iframe> -->
          <!-- TAG START -->
          <img class="slide_content" src="assets/webroot/img/home_new/Alanna.jpg">
          <!-- TAG START -->
          <!-- <div class="vdb_player vdb_5688f66de4b040e17d9912265688f5c1e4b0f2c97f395156" vdb_params="m.refbcid=564e003d67b62214082cc703&m.refpid=58e28f10c214e34d93b12069">
                    <script type="text/javascript" src="//delivery.vidible.tv/jsonp/pid=5688f66de4b040e17d991226/vid=5a3425db46bd1e724212ebaf/5688f5c1e4b0f2c97f395156.js"></script>
                </div> -->
          <!-- TAG END { date: 11/22/19 } -->

          <!-- TAG END { date: 11/22/19 } -->
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 animated slower delay-250 fadeInRight">
        <div class="about_content">
          <h3>About our Head Coach</h3>
          <p>Alanna's journey started when she planned to travel comfortably and not backpack everywhere, she decided
            she would need $20,000 for her trip around South America and southeast Asia.</p>
          <p class="quat_text">"You can't just do it by not working hard at it, right?<br><span>-Alanna
              Abramsky</span></p>
          <p>Want to know how she did it?</p>
          <!-- <ul>
                  <li><strong>1. Educated herself</strong></li>
                  <li><strong>2. Cut costs in simple ways</strong></li>
                  <li><strong>3. Stick to that budget, and invest the rest</strong></li>
                </ul> -->
          <a class="green_button"
            href="https://www.huffingtonpost.ca/entry/alanna-abramsky-freelancer-turned-financial-guru-saved-20-000-a-year-while-living-in-toronto_ca_5cd52259e4b07bc729751cad"
            target="_blank">Read More</a>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- id="appform" -->
<section class="coching_Intake_form section animatedParent">
  <div class="overlayer"></div>
  <div class="outer">
    <!-- <form [formGroup]="coachingForm" (ngSubmit)="onSubmit()"> -->
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center heading_div animated slower delay-250 fadeInLeft">
        <h2>Coaching Application Form</h2>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 animated slower delay-250 fadeInLeft">
        <div class="coching-form_box">
          <form [formGroup]="coachingForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <input type="text" name="" formControlName="name" class="form-control" placeholder="Name" required>
                <!-- <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                            <div *ngIf="f.name.errors.required"> Name is required</div>
                        </div> -->
              </div>



              <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <input type="text" name="" formControlName="address" class="form-control" placeholder="Address"
                  required>
              </div>


              <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <input type="text" name="" formControlName="phone" class="form-control" placeholder="Home Phone"
                  required>
                <!--
                <input type="text" name="" formControlName="phone" class="form-control" placeholder="Home Phone" required [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
                   <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                    <div *ngIf="f.phone.errors.required">phone_no is required</div>
                    <div *ngIf="f.phone.errors.minlength">phone_no must be at least 10 characters</div>
                </div> -->
              </div>


              <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <input type="text" name="" formControlName="work_phone" class="form-control" placeholder="Work Phone"
                  required>
              </div>


              <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <input type="text" name="" formControlName="email" class="form-control" placeholder="Email" required>
                <!-- <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email Name is required</div>
                </div> -->
              </div>


              <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <input type="text" name="" formControlName="employer" class="form-control" placeholder="Employer"
                  required>
              </div>


              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <p>Best method of communication to reach you:</p>
              </div>


              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <div class="" *ngFor="let item of items">
                  <div class="checkbox">
                    <label><input type="checkbox" (click)="onChange(item.id)"> {{item.name}}</label>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 animated slower delay-250 fadeInRight">
        <div class="coach_with-me">
          <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <p>Tell us what matters to you</p>
          </div>
          <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <div class="checkbox" *ngFor="let item of multipleItems">
              <label><input type="checkbox" (click)="onChangeMultiple(item.name)"> {{item.name}}</label>
            </div>



          </div>
          <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <input type="text" name="" class="form-control other_text" placeholder="" style="display: none;">
          </div>

        </div>
      </div>
      <div class="form-group posrel col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <a class="green_button button_large next-btn" href="javascript:;" (click)="submit()"><span type="submit"
            >Submit</span></a>
      </div>
    </div>
    <!-- </form> -->
  </div>
</section>


<section class="clientel_section section animatedParent">
  <div class="outer">
    <div class="row align-center" style="margin-left: 100px;">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center heading_div">
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center animated slower delay-250 fadeInRight">
        <div class="margin-auto demo-div box-shadow"
          [ngStyle]="{'width':sliderWidth+'px', 'min-height': sliderImageHeight+'px'}">
          <ng-image-slider *ngIf="showSlider" #nav [images]="imageObject" [infinite]="sliderInfinite"
            [imagePopup]="sliderImagePopup" [showArrow]="sliderArrowShow"
            [imageSize]="{width: sliderImageWidth, height: sliderImageHeight}" [autoSlide]="sliderAutoSlide ? 1 : 0"
            [slideImage]="+sliderSlideImage" [animationSpeed]="sliderAnimationSpeed" (imageClick)="imageOnClick($event)"
            (arrowClick)="arrowOnClick($event)" (lightboxArrowClick)="lightboxArrowClick($event)"></ng-image-slider>
        </div>

      </div>
    </div>
  </div>
</section>

<footer class="bottom_footer">
  <div class="outer">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="footer_about-box">
          <div class="footer_logo"><a routerLink="#"><img src="assets/images/footer_logo.png"></a></div>

        </div>
      </div>



      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="footer_about-text">
          <div class="footer_nav-heading">
            <!-- <h6>Top Courses</h6> -->
          </div>


          <div class="footer_about-text">
            <ul>
              <li>410-2059 Chesterfield Ave.</li>
              <li>North Vancouver, BC V7M2P4</li>
            </ul>
            <ul>
              <li>Phone: 1-800-892-9228</li>
              <li>Email: support@enrichedacademy.com</li>
            </ul>
            <ul>
              <li>
                <a class="green_button button_large" href="https://enrichedacademytraining.com/"
                  target="_blank"><span>Free&nbsp;Webinar?</span></a>

            </ul>
          </div>

        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="footer_link-box">
          <div class="footer_nav-heading">
            <h6>@Follow Us</h6>
          </div>
          <div class="footer_about-text">
            <ul class="tweet_feed">
              <li>
                <a routerLink=""><i class="fab fa-twitter"></i>
                  <div>
                    <!-- Facebook
                                                    Twitter -->

                    <span> Facebook</span>
                  </div>
                </a>
              </li>
              <li>
                <a routerLink=""><i class="fab fa-twitter"></i>
                  <div>
                    <span>Twitter</span>
                  </div>
                </a>
              </li>
              <li>
                <a routerLink=""><i class="fab fa-twitter"></i>
                  <div>
                    <span> LinkedIn</span>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </div>
  <div class="outer">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="" style="text-align: left;">
          <span style="text-align: left;">Privacy Policy
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


            &nbsp;&nbsp;&nbsp;&nbsp;Legal</span>

          <!-- <p style="text-align: left;">Legal</p> -->
          <p style="text-align: right;     margin-top: -18px;">Copyright 2015 Enriched Academy | 2019 Right Reserved
          </p>
        </div>

      </div>
    </div>
  </div>
</footer>