

.coching_Intake_form{background-image: url(../../../assets/webroot/img/home_new/woman-typing-writing-windows.png);position: relative;}
.coching_Intake_form .overlayer { position: absolute; background: #000000a3; top: 0; left: 0; right: 0; bottom: 0; }
.coching_Intake_form .heading_div h2{color: #fff;}
.coching_Intake_form .coching-form_box{max-width: 100%;position: relative;}
.coching_Intake_form .coching-form_box .form-group { margin-top: 20px; border-radius: 4px; padding: 15px 20px; }
.coching_Intake_form .coching-form_box .form-group .form-control { width: 100%; border: none; border-radius: 0px; color: #fff; font-size: 18px; background: transparent; border: 1px solid #fff; padding: 10px 18px; }
.coching_Intake_form .coching-form_box .next-btn{margin:30px auto 0;padding: 11px 60px;}
.coching_Intake_form .coching-form_box .form-group .form-control::-webkit-input-placeholder{color: #fff;}

.number_section {
    background-image: url(../../../assets/images/number-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0px;
}


/*.number_section{background-image:url(http://localhost/enrichedacademy_live/img/home_new/number-background.png);background-repeat: no-repeat;background-size: cover;padding: 100px 0;}*/
.number_section h2{margin-bottom: 20px;color: #fff;}
.number_section h3{color: #fff;text-align: center;}
.number_section p{color: #fff;}
