<div id="dashboard-companies" class="page-layout simple right-sidebar" fxLayout="row" style="margin-left: 10px;">
  <!-- CENTER -->
  <div class="center" fusePerfectScrollbar>

    
      <!-- <div class="" style="flex-direction: row;
      box-sizing: border-box;
     height: 100px;
      place-content: center space-between;
      align-items: center;  background-color: #039be5 !important;
      color: white !important;"> -->
      <div class="row" fxLayoutAlign="space-between center">
        <!-- <div class="" style="color: white;margin-top:40px">
          <a routerLink="/apps/home-dashboard/version3" style="text-decoration: none;color: white;">
            <img style="margin-left: 10px;" width="20px" height="20px"
              src="../../../../../assets/sp1.svg">&nbsp;&nbsp;Dashboard </a>
         
          <a routerLink="/apps/dashboards/companies"
            style="text-decoration: none;color: white">&nbsp;&nbsp;/&nbsp;&nbsp;company</a>
         

          <!-- hide code -->
            <!-- <a routerLink="/apps/client-mangement/addclient/{{id}}/"
            style="text-decoration: none;color: white">&nbsp;&nbsp;/&nbsp;&nbsp;Add Client</a> -->
            <!-- <a routerLink="/apps/client-mangement/clients"
            style="text-decoration: none;color: white">&nbsp;&nbsp;/&nbsp;&nbsp;ManageClient</a> -->
            <!-- <span *ngIf="hide1 ==0">
          <!-- End hide code

              <a routerLink="/apps/dashboards/company-detail/{{company_id}}"
              style="text-decoration: none;color: white">&nbsp;&nbsp;/&nbsp;&nbsp;{{companyName}}</a>
          <a routerLink="/apps/client-mangement/client-edit/{{company_id}}/{{client_id}}"
            style="text-decoration: none;color: white">&nbsp;&nbsp;/&nbsp;&nbsp;{{clientName}}</a>
        </div> -->


        <div class="" style="margin-top:20px; position: relative; margin-left: 25px;">

        <span class="speedometer_icon  report_top_hover"> 
          <a routerLink="/apps/home-dashboard/version3" 
         style="text-decoration: none;">
         &nbsp;  &nbsp;Dashboard </a></span>

         <span style="color: #ccc;"> /
         <a  routerLink="/apps/dashboards/companies"
           style="text-decoration: none;" class="report_top_hover">&nbsp;Company</a>
         </span>

         <span style="color: #ccc;"> /
         <a  routerLink="/apps/dashboards/company-detail/{{company_id}}"
         style="text-decoration: none;" class="report_top_hover">&nbsp;{{companyName}}</a>
       </span>

       <span style="color: #ccc;"> /
          <a  routerLink="/apps/client-mangement/client-edit/{{company_id}}/{{client_id}}"
          style="text-decoration: none;" class="report_top_hover">&nbsp;{{clientName}}</a>
        </span>
     
       </div>
      </div>
    <!-- </div> -->







    <div class="mb-24" style="margin-top: 25px;" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
      <form class="mat-card mat-elevation-z4 p-24 mr-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto"
        [formGroup]="editclientForm" (ngSubmit)="updateClient()">

        <span class="h2 mb-8 company_heading" style="margin-top: 15px;">
            <mat-icon (click)="buttontoggle()" style="cursor: pointer;">{{buttonName}}</mat-icon>
            Company Info
          </span>
        <!-- <h2 class="example-h2">Company Info</h2> -->
<ng-container *ngIf="show">
        <div fxLayout="row" style="margin-top: 20px;"  fxLayoutAlign="start center" fxFlex="1 0 auto">

            <mat-form-field appearance="outline" fxFlex="50" class="pr-4" readonly="readonly">
                <mat-label>Company Name</mat-label>
                <input matInput required formControlName="companyname" >
                <mat-error *ngIf="hasError('companyname', 'required')">company name is required!</mat-error>
              </mat-form-field>
    
    
          <mat-form-field appearance="outline" fxFlex="50" class="pr-4" readonly="readonly">
            <mat-label>Country</mat-label>
            <input matInput required formControlName="country" readonly="readonly">
            <mat-error *ngIf="hasError('country', 'required')">Country is required!</mat-error>
          </mat-form-field>
        </div>


        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
          <mat-form-field appearance="outline" fxFlex="50" class="pr-4" readonly="readonly">
            <mat-label>State </mat-label>
            <input matInput required formControlName="state" readonly="readonly">
            <mat-error *ngIf="hasError('state', 'required')">State is required!</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" fxFlex="50" class="pr-4" readonly="readonly">
            <mat-label>City</mat-label>
            <input matInput formControlName="city" readonly="readonly" required>
            <mat-error *ngIf="hasError('city', 'required')">City is required!</mat-error>
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
          <mat-form-field appearance="outline" fxFlex="50" class="pr-4" readonly="readonly">
            <mat-label>Industry</mat-label>
            <input matInput formControlName="industry" readonly="readonly" required>
            <mat-error *ngIf="hasError('industry', 'required')">industry is required!</mat-error>
          </mat-form-field>
        </div>

      </ng-container>
        <mat-divider></mat-divider>










        <h2 class="example-h2">Client Details</h2>

        <div fxLayout="row" style="margin-top: 20px;" fxLayoutAlign="start center" fxFlex="1 0 auto">
          <mat-form-field appearance="outline" fxFlex="33" class="pr-4">
            <mat-label>User Name</mat-label>
            <input matInput placeholder="Client's first name" formControlName="username" required>
            <mat-error *ngIf="hasError('firstname', 'required')">User Name is required!</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" fxFlex="33" class="pr-4">
            <mat-label>Change Password</mat-label>
            <input matInput formControlName="password">
          </mat-form-field>

          <mat-form-field appearance="outline" fxFlex="33" class="pr-4">
            <mat-label>Client Name</mat-label>
            <input matInput placeholder="Client name" formControlName="clientname" required>
            <mat-error *ngIf="hasError('clientname', 'required')">Client Name is required!</mat-error>
          </mat-form-field>
        </div>



      

        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

          <mat-form-field appearance="outline" fxFlex="33" class="pr-4">
            <mat-label>Client Vertical</mat-label>
            <select matNativeControl formControlName="clientvertical">
              <option *ngFor="let data of vertical" value="{{data.id}}">
                {{data.name}}
              </option>
            </select>
          </mat-form-field>

          <mat-form-field appearance="outline" fxFlex="33" class="pr-4">
            <mat-label>Person First Name </mat-label>
            <input matInput placeholder="Client's first name" formControlName="firstname" required>
            <mat-error *ngIf="hasError('firstname', 'required')">First Name is required!</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" fxFlex="33" class="pr-4">
            <mat-label>Person Last Name</mat-label>
            <input matInput placeholder="Client's last name" formControlName="lastname" required>
            <mat-error *ngIf="hasError('lastname', 'required')">Last Name is required!</mat-error>
          </mat-form-field>
        </div>


        <!-- 05/02 -->
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-form-field appearance="outline" fxFlex="33" class="pr-4">
              <mat-label>Default Client Vertical</mat-label>
              <input matInput placeholder="Client's first name" formControlName="clientvertical" readonly>
              <!-- <mat-error *ngIf="hasError('clientvertical', 'required')">clientvertical is required!</mat-error> -->
            </mat-form-field>
  
            <!-- <mat-form-field appearance="outline" fxFlex="33" class="pr-4">
              <mat-label>Portal View</mat-label>
              <input matInput formControlName="portalviewdefault">
            </mat-form-field> -->
            <mat-form-field appearance="outline" fxFlex="33" class="pr-4">
                <mat-label>Portal View </mat-label>
                <select matNativeControl formControlName="portalview" (change)="portalChange($event.target.value)">
                  <option *ngFor="let data of portal" value="{{data.id}}">
                    {{data.name}}
                  </option>
                </select>
              </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="33" class="pr-4">
              <mat-label>Intro Video Vimeo ID</mat-label>
              <input matInput placeholder="vimeo_id" formControlName="intro_video" required>
              <!-- <mat-error *ngIf="hasError('clientname', 'required')">Vimeo id is required!</mat-error> -->
            </mat-form-field>
          </div>
<!-- 05/02 -->

        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
          <mat-form-field appearance="outline" fxFlex="33" class="pr-4">
            <mat-label>Portal View </mat-label>
            <select matNativeControl formControlName="portalview" (change)="portalChange($event.target.value)">
              <option *ngFor="let data of portal" value="{{data.id}}">
                {{data.name}}
              </option>


            </select>

          </mat-form-field>

          <mat-form-field appearance="outline" fxFlex="33" class="pr-4">
            <mat-label>Email </mat-label>
            <input matInput placeholder="Client's email" formControlName="email" required>
            <mat-error *ngIf="hasError('email', 'required')">Email is required!</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="33" class="pr-4">
            <mat-label>City</mat-label>
            <input matInput placeholder="Client's city" formControlName="city" required>
            <mat-error *ngIf="hasError('city', 'required')">City is required!</mat-error>
          </mat-form-field>
        </div>


        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

          <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
            <mat-label>Phone </mat-label>
            <input matInput placeholder="Ex-9825361478" formControlName="phone" required>
            <mat-error *ngIf="hasError('phone', 'required')">Phone is required!</mat-error>
          </mat-form-field>
          <mat-label fxFlex="20" class="pr-4">User Access</mat-label>
           <input type="checkbox" class="example-margin" value="1" name="user_access" formControlName="user_access"
            [checked]="check == 1">
          <mat-label>Company email authentication</mat-label>
          <input type="checkbox" class="example-margin" value="2" name="user_access" formControlName="user_access"
            [checked]="check == 2">
          <mat-label>Company import users</mat-label>
        </div>



        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
          <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
            <mat-label>Min. passing score for each course (%) : </mat-label>
            <mat-hint>Enter passing score for each course or leave blank if you don't want to keep any criteria
            </mat-hint>
            <input matInput formControlName="min_passing_score">
          </mat-form-field>
          <mat-label fxFlex="10">Attach Logo</mat-label>
          <input fxFlex="30" class="pr-4" type="file" id="avatar" accept="image/*" ngf-max-size="3MB"
            (change)="selectFile($event)" #fileInput>
            <span *ngIf="hide==0">
                <img class="file_upload_image" [src]="url">
              </span>
        </div>

        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
          <section class="example-section" fxFlex="70" class="pr-4">
            <h3>Client IT Access</h3>
            <mat-checkbox class="example-margin" value="1" formControlName="allow_create_api">Allow To Create API
            </mat-checkbox>
            <h3>Restrict Add User</h3>
            <mat-checkbox class="example-margin" formControlName="add_user_restrict" (change)="credit_view($event)">Restrict To Add User</mat-checkbox>
          </section>

          <div fxFlex="30" class="pr-4">
            <img [src]="imgURL" height="20" *ngIf="imgURL">

          </div>
        </div>

        <!-- <div *ngIf="status == true" fxLayoutAlign="start center" fxFlex="1 0 auto">
          <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
            <mat-label>Free Link </mat-label>
            <input matInput formControlName="free_link">
          </mat-form-field>
        </div> -->
        <div *ngIf="status == false" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
              <mat-label>Credit Link </mat-label>
              <input matInput formControlName="credit_link">
            </mat-form-field>
          </div>
       


       <!-- example-section -->
       <div class="">
          <h3>Unlock Mandatory Course</h3>
          <mat-checkbox class="example-margin" value="1" formControlName="unlock_mandatory_course">Allow To Unlock Mandatory Course
          </mat-checkbox>
        </div>

        <div class="">
          <h3>Unlock Bonus Course</h3>
          <mat-checkbox class="example-margin" value="2" formControlName="unlock_bonus_course">Allow To Unlock Bonus
            Course
          </mat-checkbox>
        </div>

        <div class=""></div>
        <h3>User Level Unlock</h3>
        <mat-checkbox class="example-margin" value="3" formControlName="user_level_unlock"> Allow To User level Unlock
        </mat-checkbox>

        <div class="mt-10" style="margin-top: 15px;
          margin-left: 10px;">
          <!-- [(ngModel)]="favoriteSeason" formControlName="show_transunion_button"-->
          <h3 style="margin-top: 1px;">Transunion Link</h3>
          <mat-radio-group aria-labelledby="example-radio-group-label"  class="example-radio-group" >
            <mat-radio-button  style="margin-right: 10px;" (change)="radioChange($event.value)" 
             [checked]="season === 'Free Consumer Disclosure'"
             class="example-radio-button" *ngFor="let season of seasons" [value]="season">
              {{season}}
            </mat-radio-button>
          </mat-radio-group>
        
        </div>
        <div class="a">
        <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
            <!-- <mat-label>City</mat-label> -->
            <input matInput placeholder="" >
          </mat-form-field>
</div>


















        <h2 class="example-h2" *ngIf="division == 2">
            <span class="h2 mb-8 company_heading" style="margin-top: 15px;">
              <mat-icon (click)="buttontoggle2()" style="cursor: pointer;">{{buttonName2}}</mat-icon>
              Drip Reward Set Up
            </span>
          </h2>
          <ng-container *ngIf="show2">

        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" *ngIf="division == 2">

          <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
            <mat-label>Reward Type</mat-label>
            <select matNativeControl formControlName="reward_type" (change)="rewardData($event.target.value)">
              <option selected value="single_reward_program">
                Single Reward Program Completion Reward
              </option>
              <option value="multi-section_completion">
                Multi-Section Completion Reward
              </option>
              <option value="no">
                No Reward
              </option>
            </select>
          </mat-form-field>

          <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
            <mat-label>Duration of Drip completion</mat-label>
            <select matNativeControl formControlName="duration_drip" (change)="durationData($event.target.value)">
              <option selected="selected" value="3">3 Months</option>

              <option value="6">6 Months</option>

              <option value="9">9 Months</option>

              <option value="off">off</option>
            </select>
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" *ngIf="division == 2">
          <mat-label fxFlex="30" class="pr-4">Reward Cycle Runs From User Sign Up Date</mat-label>
          <mat-radio-group aria-label="Select an option" fxFlex="30" class="pr-4" formControlName="reward_cycle">
            <mat-radio-button class="example-margin" value="1" [checked]="reward_cycle == 1">Yes</mat-radio-button>
            <mat-radio-button class="example-margin" value="2" [checked]="reward_cycle == 2">No</mat-radio-button>
          </mat-radio-group>
          <mat-label fxFlex="20" class="pr-4">Reward All Completions ?</mat-label>
          <mat-radio-group aria-label="Select an option" fxFlex="40" class="pr-4" formControlName="reward_completion">
            <mat-radio-button class="example-margin" value="1" [checked]="reward_check == 1">Yes</mat-radio-button>
            <mat-radio-button class="example-margin" value="2" [checked]="reward_check == 2">Specific Completions Only
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" *ngIf="division == 2">
          <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
            <mat-label>Drip Campaign Cycle</mat-label>
            <select matNativeControl formControlName="compaign_cycle" (change)="compaignData($event.target.value)">
              <option selected value="weekly">
                Weekly
              </option>
              <option value="multi-bi_weekly">
                Bi-Weekly
              </option>
              <option value="monthly">
                Monthly
              </option>
            </select>
          </mat-form-field>

          <!-- <mat-label fxFlex="10">Attach Reward Offer(s)[may select multiple files]</mat-label>
          <input fxFlex="30" class="pr-4" type="file" accept="image/*" ngf-max-size="3MB" (change)="selectFile1($event)"
            #fileInput> -->
        </div>

        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" *ngIf="division == 2">
          <div fxFlex="70" class="pr-4">
          </div>
          <div fxFlex="30" class="pr-4">
            <img [src]="imgURLdrip" height="200" *ngIf="imgURLdrip">

          </div>
        </div>
</ng-container>


<h2 class="example-h2" *ngIf="division == 3">
    <span class="h2 mb-8 company_heading" style="margin-top: 15px;">
      <mat-icon (click)="buttontoggle1()" style="cursor: pointer;">{{buttonName1}}</mat-icon>
      Challenge View Reward Setup
    </span>
  </h2>
        <!-- <h2 class="example-h2" *ngIf="division == 3">Challenge View Reward Setup</h2> -->
       
        <ng-container *ngIf="show1">
        
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" *ngIf="division == 3">
          <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
            <mat-label>Reward Start - End Date</mat-label>
            <!-- <input matInput  type="text" formControlName="reward_start" placeholder="Select Date range" ngxDaterangepickerMd [locale]="{applyLabel: 'ok', format: 'DD/MM/YYYY',customRangeLabel: 'Custom range',customRangeDirection:true}" startKey="start" endKey="end"  [showCustomRangeLabel]="true"  (datesUpdated)="datesUpdated($event)" readonly=""> -->
            <input matInput type="text" ngxDaterangepickerMd [(ngModel)]="selected" placeholder="Choose date"
              (change)="change($event)" [ngModelOptions]="{standalone: true}" readonly="" />
            <mat-error *ngIf="reward_start == '' ">This field is required!</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
            <mat-label>Reward Type</mat-label>
            <select matNativeControl formControlName="reward_type1" (change)="rewardData1($event.target.value)">
              <option value="single_reward_program" selected>
                Single Reward Program Completion Reward
              </option>
              <option value="multi-section_completion">
                Multi-Section Completion Reward
              </option>
              <option value="no">
                No Reward
              </option>
            </select>
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" *ngIf="division == 3">
          <!--                                       <mat-label fxFlex="30" class="pr-4">Reward Cycle Runs From User Sign Up Date</mat-label>
          <mat-radio-group aria-label="Select an option" fxFlex="30" class="pr-4" formControlName="reward_cycle">
          <mat-radio-button class="example-margin" value="1" >Yes</mat-radio-button>
          <mat-radio-button class="example-margin" value="2" >No</mat-radio-button>
          </mat-radio-group> -->
          <mat-label fxFlex="20" class="pr-4">Reward All Completions ?</mat-label>
          <mat-radio-group aria-label="Select an option" fxFlex="40" class="pr-4" formControlName="reward_completion1">
            <mat-radio-button class="example-margin" value="1" (click)="Showreward('yes')"
              [checked]="reward_check == 1">Yes</mat-radio-button>
            <mat-radio-button class="example-margin" value="2" (click)="Showreward('specific')"
              [checked]="reward_check == 2">Specific Completions Only</mat-radio-button>
          </mat-radio-group>
        </div>

        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" *ngIf="division == 3">
          <div fxFlex="50" class="pr-4" *ngIf="showreward == 2"></div>

          <mat-form-field appearance="outline" fxFlex="50" class="pr-4" *ngIf="showreward == 1">
            <mat-label>Specific Reward</mat-label>
            <select matNativeControl formControlName="specific_reward" (change)="specificData($event.target.value)">
              <option value="" selected="">Select</option>
              <option value="1">1</option>
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="20">20</option>
            </select>
          </mat-form-field>

          <mat-label fxFlex="10">Attach Reward Offer(s)[may select multiple files]</mat-label>
         
          <input fxFlex="30" class="pr-4" type="file"  accept="image/*" ngf-max-size="3MB" (change)="selectFile2($event)"
            #fileInput multiple>
        </div>

        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" *ngIf="division == 3">
          <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
            <mat-label>Email Reminder Cycle</mat-label>
            <select matNativeControl formControlName="email_remainder" (change)="remainderData($event.target.value)">
              <option value="weekly" selected="weekly">Weekly</option>
              <option value="monthly">Monthly</option>
              <option value="off">off</option>
            </select>
          </mat-form-field>
          <div fxFlex="30" class="pr-4">
            <img [src]="imgURLchallenge" height="100" *ngIf="imgURLchallenge">

          </div>
        </div>
</ng-container>

        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" style="margin-top: 15px;">
          <button mat-raised-button  type="submit" 
          class="hover-button-loginpage button" style="background-color: #039be5;color:white">Update Client </button>
        </div>

      </form>
    </div>

  </div>
</div>