.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}
.example-h2 {
  margin: 10px;
}

.example-margin {
  margin: 0 10px;
}



.speedometer_icon a:before{font-family: FontAwesome;
  content: "\f0e4";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  position: absolute;
  left: -8px;
  top: -1px;}

  .report_top_hover:hover{color:#0677ad !important;}
  .report_top_hover a:hover{color:#0677ad !important;}
