<div id="forms" class="page-layout simple fullwidth" fxLayout="column">

  <!--      <div class="h1">
 Add Company
        </div> -->
        <!-- <mat-toolbar>
  <span> Add Topic </span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
</mat-toolbar> -->



<mat-toolbar class="mat-accent m-0">
  <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
      <span class="title dialog-title"> Add Topic </span>
      <button mat-icon-button (click)="onClose()" aria-label="Close dialog">
          <mat-icon>close</mat-icon>
      </button>
  </mat-toolbar-row>
</mat-toolbar>
    <!-- CONTENT -->
    <div class="content p-24">

 


        <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">

            <!-- REACTIVE FORM EXAMPLE -->

            <form  fxLayout="column" fxLayoutAlign="start"
                  fxFlex="1 0 auto" name="adduserForm" [formGroup]="addtopicForm" (ngSubmit)="addTopic()">

                <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-label style=" width: 36%;margin-bottom: 10px">Title*</mat-label>
                    <mat-form-field appearance="outline" fxFlex="100">
                       <input matInput formControlName="title"  required>
                        <mat-error *ngIf="hasError('title', 'required')">Please enter title! </mat-error>
                    </mat-form-field>

                      <mat-label style=" width: 36%;margin-bottom: 10px">Order*</mat-label>
                    <mat-form-field appearance="outline" fxFlex="100">
                       <input matInput formControlName="order"  required>
                        <mat-error *ngIf="hasError('order', 'required')">Please enter order! </mat-error>
                    </mat-form-field>

                          <!-- <mat-label style=" width: 36%;margin-bottom: 10px">Description</mat-label> -->
                         <!-- <mat-form-field appearance="outline" fxFlex="100">
                           <textarea matInput  formControlName="description" ></textarea>
                    </mat-form-field> -->
                    <mat-label style=" width: 36%;margin-bottom: 10px">Description</mat-label>
                        <div class="" style="border: 1px solid rgba(0, 0, 0, 0.6); width:100%;border-radius:5px">

                            <textarea matInput rows="10" cols="10" formControlName="description" ></textarea>
                        </div>

                     
                     <mat-label style=" width: 36%;margin-bottom: 10px">Image*</mat-label>

                      <input  type="file" id="avatar" accept="image/*" required ngf-max-size="3MB" (change)="selectFile($event)" #fileInput>
                     <div *ngIf="value == 0">
                    <mat-error >This field is required! </mat-error>

                    </div>
                      <mat-hint>Image size must be less than 3MB and image type must be JPG,PNG,GIF</mat-hint>

                      <mat-label style=" width: 36%;margin-bottom: 10px">Course Type</mat-label>
                      <input type="radio" value="1" name="course" formControlName="course" [checked]="check == 1">
                      <mat-label class="mr_radio">Regular</mat-label> 
                      <input type="radio" value="2" name="course" formControlName="course" [checked]="check == 2"><mat-label>Bonus</mat-label>
                </div>


                 <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" style="margin-top: 21px;">

                       <button mat-raised-button type="submit" class="hover-button-loginpage mat-accent button">Add</button>

                        <button mat-raised-button mat-button mat-dialog-close  class="hover-button-loginpage mat-accent button cancel">Close</button>
                 </div>


            </form>


        </div>

     </div> 
</div>       

        